Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

.github/CODEOWNERS:

# By default, backend team
*               @itsmycargo/backend

# Data related changes
**/db/migrate/* @itsmycargo/data
db/schema.rb    @itsmycargo/data

Dockerfile      @itsmycargo/sre
Jenkinsfile     @itsmycargo/sre

chore: Template Based Database Reload/Restore (#1763)
  config/database.yml
  lib/database_reloader.rb
  lib/database_util.rb
  lib/database_util/downloader.rb
  lib/database_util/restorer.rb
  lib/tasks/db/reload.rake
Owners: @itsmycargo/backend

IMC-3425: correctly pulling group id from sheet (#1761)
  engines/excel_data_services/app/services/excel_data_services/inserters/base.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/base_spec.rb
Owners: @itsmycargo/backend

IMC-3425: Attempt 2 - remoniving default from controller (#1766)
  app/controllers/admin/admin_base_controller.rb
Owners: @itsmycargo/backend

IMC-3432 - fix client creation (#1767)
  app/controllers/admin/clients_controller.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3434: fix for trucking query (#1769)
  engines/trucking/app/services/trucking/queries/base.rb
  engines/trucking/spec/services/trucking/queries/availability_spec.rb
Owners: @itsmycargo/backend

IMC-3437: malformed data in Inserter (#1774)
  engines/excel_data_services/app/services/excel_data_services/data_frames/combinators/truckings/rates.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/date_overlap_conflicts/base.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/restructurers/truckings/rates.rb
  engines/excel_data_services/spec/dummy/config/database.yml
  engines/excel_data_services/spec/services/excel_data_services/dataframes/restructurers/trucking/rates_spec.rb
Owners: @itsmycargo/backend

IMC-3436: Content Validation for Uploaders (#1772)
  engines/excel_data_services/app/services/excel_data_services/schemas/content_validator.rb
  engines/excel_data_services/app/services/excel_data_services/schemas/data/trucking_fees.yml
  engines/excel_data_services/app/services/excel_data_services/schemas/data/trucking_rates.yml
  engines/excel_data_services/app/services/excel_data_services/schemas/data/trucking_zones.yml
  engines/excel_data_services/app/services/excel_data_services/schemas/validator.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/content_validator_spec.rb
Owners: @itsmycargo/backend

IMC-3438: fixed stop issue (#1775)
  engines/pricings/app/services/pricings/preview.rb
Owners: @itsmycargo/backend

IMC-3423 - Sorting on backend for quotations index (#1762)
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/quotations/app/models/concerns/sortable.rb
  engines/quotations/app/models/quotations/quotation.rb
  engines/quotations/app/services/quotations/filter.rb
  engines/quotations/spec/models/quotations/quotation_spec.rb
Owners: @itsmycargo/backend

chore: use new wolfhound
  Jenkinsfile
Owners: @itsmycargo/sre

chore: use main library
  Jenkinsfile
Owners: @itsmycargo/sre

IMC-3452: explict cast to WKT (#1782)
  engines/trucking/app/services/trucking/queries/base.rb
Owners: @itsmycargo/backend

IMC-3452: second attempt (#1783)
  engines/locations/app/models/locations/location.rb
Owners: @itsmycargo/backend

IMC-3452: changin srid (#1785)
  config/routes.rb
  db/structure.sql
  engines/locations/app/models/locations/location.rb
  engines/locations/db/migrate/20201118173330_change_locations_bounds_srid.rb
  engines/migrator/lib/migrator/migrations/legacy/addresses.rb
  engines/migrator/lib/migrator/migrations/locations/locations/backup.rb
  engines/migrator/lib/migrator/migrations/locations/locations/delete.rb
  engines/migrator/lib/migrator/migrations/locations/locations/replace.rb
  engines/migrator/lib/migrator/migrations/locations/locations/update.rb
  engines/migrator/lib/migrator/migrations/quotations/quotations/update.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3542: spec fixes (#1786)
  engines/legacy/factories/legacy/bounds.rb
  engines/locations/app/models/locations/location.rb
  engines/locations/factories/locations_locations.rb
  spec/factories/locations.rb
  spec/locations/services/searchers/postal_city_spec.rb
  spec/quotations/models/quotations/tender_spec.rb
Owners: @itsmycargo/backend

chore: fix reek config
  .reek.yml
  engines/cargo/lib/cargo/engine.rb
Owners: @itsmycargo/backend

chore: bump ES memory
  Jenkinsfile
Owners: @itsmycargo/sre

IMC-3457 - accept any type for fee code (#1793)
  engines/excel_data_services/app/services/excel_data_services/validators/type_validity/pricing_one_fee_col_and_ranges.rb
Owners: @itsmycargo/backend

IMC-3435 - make hub name and country optional for saco_shipping uploader (#1779)
  engines/excel_data_services/app/services/excel_data_services/inserters/base.rb
  engines/excel_data_services/app/services/excel_data_services/inserters/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/validators/type_validity/saco_shipping.rb
  spec/excel_data_services/services/inserters/base_spec.rb
Owners: @itsmycargo/backend

fix: run all specs
  Jenkinsfile
Owners: @itsmycargo/sre

fix: ignore vendor/ruby on specs
  Gemfile
  Gemfile.lock
  Jenkinsfile
Owners: @itsmycargo/backend, @itsmycargo/sre

fix: skip gem specs for app
  Jenkinsfile
  spec/spec_helper.rb
Owners: @itsmycargo/sre, @itsmycargo/backend

fix: better exclude for rspec
  Jenkinsfile
Owners: @itsmycargo/sre

IMC-3447: convert non-strings to strings for the indicator that creates a note (#1796)
  engines/excel_data_services/app/services/excel_data_services/restructurers/saco_shipping.rb
Owners: @itsmycargo/backend

IMC-3461: validation preventing Companies from being created (#1799)
  engines/companies/app/models/companies/company.rb
Owners: @itsmycargo/backend

fix: missing bundle
  Gemfile.lock
Owners: @itsmycargo/backend

fix: erase flaky useless test
  engines/locations/spec/services/finders/postal_code_spec.rb
Owners: @itsmycargo/backend

IMC-3442 - Filterrific sorting on clients (#1787)
  engines/api/app/controllers/api/v1/clients_controller.rb
  engines/api/spec/controllers/api/v1/clients_controller_spec.rb
  engines/organizations/app/models/organizations/user.rb
  engines/organizations/spec/models/organizations/user_spec.rb
Owners: @itsmycargo/backend

chore: cleanup unused tables and columns (#1805)
  db/migrate/20201208195413_drop_unused_tables_and_columns.rb
  db/structure.sql
Owners: @itsmycargo/data, @itsmycargo/backend

chore: add more resources for CI (#1816)
  Jenkinsfile
Owners: @itsmycargo/sre

IMC-3485 - live status (#1815)
  db/data_schema.rb
  db/structure.sql
  engines/admiralty_tenants/app/controllers/admiralty_tenants/organizations_controller.rb
  engines/admiralty_tenants/app/views/admiralty_tenants/organizations/_organization_form.html.erb
  engines/offer_calculator/app/services/offer_calculator/service/shipment_update_handler.rb
  engines/offer_calculator/spec/services/offer_calculator/service/shipment_update_handler_spec.rb
  engines/organizations/app/models/organizations/organization.rb
  engines/organizations/app/workers/organizations/backfill_live_organizations_worker.rb
  engines/organizations/db/data/20210114094207_backfill_live_organizations.rb
  engines/organizations/db/migrate/20210113164927_add_live_to_organizations.rb
  engines/organizations/factories/organizations/organizations.rb
  spec/jobs/uploader_job_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3490: fixed Margin Creator (#1819)
  app/controllers/admin/margins_controller.rb
  engines/pricings/app/services/pricings/margin_creator.rb
  spec/controllers/admin/margins_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3486 - Set Billing =`test` if creator is blacklisted (#1814)
  app/workers/add_shopadmin_to_scope_blacklisted_emails_worker.rb
  app/workers/backfill_test_shipments_and_quotations_billing_worker.rb
  db/data/20210113133739_add_shopadmin_to_scope_blacklisted_emails.rb
  db/data/20210113134327_backfill_test_shipments_and_quotations_billing.rb
  engines/offer_calculator/app/services/offer_calculator/service/shipment_update_handler.rb
  engines/organizations/data/default_scope.yaml
  spec/workers/add_shopadmin_to_scope_blacklisted_emails_worker_spec.rb
  spec/workers/backfill_test_shipments_and_quotations_billing_worker_spec.rb
Owners: @itsmycargo/backend

IMC-3484: Backfilling Quotations with completed flag (#1818)
  app/workers/update_quotation_billing_worker.rb
  db/data/20210119131233_update_quotation_billing.rb
  db/data_schema.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  spec/workers/update_quotation_billing_worker_spec.rb
Owners: @itsmycargo/backend

IMC-3489 - Okargo Authentication and pricing upload (#1817)
  config/routes.rb
  config/settings.yml
  db/structure.sql
  engines/api/app/controllers/api/v1/uploads_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/controllers/api/v1/uploads_controller_spec.rb
  engines/organizations/app/models/organizations/integration_token.rb
  engines/organizations/db/migrate/20210118124755_create_organizations_integration_tokens.rb
  engines/organizations/factories/organizations/integration_tokens.rb
  engines/organizations/spec/models/organizations/integration_token_spec.rb
  spec/fixtures/files/dummy.json
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3496 - Backfill locodes (#1822)
  app/workers/delete_unused_hubs_and_nexuses_worker.rb
  db/data/20210121160550_backfill_locodes.rb
  db/data/20210125155701_delete_unused_hubs_and_nexuses.rb
  db/data_schema.rb
  spec/workers/delete_unused_hubs_and_nexuses_worker_spec.rb
Owners: @itsmycargo/backend

IMC-3510 - Ensure processing of latest uploads only (#1833)
  app/jobs/uploader_job.rb
  spec/jobs/uploader_job_spec.rb
Owners: @itsmycargo/backend

fix: get sidekiq behave & correct uploader job
  app/jobs/uploader_job.rb
  engines/excel_data_services/app/jobs/excel_data_services/uploader_job.rb
Owners: @itsmycargo/backend

fix: removed forgotten spec
  spec/jobs/uploader_job_spec.rb
Owners: @itsmycargo/backend

fix: reek complains
  engines/carta/lib/carta/engine.rb
  engines/treasury/lib/treasury/engine.rb
  lib/cobra_helper.rb
Owners: @itsmycargo/backend
