Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

POL-2750: Rate overview fix (#2202)
  engines/result_formatter/app/decorators/result_formatter/query_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/query_decorator_spec.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
Owners: @itsmycargo/backend

[POL-2739] Read Trucking::Location 'data' instead of other attributes in Trucking::Trucking location_info (#2205)
  app/controllers/admin/trucking_controller.rb
  engines/trucking/app/models/trucking/trucking.rb
  spec/controllers/admin/trucking_controller_spec.rb
Owners: @itsmycargo/backend

POL-2751: Scientist fixes (#2203)
  config/initializers/scientist.rb
Owners: @itsmycargo/backend

POL-2706 customer payment terms (#2209)
  db/structure.sql
  doc/engines/companies/models/companies_company.rst
  doc/index.rst
  engines/companies/app/models/companies/company.rb
  engines/companies/db/migrate/20210816152036_add_payment_terms_to_companies_company.rb
  engines/companies/factories/companies/companies.rb
  engines/companies/spec/models/companies/company_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

POL-2757: fix for saml login (#2213)
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
Owners: @itsmycargo/backend

POL-2749: missed transshipment attribute (#2214)
  doc/api/swagger.json
  engines/api/app/decorators/api/v2/route_section_decorator.rb
  engines/api/app/serializers/api/v2/route_section_serializer.rb
  engines/api/spec/serializers/api/v2/route_section_serializer_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2703 customer payment terms (#2215)
  app/assets/stylesheets/pdfs.scss.erb
  engines/pdf/app/views/pdf/partials/quotation/_payment_terms.html.erb
  engines/pdf/app/views/shipments/pdfs/quotations.pdf.erb
  engines/result_formatter/app/decorators/result_formatter/query_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/query_decorator_spec.rb
Owners: @itsmycargo/backend

POL-2694: Extractors Module (#2198)
  engines/excel_data_services/app/services/excel_data_services/v2/error.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/base.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/carrier.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/charge_category.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/country.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/group.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/itinerary.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/mandatory_charge.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/nexus.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/rate_basis.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/route_hubs.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/tenant_vehicle.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overrides.rb
  engines/excel_data_services/app/services/excel_data_services/v2/state.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/carrier_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/charge_category_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/country_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/group_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/itinerary_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/mandatory_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/nexus_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/rate_basis_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/route_hubs_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/tenant_vehicle_spec.rb
  spec/shared/extractor_setup.rb
Owners: @itsmycargo/backend

POL-2758: Updating handling of Transshipment info (#2216)
  app/workers/backfill_transshipment_on_route_sections_worker.rb
  config/routes.rb
  db/data/20210819104348_backfill_transshipment_on_route_sections.rb
  db/data_schema.rb
  db/structure.sql
  doc/api/swagger.json
  engines/api/app/decorators/api/v2/result_decorator.rb
  engines/api/app/serializers/api/v2/result_serializer.rb
  engines/api/spec/decorators/api/v2/result_decorator_spec.rb
  engines/api/spec/serializers/api/v2/result_serializer_spec.rb
  engines/journey/app/models/journey/error.rb
  engines/journey/app/models/journey/route_section.rb
  engines/journey/db/migrate/20210818141843_add_transshipment_to_route_section.rb
  engines/journey/factories/journey/route_sections.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/freight.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/routing/freight_spec.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2670: remaining snake case responses updated to camelCase (#2218)
  doc/api/swagger.json
  engines/api/app/serializers/api/v2/cargo_unit_serializer.rb
  engines/api/spec/serializers/api/v2/cargo_unit_serializer_spec.rb
Owners: @itsmycargo/backend

POL-2755: Prevent the error from happening on next retry (#2212)
  app/mailers/upload_mailer.rb
  engines/excel_data_services/app/jobs/excel_data_services/uploader_job.rb
  spec/mailers/upload_mailer_spec.rb
Owners: @itsmycargo/backend

POL-2770: fix for RouteSection response (#2221)
  engines/api/app/decorators/api/v2/route_section_decorator.rb
  engines/api/spec/serializers/api/v2/route_section_serializer_spec.rb
Owners: @itsmycargo/backend

[POL-2762] Migration to cleanup group memberships with no members (#2219)
  app/workers/remove_deleted_group_memberships_nil_members_worker.rb
  db/data/20210819183533_remove_deleted_group_memberships_nil_members.rb
  spec/workers/remove_deleted_group_memberships_nil_members_worker_spec.rb
Owners: @itsmycargo/backend

[POL-2702] Introduce payment_terms as a part of quotations and detailed result. (#2217)
  engines/api/app/decorators/api/v1/query_decorator.rb
  engines/api/app/decorators/api/v1/result_decorator.rb
  engines/api/app/serializers/api/v1/detailed_result_serializer.rb
  engines/api/app/serializers/api/v1/query_serializer.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
Owners: @itsmycargo/backend

POL-2754: correct use of Faraday Post (#2211)
  engines/carta/app/services/carta/bulk_index_updater.rb
  engines/carta/spec/services/carta/bulk_index_updater_spec.rb
Owners: @itsmycargo/backend

CHORE: increase memory (#2223)
  config/deploy/production/deployment-worker.yaml.erb
Owners: @itsmycargo/backend

POL-2704: payment terms added to Companies Uploader (#2222)
  engines/excel_data_services/app/services/excel_data_services/inserters/companies.rb
  engines/excel_data_services/app/services/excel_data_services/validators/header_checker.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/companies_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/restructurers/companies_spec.rb
  guides/sheets/companies.rst
Owners: @itsmycargo/backend

[POL-2779] Remove soft deleted users clients with mixed case email (#2225)
  app/workers/remove_users_clients_with_mixedcase_email_worker.rb
  db/data/20210823150729_remove_users_clients_with_mixedcase_email.rb
  spec/workers/remove_users_clients_with_mixedcase_email_worker_spec.rb
Owners: @itsmycargo/backend

POL-2724: Operators Module (#2220)
  engines/excel_data_services/app/services/excel_data_services/v2/operations/base.rb
  engines/excel_data_services/app/services/excel_data_services/v2/operations/dynamic_fees.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/operations/dynamic_fees_spec.rb
Owners: @itsmycargo/backend

[POL-2780] Adding DB constraint to check and fail if the email is not down-cased (#2226)
  db/migrate/20210824074647_add_check_constraint_for_users_client_to_enfore_lowercase_email.rb
  db/structure.sql
  spec/workers/remove_users_clients_with_mixedcase_email_worker_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

Generating sql file after changing the constraint name (#2229)
  db/structure.sql
Owners: @itsmycargo/data

POL-2763: support 0 and 1 as valid boolean types on upload (#2230)
  engines/excel_data_services/app/services/excel_data_services/validators/type_validity/types/optional_boolean_type.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/type_validity/types/optional_boolean_type_spec.rb
Owners: @itsmycargo/backend

POL-2740: Formatters Module (#2227)
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/base.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/carrier.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/charge_category.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/itinerary.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/remark.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/tenant_vehicle.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/carrier_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/charge_category_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/country_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/group_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/itinerary_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/mandatory_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/nexus_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/rate_basis_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/route_hubs_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/tenant_vehicle_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/carrier_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/charge_category_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/itinerary_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/pricing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/tenant_vehicle_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/operations/dynamic_fees_spec.rb
  spec/shared/extractor_setup.rb
Owners: @itsmycargo/backend

[POL-2781] Rspec to run completely even on a failure when a PR is created (#2224)
  .github/workflows/main.yml
Owners: @itsmycargo/sre

[POL-2774] Add query_id reference to journey_result (#2234)
  db/structure.sql
  engines/journey/db/migrate/20210825145528_add_query_to_result.rb
Owners: @itsmycargo/data

POL-2705 update customer payment term (#2228)
  config/routes.rb
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/companies_controller.rb
  engines/api/app/serializers/api/v2/company_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/companies_spec.rb
  engines/api/spec/controllers/api/v2/companies_controller_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

FIX: Dynamic dates in spec (#2236)
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/pricing_spec.rb
Owners: @itsmycargo/backend

POL-2793: Added payment Terms to V1::ClientsController Responses (#2233)
  doc/api/swagger.json
  engines/api/app/controllers/api/v1/clients_controller.rb
  engines/api/app/decorators/api/v1/client_decorator.rb
  engines/api/app/serializers/api/v1/client_serializer.rb
  engines/api/spec/api/api/clients_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2788: Allow Users::User to reset password (#2235)
  doc/api/swagger.json
  engines/notifications/app/mailers/notifications/application_mailer.rb
  engines/notifications/app/mailers/notifications/user_mailer.rb
  engines/notifications/spec/mailers/notifications/user_spec.rb
Owners: @itsmycargo/backend

[POL-2771] Add parent to journey query (#2241)
  db/structure.sql
  engines/journey/app/models/journey/query.rb
  engines/journey/db/migrate/20210826083534_add_parent_to_query.rb
  engines/journey/factories/journey/queries.rb
  engines/journey/spec/models/journey/query_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

POL-2745: Conflicts/Overlaps Module (#2232)
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/base.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/contained_by_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/contained_by_new.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/detector.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/extends_before_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/extends_past_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/resolver.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/overlaps/contained_by_existing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/overlaps/contained_by_new_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/overlaps/detector_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/overlaps/extends_before_existing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/overlaps/extends_past_existing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/overlaps/resolver_spec.rb
  engines/pricings/app/models/pricings/pricing.rb
  engines/pricings/app/services/pricings/manipulator_result.rb
Owners: @itsmycargo/backend

CHORE: add missing Schema Information comments (#2243)
  engines/api/app/models/api/query.rb
  engines/journey/app/models/journey/result.rb
Owners: @itsmycargo/backend

POL-2795: duplicating Companies Controller in V1 (#2239)
  config/routes.rb
  doc/api/swagger.json
  engines/api/app/controllers/api/v1/companies_controller.rb
  engines/api/app/serializers/api/v1/company_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/companies_spec.rb
  engines/api/spec/controllers/api/v1/companies_controller_spec.rb
  engines/journey/app/models/journey/error.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

CHORE: Improve Documentation (#2240)
  doc/Makefile
  doc/assets/header.tpl
  doc/conf.py
  doc/docs/index.rst
  doc/engines/companies/index.rst
  doc/engines/companies/models/companies_company.rst
  doc/engines/dependencies.rst
  doc/engines/index.rst
  doc/index.rst
  guides/Makefile
  guides/assets/header.tpl
  guides/conf.py
  guides/data/companies.rst
  guides/data/index.rst
  guides/index.rst
  guides/sheets/companies.rst
Owners: @itsmycargo/backend

POL-2797: Corrected persistence of expiration_date (#2244)
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/offer.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/offer_spec.rb
Owners: @itsmycargo/backend

POL-2796: Upload Model (#2247)
  app/controllers/admin/admin_base_controller.rb
  config/routes.rb
  db/structure.sql
  doc/api/swagger.json
  doc/engines/excel_data_services/index.rst
  engines/admiralty/app/admin/admiralty/uploads_admin.rb
  engines/api/app/controllers/api/v2/uploads_controller.rb
  engines/api/app/serializers/api/v2/uploads_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/uploads_spec.rb
  engines/api/spec/controllers/api/v2/uploads_controller_spec.rb
  engines/excel_data_services/app/jobs/excel_data_services/uploader_job.rb
  engines/excel_data_services/app/models/excel_data_services/application_record.rb
  engines/excel_data_services/app/models/excel_data_services/upload.rb
  engines/excel_data_services/db/migrate/20210826171456_create_excel_data_services_uploads.rb
  engines/excel_data_services/factories/excel_data_services/upload.rb
  engines/excel_data_services/lib/excel_data_services/engine.rb
  spec/controllers/admin/trucking_controller_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2812: correct status for errors in upload (#2249)
  engines/excel_data_services/app/jobs/excel_data_services/uploader_job.rb
Owners: @itsmycargo/backend

POL-2783 - Undefined method default_backend for nil class, when generating inside engine (#2248)
  Gemfile
  Gemfile.lock
  engines/legacy/legacy.gemspec
Owners: @itsmycargo/backend

POL-2813: fix for datetime bug (#2250)
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/offer.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/offer_spec.rb
  spec/controllers/admin/vehicle_types_controller_spec.rb
Owners: @itsmycargo/backend

[POL-2804] Adding reek to Gemfile and avoid reek failures to be posted as PR comments (#2253)
  .github/workflows/lint.yml
  Gemfile
  Gemfile.lock
Owners: @itsmycargo/sre, @itsmycargo/backend

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre
