Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

IMC-3793: Update IMO Class docs and validations (#1981)
  doc/api/swagger.json
  engines/api/spec/api/api/queries_spec.rb
  engines/journey/app/models/journey/commodity_info.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3796: Excluding Queries that already exists due to backfill (#1984)
  app/workers/backfill_journey_models_worker.rb
Owners: @itsmycargo/backend

POL-30: Handle deleted nexuses and hubs better (#1989)
  app/workers/backfill_journey_models_worker.rb
Owners: @itsmycargo/backend

IMC-3797: CommodityInfo fix for siren (#1986)
  db/structure.sql
  doc/api/swagger.json
  engines/journey/app/models/journey/commodity_info.rb
  engines/journey/db/migrate/20210326102626_change_nulls_on_commodity_info.rb
  engines/offer_calculator/app/services/offer_calculator/service/cargo_creator.rb
  engines/offer_calculator/spec/services/offer_calculator/service/cargo_creator_spec.rb
  rubocop_legacy.yml
  spec/swagger_helper.rb
Owners: @itsmycargo/data, @itsmycargo/backend

SRE-3 - Adjust Polaris Project (#1990)
  .github/workflows/danger.yaml
  .github/workflows/main.yml
  .github/workflows/pull_request.yaml
  .lefthook/commit-msg/template-checker
  .lefthook/jira_service.rb
  .lefthook/pre-push/verify
  .lefthook/prepare-commit-msg/jira-ticket-info
  DEVELOPMENT.md
  danger/jira/Dangerfile
  danger/pull_request/Dangerfile
  lefthook.yml
Owners: @itsmycargo/sre, @itsmycargo/backend

POL-19: Handle 503 on all Cart calls (#1988)
  engines/carta/app/services/carta/client.rb
  engines/carta/spec/services/carta/client_spec.rb
Owners: @itsmycargo/backend

IMC-3786: Fix for total dimensions validation and rendering (#1974)
  engines/api/app/decorators/api/v1/cargo_unit_decorator.rb
  engines/api/app/decorators/api/v1/legacy_cargo_unit_decorator.rb
  engines/api/spec/decorators/api/v1/cargo_unit_decorator_spec.rb
  engines/api/spec/decorators/api/v1/legacy_cargo_unit_decorator_spec.rb
  engines/journey/factories/journey/cargo_units.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_item_validation_service.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_validation_service.rb
  engines/offer_calculator/spec/services/offer_calculator/service/route_filter_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/validations/cargo_item_validation_service_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

IMC-3446: add guard clause (#1987)
  engines/excel_data_services/app/services/excel_data_services/loaders/uploader.rb
Owners: @itsmycargo/backend

POL-36: Agg LCL issues continue (#1995)
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/consolidated.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/unit.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_local_charge_aggregated_lcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_local_charge_lcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_pricing_aggregated_lcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_pricing_lcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_trucking_aggregated_lcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_trucking_lcl_spec.rb
  engines/result_formatter/app/decorators/result_formatter/cargo_decorator.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

POL-22: Correct Exchange Rate setter (#1993)
  app/workers/reapply_correct_exchange_rates_worker.rb
  db/data/20210330072953_reapply_correct_exchange_rates.rb
  db/data_schema.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/line_item_builder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/line_item_builder_spec.rb
  spec/workers/reapply_correct_exchange_rates_worker_spec.rb
Owners: @itsmycargo/backend

POL-38: Taking no tenders into account (#1996)
  app/workers/backfill_journey_models_worker.rb
Owners: @itsmycargo/backend

POL-40: escpaing quoted names (#1998)
  app/workers/backfill_journey_models_worker.rb
Owners: @itsmycargo/backend

POL-35: improving creation params for ClientsController (#1991)
  app/controllers/admin/clients_controller.rb
  engines/api/app/services/api/client_creation_service.rb
  engines/api/spec/services/api/client_creation_service_spec.rb
  rubocop_legacy.yml
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend

POL-27: required charge categories in Organization Trestle (#1992)
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/models/admiralty/organization.rb
Owners: @itsmycargo/backend

POL-22: Final fix for currency issue (#1997)
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

POL-40: proper empty string fallback (#2001)
  app/workers/backfill_journey_models_worker.rb
Owners: @itsmycargo/backend

POL-19: catch 503 before parsing (#2002)
  engines/carta/app/services/carta/client.rb
  engines/carta/spec/services/carta/client_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

IMC-3794: Make Okargo endpoint ready (#1983)
  config/settings/development.yml
  config/settings/production.yml
  doc/api/swagger.json
  engines/api/app/controllers/api/v1/uploads_controller.rb
  engines/api/spec/api/api/uploads_spec.rb
  engines/api/spec/controllers/api/v1/uploads_controller_spec.rb
  engines/organizations/app/models/organizations/integration_token.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-42: Raise OCS error when record invalid (#2003)
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/result_builder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/result_builder_spec.rb
Owners: @itsmycargo/backend

POL-1864: added nullable to Commodity Info swagger definition (#2006)
  doc/api/swagger.json
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2381: Backfill for existing Journey::Queries (#2008)
  app/workers/backfill_load_type_on_journey_queries_worker.rb
  db/data/20210408083233_backfill_load_type_on_journey_queries.rb
  db/data_schema.rb
  engines/journey/app/models/journey/query.rb
  spec/workers/backfill_load_type_on_journey_queries_worker_spec.rb
Owners: @itsmycargo/backend

POL-2382: Setting load type in Backfill (#2007)
  app/workers/backfill_journey_models_worker.rb
Owners: @itsmycargo/backend

POL-1863: Used deleted if nexus has been removed (#2005)
  app/workers/backfill_journey_models_worker.rb
Owners: @itsmycargo/backend

POL-43: fix for complex truckings (#2004)
  engines/excel_data_services/app/services/excel_data_services/data_frames/restructurers/truckings/metadata.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/restructurers/truckings/metadata_spec.rb
Owners: @itsmycargo/backend

IMC-3811: Wildcard Review Apps (#2000)
  app/controllers/application_controller.rb
  doc/api/swagger.json
  engines/api/app/controllers/api/api_controller.rb
  engines/api/spec/api/api/organization_spec.rb
  engines/api/spec/controllers/api/api_controller_spec.rb
  engines/organizations/factories/organizations/domains.rb
Owners: @itsmycargo/backend

POL-2384 - Settings Endpoint (#2009)
  doc/api/swagger.json
  engines/api/app/controllers/api/v1/settings_controller.rb
  engines/api/app/serializers/api/v1/setting_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/settings_spec.rb
  rubocop_legacy.yml
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-22: Final correction of bug (#2010)
  engines/journey/spec/shared/result.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
Owners: @itsmycargo/backend

POL-22: final money loop found and corrected (#2012)
  engines/api/app/services/api/legacy_quote.rb
  engines/api/spec/services/api/legacy_quote_spec.rb
Owners: @itsmycargo/backend

CHORE: up memoised helper limit (#2013)
  .rubocop.yml
Owners: @itsmycargo/backend

POL-2548: limiting ExchangeRate scopes (#2015)
  engines/treasury/app/models/treasury/exchange_rate.rb
Owners: @itsmycargo/backend

POL-2383: null constraint (#2016)
  config/routes.rb
  db/structure.sql
  engines/api/app/models/api/query.rb
  engines/journey/app/models/journey/query.rb
  engines/journey/db/migrate/20210412145911_add_null_constraint_to_load_type.rb
  spec/workers/backfill_load_type_on_journey_queries_worker_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-22: Inverted saved exchange rate to present correct values to customer (#2014)
  app/controllers/shipments_controller.rb
  engines/api/app/serializers/api/v1/result_serializer.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/app/services/result_formatter/exchange_rate_service.rb
  engines/result_formatter/spec/services/result_formatter/exchange_rate_service_spec.rb
  spec/controllers/shipments_controller_spec.rb
Owners: @itsmycargo/backend

POL-5: return nil if volume is NA (#2019)
  engines/journey/app/models/journey/cargo_unit.rb
  engines/journey/spec/models/journey/cargo_unit_spec.rb
  engines/notifications/app/services/notifications/offer_subject_line.rb
  engines/notifications/spec/services/notifications/offer_subject_line_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

POL-2552: Correcting Chargeable Weight logic in PDF (#2021)
  engines/result_formatter/app/decorators/result_formatter/cargo_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/cargo_decorator_spec.rb
Owners: @itsmycargo/backend

POL-2551 - Redirect SAML login back to referer (#2020)
  bin/saml-server
  engines/idp/app/controllers/idp/saml_controller.rb
  engines/idp/spec/requests/idp/saml_controller_spec.rb
  lib/tasks/saml/init.rake
Owners: @itsmycargo/backend

POL-1: case sensitivity and emails (#2018)
  app/workers/downcase_all_emails_worker.rb
  db/data/20210414132502_downcase_all_emails.rb
  db/data_schema.rb
  engines/api_auth/spec/requests/api_auth/tokens_controller_spec.rb
  engines/users/app/models/users/base.rb
  engines/users/app/models/users/client.rb
  engines/users/config/initializers/sorcery.rb
  engines/users/spec/models/users/client_spec.rb
Owners: @itsmycargo/backend

POL-2555: fixed typo (#2025)
  app/workers/downcase_all_emails_worker.rb
Owners: @itsmycargo/backend

POL-2556: SAML fix (#2027)
  engines/idp/app/controllers/idp/saml_controller.rb
Owners: @itsmycargo/backend

POL-1357: fixed counterpart hub expansion with variable column headers (#2023)
  engines/excel_data_services/app/services/excel_data_services/restructurers/local_charges.rb
  engines/excel_data_services/spec/services/excel_data_services/restructurers/local_charges_spec.rb
Owners: @itsmycargo/backend

POL-2546: update password in update endpoint (#2022)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/profiles_controller.rb
  engines/api/spec/api/api/profiles_spec.rb
  engines/api/spec/controllers/api/v2/profiles_controller_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre
