Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

IMC-3746 - Organization Endpoint (#1938)
  bin/docs-serve
  doc/api/swagger.json
  engines/api/app/controllers/api/api_controller.rb
  engines/api/app/controllers/api/v1/organizations_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/organization_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3740: using same date values in route filter as rest of process (#1936)
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/offer_calculator/app/services/offer_calculator/service/route_filter.rb
  engines/offer_calculator/spec/services/offer_calculator/service/route_filter_spec.rb
Owners: @itsmycargo/backend

IMC-3751 - correct docs#item schema (#1946)
  doc/api/swagger.json
  engines/api/spec/api/api/queries_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3753: Fix for OfferCreation (#1945)
  engines/wheelhouse/app/services/wheelhouse/offer_builder.rb
  engines/wheelhouse/spec/services/wheelhouse/offer_builder_spec.rb
Owners: @itsmycargo/backend

IMC-3750 - make inserters use counterpart_locode column (#1943)
  engines/excel_data_services/app/services/excel_data_services/inserters/local_charges.rb
  engines/excel_data_services/app/services/excel_data_services/restructurers/local_charges.rb
  engines/excel_data_services/app/services/excel_data_services/restructurers/saco_shipping.rb
  engines/excel_data_services/app/services/excel_data_services/rows/local_charges.rb
  engines/excel_data_services/app/services/excel_data_services/validators/insertable_checks/local_charges.rb
  engines/excel_data_services/factories/excel_data_parsed.rb
  engines/excel_data_services/factories/excel_data_restructured.rb
  engines/excel_data_services/spec/services/inserters/local_charges_spec.rb
Owners: @itsmycargo/backend

IMC-3524 - update query with user id after login (#1944)
  app/controllers/shipments_controller.rb
  spec/controllers/shipments_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3756: Api adjustments for Bridge usability (#1948)
  engines/api/app/controllers/api/v1/equipments_controller.rb
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/spec/controllers/api/v1/equipments_controller_spec.rb
  engines/wheelhouse/app/services/wheelhouse/equipment_service.rb
  engines/wheelhouse/app/services/wheelhouse/route_finder_service.rb
  engines/wheelhouse/app/services/wheelhouse/validation_service.rb
Owners: @itsmycargo/backend

IMC-3739: Correcting IMO class implementation (#1940)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/cargo_creator.rb
  engines/offer_calculator/spec/services/offer_calculator/service/cargo_creator_spec.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
  engines/wheelhouse/spec/services/wheelhouse/query_service_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3734: fixed CargoItemType swagger spec (#1952)
  doc/api/swagger.json
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3758: Exchange Rate on LineItem (#1951)
  app/workers/back_fill_exchange_rate_onto_line_items_worker.rb
  db/data/20210312115047_back_fill_exchange_rate_onto_line_items.rb
  db/data_schema.rb
  db/structure.sql
  engines/journey/app/models/journey/line_item.rb
  engines/journey/db/migrate/20210312114929_add_exchange_rate_to_journey_line_item.rb
  engines/journey/factories/journey/line_items.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/line_item_builder.rb
  spec/workers/back_fill_exchange_rate_onto_line_items_worker_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3752 - Queries#create params (#1949)
  config/routes.rb
  db/structure.sql
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/journey/app/models/journey/cargo_unit.rb
  engines/journey/db/migrate/20210315112012_add_container_to_colli_types.rb
  engines/offer_calculator/app/services/offer_calculator/service/cargo_creator.rb
  engines/offer_calculator/spec/services/offer_calculator/service/cargo_creator_spec.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
  engines/wheelhouse/spec/services/wheelhouse/query_service_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend, @itsmycargo/data

chore: better redoc options (#1956)
  config/deploy/production/deployment-redoc.yaml.erb
Owners: @itsmycargo/backend

IMC-3768: Backfilling Treasury ExchangeRate data (#1954)
  app/workers/backfill_treasury_exchange_rates_worker.rb
  db/data/20210315121101_backfill_treasury_exchange_rates.rb
  doc/api/swagger.json
  spec/workers/backfill_treasury_exchange_rates_worker_spec.rb
Owners: @itsmycargo/backend

IMC-3734: Dashboard null values (#1960)
  doc/api/swagger.json
  engines/api/spec/api/api/dashboard_spec.rb
Owners: @itsmycargo/backend

IMC-3565 - Offers#create endpoint: adjustments + specs + docs (#1933)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/offers_controller.rb
  engines/api/app/serializers/api/v2/offer_serializer.rb
  engines/api/spec/api/api/offers_spec.rb
  engines/api/spec/controllers/api/v2/offers_controller_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3759: Using LineItem ExchangeRates (#1955)
  app/controllers/shipments_controller.rb
  engines/api/app/serializers/api/v1/result_serializer.rb
  engines/api/app/services/api/legacy_quote.rb
  engines/api/spec/controllers/api/v1/tenders_controller_spec.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/app/services/result_formatter/exchange_rate_service.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/services/result_formatter/exchange_rate_service_spec.rb
  spec/controllers/shipments_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3739: Correcting docs for Quotations#create (#1958)
  doc/api/swagger.json
  engines/api/spec/api/api/quotations_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3760 - saml error handling (#1953)
  engines/idp/app/controllers/idp/saml_controller.rb
  engines/idp/app/events/idp/saml_successful_login.rb
  engines/idp/app/events/idp/saml_unsuccessful_login.rb
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/requests/idp/saml_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3771: Volume attribute and Total Dims fix for Queries Create (#1957)
  db/data/20210317081444_backfill_volume_on_cargo_units.rb
  db/data_schema.rb
  db/structure.sql
  doc/api/swagger.json
  engines/api/app/decorators/api/v1/legacy_cargo_unit_decorator.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/journey/app/models/journey/cargo_unit.rb
  engines/journey/db/migrate/20210317075546_add_volume_to_journey_cargo_units.rb
  engines/journey/db/migrate/20210317084132_remove_null_false_on_cargo_unit.rb
  engines/journey/factories/journey/cargo_units.rb
  engines/offer_calculator/app/services/offer_calculator/service/cargo_creator.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/cargo.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/consolidated.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/unit.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/request.rb
  engines/offer_calculator/spec/services/offer_calculator/service/cargo_creator_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/route_filter_spec.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
  engines/wheelhouse/spec/services/wheelhouse/query_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/validation_service_spec.rb
  spec/controllers/admin/shipments_controller_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3761: Error handling in Trucking Uploaders (#1959)
  app/controllers/admin/admin_base_controller.rb
  app/controllers/admin/charge_categories_controller.rb
  app/controllers/admin/clients_controller.rb
  app/controllers/admin/hubs_controller.rb
  app/controllers/admin/local_charges_controller.rb
  app/controllers/admin/margins_controller.rb
  app/controllers/admin/notes_controller.rb
  app/controllers/admin/pricings_controller.rb
  app/controllers/admin/schedules_controller.rb
  app/controllers/admin/trucking_controller.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/confirmations/trucking/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/importers/base.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/runners/base.rb
  engines/excel_data_services/app/services/excel_data_services/expanders/zone_ranges/single_country_range_expanded.rb
  engines/excel_data_services/app/services/excel_data_services/validators/extractions/hub.rb
  engines/excel_data_services/spec/services/dataframes/runners/blocks_spec.rb
  engines/excel_data_services/spec/services/dataframes/runners/distance_spec.rb
  engines/excel_data_services/spec/services/dataframes/runners/zipcode_spec.rb
  engines/excel_data_services/spec/services/expanders/zone_range_spec.rb
  engines/excel_data_services/spec/services/validators/extractions/hub_spec.rb
  spec/controllers/admin/trucking_controller_spec.rb
  spec/shared/trucking_basic_setup.rb
Owners: @itsmycargo/backend

IMC-3773: Fix for Employees Restructurer (#1961)
  engines/excel_data_services/app/services/excel_data_services/restructurers/employees.rb
  engines/excel_data_services/spec/services/restructurers/employees_spec.rb
Owners: @itsmycargo/backend

fix: migration order corrected (#1962)
  db/data/20210317084140_backfill_volume_on_cargo_units.rb
  db/data_schema.rb
Owners: @itsmycargo/backend

IMC-3775: backfill missing volume unit (#1963)
  db/migrate/20210319101738_backfill_volume_unit_on_cargo_units.rb
  db/structure.sql
Owners: @itsmycargo/data

IMC-3774: Error Handling in Employees Uploader (#1964)
  engines/excel_data_services/app/services/excel_data_services/inserters/companies.rb
  engines/excel_data_services/app/services/excel_data_services/inserters/employees.rb
  engines/excel_data_services/app/services/excel_data_services/restructurers/employees.rb
  engines/excel_data_services/spec/services/inserters/employees_spec.rb
  engines/excel_data_services/spec/services/restructurers/employees_spec.rb
Owners: @itsmycargo/backend

IMC-3776: always find correct hub or none (#1965)
  engines/excel_data_services/app/services/excel_data_services/base.rb
  engines/excel_data_services/app/services/excel_data_services/inserters/base.rb
  engines/excel_data_services/app/services/excel_data_services/restructurers/base.rb
  engines/excel_data_services/app/services/excel_data_services/validators/base.rb
  engines/excel_data_services/factories/excel_data_restructured.rb
  engines/excel_data_services/spec/services/base_spec.rb
  engines/excel_data_services/spec/services/inserters/local_charges_spec.rb
  engines/excel_data_services/spec/services/validators/insertable_checks/local_charges_spec.rb
Owners: @itsmycargo/backend

IMC-3769: fix for future bookings (#1969)
  engines/offer_calculator/app/services/offer_calculator/service/query_generator.rb
  engines/offer_calculator/app/services/offer_calculator/service/quote_route_builder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/quote_route_builder_spec.rb
Owners: @itsmycargo/backend

IMC-3772: Fix for token generation in dipper (#1970)
  app/controllers/application_controller.rb
  spec/controllers/users_controller_spec.rb
Owners: @itsmycargo/backend

chore: compare OpenAPI to base ref, not live docs (#1971)
  .github/workflows/main.yml
Owners: @itsmycargo/sre

IMC-3679: Validatiing UUID's in trucking uploader (#1968)
  engines/excel_data_services/app/services/excel_data_services/data_frames/data_providers/trucking/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/sanitizers/trucking/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/validators/trucking/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/validators/expansions/base.rb
  engines/excel_data_services/app/services/excel_data_services/validators/type_validity/types/uuid_type.rb
  engines/excel_data_services/spec/services/dataframes/data_providers/trucking/metadata_spec.rb
  engines/excel_data_services/spec/services/dataframes/runners/blocks_spec.rb
Owners: @itsmycargo/backend

CHORE: Updating missing Colli Type (#1973)
  doc/api/swagger.json
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3716: Added ChargeCategories to Trestle (#1966)
  engines/admiralty/app/admin/admiralty/charge_categories_admin.rb
  engines/admiralty/config/routes.rb
  engines/legacy/app/models/legacy/charge_category.rb
Owners: @itsmycargo/backend

IMC-3669: Trucking View page too slow (#1972)
  app/controllers/admin/trucking_controller.rb
  engines/trucking/app/models/trucking/trucking.rb
  engines/trucking/app/services/trucking/queries/find_by_hub_ids.rb
  engines/trucking/spec/models/trucking/trucking_spec.rb
  engines/trucking/spec/services/trucking/queries/find_by_hub_ids_spec.rb
  spec/controllers/admin/trucking_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3777 - profiles endpoints (#1967)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/profiles_controller.rb
  engines/api/app/serializers/api/v2/profile_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/profiles_spec.rb
  engines/api/spec/controllers/api/v2/profiles_controller_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

CHORE: udpate mimemagic (#1978)
  Gemfile.lock
Owners: @itsmycargo/backend

CHORE: fix cargoClass in docs (#1977)
  doc/api/swagger.json
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3552 - carta new client (#1975)
  config/settings.yml
  config/settings/test.yml
  engines/carta/app/services/carta/client.rb
  engines/carta/spec/services/carta/client_spec.rb
Owners: @itsmycargo/backend

CHORE: activate rubocop (#1947)
  .flayignore
  .github/workflows/main.yml
  .pronto.yml
  .reek.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
Owners: @itsmycargo/backend, @itsmycargo/sre

IMC-3224: Journey Backfill (#1834)
  app/workers/backfill_journey_models_worker.rb
  db/data/20210317171020_backfill_journey_models.rb
  db/data_schema.rb
  engines/treasury/app/models/treasury/exchange_rate.rb
  engines/treasury/spec/models/treasury/exchange_rate_spec.rb
  gems/money_cache/lib/money_cache/conversion.rb
  gems/money_cache/lib/money_cache/converter.rb
  gems/money_cache/spec/money_cache/converter_spec.rb
  spec/workers/back_fill_exchange_rate_onto_line_items_worker_spec.rb
Owners: @itsmycargo/backend

IMC-3779: Queries#index endpoint and docs (#1976)
  .rubocop.yml
  doc/api/swagger.json
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/models/api/query.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  rubocop_legacy.yml
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

hotfix: mimemagic yank version *again* (#1982)
  Brewfile
  Dockerfile
  Gemfile
  Gemfile.lock
Owners: @itsmycargo/backend, @itsmycargo/sre

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre
