Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

POL-2708: fixed transshipment issue (#2161)
  engines/excel_data_services/app/services/excel_data_services/restructurers/saco_shipping.rb
  engines/excel_data_services/app/services/excel_data_services/validators/type_validity/types/fee_type.rb
  engines/excel_data_services/factories/excel_data_restructured.rb
  engines/excel_data_services/spec/services/excel_data_services/restructurers/saco_shipping_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/type_validity/types/fee_type_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

POL-2716: backfilling terminals on hubs (#2168)
  app/workers/backfill_terminals_on_hubs_worker.rb
  db/data/20210728130359_backfill_terminals_on_hubs.rb
  spec/workers/backfill_terminals_on_hubs_worker_spec.rb
Owners: @itsmycargo/backend

POL-2662: Admiralty Carrier Editing (#2164)
  Gemfile.lock
  doc/engines/graph.puml
  engines/admiralty/Gemfile.runtime
  engines/admiralty/admiralty.gemspec
  engines/admiralty/app/admin/admiralty/carriers_admin.rb
  engines/admiralty/app/models/admiralty/carrier.rb
  engines/admiralty/config/routes.rb
  engines/excel_data_services/Gemfile.runtime
  engines/excel_data_services/app/services/excel_data_services/inserters/base.rb
  engines/excel_data_services/excel_data_services.gemspec
  engines/legacy/app/models/legacy/carrier.rb
  engines/routing/app/models/routing/carrier.rb
  engines/routing/factories/routing/carriers.rb
  spec/factories/carriers.rb
Owners: @itsmycargo/backend

POL-2717: creating destination_terminal attribute for inserter logic (#2169)
  engines/excel_data_services/app/services/excel_data_services/base.rb
  engines/excel_data_services/app/services/excel_data_services/inserters/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/restructurers/saco_shipping.rb
  engines/excel_data_services/app/services/excel_data_services/rows/pricing.rb
  engines/excel_data_services/factories/excel_data_restructured.rb
  engines/excel_data_services/spec/services/excel_data_services/base_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/pricing_edge_cases_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/pricing_spec.rb
Owners: @itsmycargo/backend

POL-2696: Updated Coordinates module for v2 requirements (#2155)
  .reek.yml
  engines/excel_data_services/app/services/excel_data_services/v2/files/coordinates/base.rb
  engines/excel_data_services/app/services/excel_data_services/v2/files/coordinates/dynamic.rb
  engines/excel_data_services/app/services/excel_data_services/v2/files/coordinates/list.rb
  engines/excel_data_services/app/services/excel_data_services/v2/files/coordinates/range.rb
  engines/excel_data_services/app/services/excel_data_services/v2/files/coordinates/relative.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/coordinates/base_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/coordinates/dynamic_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/coordinates/list_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/coordinates/range_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/coordinates/relative_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/coordinates/base_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/coordinates/dynamic_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/coordinates/list_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/coordinates/range_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/coordinates/relative_spec.rb
  spec/fixtures/files/excel/example_pricings.xlsx
Owners: @itsmycargo/backend

POL-2718: Missing GeoIds in Query response (#2170)
  doc/api/swagger.json
  engines/api/app/serializers/api/v2/query_serializer.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
Owners: @itsmycargo/backend

POL-2689: Run dummy skeleton side by side with legacy calculation (#2162)
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/mailers/notifications_mailer.css
  app/mailers/scientist_mailer.rb
  app/views/layouts/notification.html.erb
  app/views/scientist_mailer/complete_email.html.erb
  config/initializers/scientist.rb
  doc/engines/graph.svg
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/result_set_builder.rb
  spec/mailers/previews/scientist_mailer_preview.rb
  spec/mailers/scientist_mailer_spec.rb
Owners: @itsmycargo/backend

POL-2714: Correction of invalid Pricings::Fees using fallback ChargeCategory (#2167)
  app/workers/clear_all_invalid_pricings_fees_worker.rb
  db/data/20210727122322_clear_all_invalid_pricings_fees.rb
  db/data_schema.rb
Owners: @itsmycargo/backend

POL-2720: Upgrading LocalCharges controller to improve Dipper Table (#2172)
  Gemfile.lock
  app/controllers/admin/local_charges_controller.rb
  doc/engines/graph.puml
  engines/legacy/app/models/legacy/local_charge.rb
  engines/legacy/legacy.gemspec
  spec/controllers/admin/local_charges_controller_spec.rb
Owners: @itsmycargo/backend

POL-2699: Restoring soft deleted Companies::Memberships (#2157)
  app/controllers/admin/companies_controller.rb
  spec/controllers/admin/companies_controller_spec.rb
Owners: @itsmycargo/backend

POL-2723: Admiralty organization Creator Fix (#2175)
  config/routes.rb
  db/data_schema.rb
  db/structure.sql
  doc/engines/graph.puml
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/models/admiralty/carrier.rb
  engines/admiralty/app/models/admiralty/organization.rb
  engines/organizations/db/migrate/20210730110214_add_default_value_to_scope.rb
  engines/pricings/app/models/pricings/margin.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2664: added unitPrice and unit attributes to Charge response (#2173)
  doc/api/swagger.json
  engines/api/app/serializers/api/v2/charge_serializer.rb
  engines/api/spec/serializers/api/v2/charge_serializer_spec.rb
Owners: @itsmycargo/backend

POL-2725: Carta Client errors missing from en locale (#2177)
  config/locales/en.yml
Owners: @itsmycargo/backend

POL-2727: removed cargo units controller auth guard (#2178)
  engines/api/app/controllers/api/v2/cargo_units_controller.rb
  engines/api/spec/controllers/api/v2/cargo_units_controller_spec.rb
Owners: @itsmycargo/backend

POL-2715: applying foreign key successfully (#2174)
  db/structure.sql
  engines/pricings/app/models/pricings/fee.rb
  engines/pricings/db/migrate/20210727122646_add_charge_category_foreign_key_to_fees.rb
  engines/pricings/db/migrate/20210727123338_validate_charge_category_foreign_key_on_fees.rb
  engines/pricings/db/migrate/20210727130923_change_charge_category_id_nullfalse_on_fees.rb
Owners: @itsmycargo/data, @itsmycargo/backend

POL-2728: Theme editing on Admiralty (#2180)
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/admin/admiralty/themes_admin.rb
Owners: @itsmycargo/backend

POL-2688: searching in V2::Queries index endpoint (#2179)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/models/api/query.rb
  engines/api/factories/api/query.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/models/api/client_spec.rb
  engines/api/spec/models/api/query_spec.rb
  engines/journey/app/models/journey/query.rb
  engines/journey/factories/journey/commodity_infos.rb
Owners: @itsmycargo/backend

POL-2665: V2::Carrier API Responses (#2171)
  Gemfile.lock
  doc/api/swagger.json
  doc/engines/graph.puml
  engines/api/Gemfile.runtime
  engines/api/api.gemspec
  engines/api/app/controllers/api/v2/carriers_controller.rb
  engines/api/app/controllers/api/v2/results_controller.rb
  engines/api/app/decorators/api/v2/result_decorator.rb
  engines/api/app/models/api/carrier.rb
  engines/api/app/serializers/api/v2/carrier_serializer.rb
  engines/api/app/serializers/api/v2/result_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/carriers_spec.rb
  engines/api/spec/controllers/api/v2/carriers_controller_spec.rb
  engines/api/spec/controllers/api/v2/results_controller_spec.rb
  engines/api/spec/decorators/api/v2/result_decorator_spec.rb
  engines/api/spec/serializers/api/v2/carrier_serializer_spec.rb
  engines/api/spec/serializers/api/v2/result_serializer_spec.rb
  engines/journey/spec/shared/services.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/routing/factories/routing/carriers.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2692: Missed Ranges in Trucking (#2176)
  config/locales/en.yml
  engines/offer_calculator/app/services/offer_calculator/errors.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee_inputs.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/lookups.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/ranges/fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/ranges/finder.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/ranges/rate_row.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/truckings.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/ranges/fee_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/ranges/rate_row_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/truckings_spec.rb
  engines/trucking/factories/trucking/truckings.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

Chore: Files Visibility on Admiralty (#2183)
  engines/admiralty/app/admin/admiralty/files_admin.rb
  engines/admiralty/app/admin/admiralty/pricings_admin.rb
Owners: @itsmycargo/backend

POL-2674 - Duplication of Users on Clients Center (#2186)
  app/controllers/admin/clients_controller.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend

Chore: Allow Exact Queries on Admiralty (#2188)
  engines/admiralty/app/admin/admiralty/admins_admin.rb
  engines/admiralty/app/admin/admiralty/carriers_admin.rb
  engines/admiralty/app/admin/admiralty/charge_categories_admin.rb
  engines/admiralty/app/admin/admiralty/clients_admin.rb
  engines/admiralty/app/admin/admiralty/countries_admin.rb
  engines/admiralty/app/admin/admiralty/domains_admin.rb
  engines/admiralty/app/admin/admiralty/files_admin.rb
  engines/admiralty/app/admin/admiralty/margins_admin.rb
  engines/admiralty/app/admin/admiralty/max_dimensions_bundles_admin.rb
  engines/admiralty/app/admin/admiralty/memberships_admin.rb
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/admin/admiralty/pricings_admin.rb
  engines/admiralty/app/admin/admiralty/queries_admin.rb
  engines/admiralty/app/admin/admiralty/subscriptions_admin.rb
  engines/admiralty/app/admin/admiralty/tenant_cargo_item_types_admin.rb
  engines/admiralty/app/admin/admiralty/themes_admin.rb
Owners: @itsmycargo/backend

POL-2732 - Ability to Select Default Shop Fixed Currency (#2189)
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
Owners: @itsmycargo/backend

POL-2736: Missing load type search option and case correction for params (#2187)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/models/api/query.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
Owners: @itsmycargo/backend

POL-2737: Correct Persistence of Carrier code to Name and backfill (#2191)
  app/workers/backfill_carrier_attributes_with_names_worker.rb
  db/data/20210806123929_backfill_carrier_attributes_with_names.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/lcl_door_to_door_spec.rb
  spec/shared/complete_route_with_trucking.rb
  spec/workers/backfill_carrier_attributes_with_names_worker_spec.rb
Owners: @itsmycargo/backend

POL-2738: Pricings#route API to return valid pricings even with future effective dates (#2194)
  app/controllers/admin/pricings_controller.rb
  spec/controllers/admin/pricings_controller_spec.rb
Owners: @itsmycargo/backend

POL-2695: Moving and renaming Sanitzer classes (#2154)
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/base.rb
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/boolean.rb
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/date.rb
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/decimal.rb
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/downcase.rb
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/integer.rb
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/text.rb
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/upcase.rb
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/zone.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/sanitizers/boolean_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/sanitizers/decimal_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/sanitizers/downcase_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/sanitizers/integer_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/sanitizers/text_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/sanitizers/upcase_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/sanitizers/zone_spec.rb
Owners: @itsmycargo/backend

chore: Confluence Documentation (#2190)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main.yml
  .gitignore
  doc/Makefile
  doc/conf.py
  doc/engines/dependencies.rst
  doc/engines/graph.png
  doc/engines/graph.svg
  doc/engines/index.rst
  doc/index.rst
  doc/requirements.txt
  guides/Makefile
  guides/admiralty/index.rst
  guides/admiralty/organisations.rst
  guides/admiralty/searching.rst
  guides/conf.py
  guides/index.rst
  guides/requirements.txt
  lib/cobra_helper.rb
Owners: @itsmycargo/sre, @itsmycargo/backend

POL-2669: Backfill to update Carta counter index with geo ids (#2184)
  app/workers/backfill_quoted_geo_ids_for_index_worker.rb
  db/data/20210722085459_backfill_quoted_geo_ids_for_index.rb
  engines/api/app/models/api/carrier.rb
  engines/carta/app/services/carta/client.rb
  engines/carta/app/services/carta/connection.rb
  engines/carta/app/services/carta/result.rb
Owners: @itsmycargo/backend

fix: invalid rubocop fixes breaking cobra docs (#2196)
  .lefthook/pre-commit/cobra-docs
  lib/cobra_helper.rb
Owners: @itsmycargo/backend

POL-2663: Routing Info for Enhanced Result (#2182)
  db/data_schema.rb
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/results_controller.rb
  engines/api/app/decorators/api/v2/result_decorator.rb
  engines/api/app/serializers/api/v2/result_serializer.rb
  engines/api/spec/api/api/results_spec.rb
  engines/api/spec/controllers/api/v2/results_controller_spec.rb
  engines/api/spec/decorators/api/v2/result_decorator_spec.rb
  engines/api/spec/models/api/client_spec.rb
  engines/routing/factories/routing/carriers.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2743 Remove duplicate users profile for a Users:User (#2197)
  app/workers/remove_duplicate_profiles_for_a_user_worker.rb
  db/data/20210811075028_remove_duplicate_profiles_for_a_user.rb
  spec/workers/remove_duplicate_profiles_for_a_user_worker_spec.rb
Owners: @itsmycargo/backend

POL-2747: fix for terminals on upload (#2195)
  app/mailers/upload_mailer.rb
  doc/api/swagger.json
  engines/excel_data_services/app/jobs/excel_data_services/uploader_job.rb
  engines/excel_data_services/app/services/excel_data_services/validators/insertable_checks/pricing.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/insertable_checks/pricing_spec.rb
  spec/mailers/upload_mailer_spec.rb
Owners: @itsmycargo/backend

[POL-2748] Schedule end point to be consumed by siren (#2201)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/schedules_controller.rb
  engines/api/app/decorators/api/v2/schedule_decorator.rb
  engines/api/app/serializers/api/v2/schedule_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/schedules_spec.rb
  engines/api/spec/controllers/api/v2/schedules_controller_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2735: camelCasing V2 endpoints (#2192)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/controllers/api/v2/requests_controller.rb
  engines/api/spec/api/api/requests_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/controllers/api/v2/requests_controller_spec.rb
  engines/offer_calculator/app/services/offer_calculator/results.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2733 - Create a migration, to ensure that all Users::Client's, have only one Companies::Membership (#2193)
  app/workers/remove_multiple_memberships_belonging_to_one_user_worker.rb
  spec/workers/remove_multiple_memberships_belonging_to_one_user_worker_spec.rb
Owners: @itsmycargo/backend

[POL-2697] Add billing as a part quotation in shipment response and filterable by billing for both admin and v2 (#2204)
  app/controllers/admin/shipments_controller.rb
  engines/api/app/controllers/api/api_controller.rb
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/decorators/api/v1/result_decorator.rb
  engines/api/app/models/api/query.rb
  engines/api/app/serializers/api/v2/query_serializer.rb
  engines/api/spec/decorators/api/v1/result_decorator_spec.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  spec/controllers/admin/shipments_controller_spec.rb
Owners: @itsmycargo/backend

POL-2749: Route Section endpoint (#2200)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/route_sections_controller.rb
  engines/api/app/decorators/api/v2/result_decorator.rb
  engines/api/app/decorators/api/v2/route_section_decorator.rb
  engines/api/app/serializers/api/v2/result_serializer.rb
  engines/api/app/serializers/api/v2/route_section_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/route_sections_spec.rb
  engines/api/spec/controllers/api/v2/route_sections_controller_spec.rb
  engines/api/spec/decorators/api/v2/result_decorator_spec.rb
  engines/api/spec/decorators/api/v2/route_section_decorator_spec.rb
  engines/api/spec/serializers/api/v2/route_section_serializer_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

CHORE: bump libgeos after ruby image changed (#2206)
  Dockerfile
Owners: @itsmycargo/sre

POL-2670: Worker for updating Carta geoId index (#2153)
  app/workers/carta_bulk_update_worker.rb
  engines/carta/app/services/carta/bulk_index_updater.rb
  engines/carta/app/services/carta/connection.rb
  engines/carta/spec/services/carta/bulk_index_updater_spec.rb
Owners: @itsmycargo/backend

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre
