Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

.github/CODEOWNERS:

# By default, backend team
*               @itsmycargo/backend

# Data related changes
**/db/migrate/* @itsmycargo/data
db/schema.rb    @itsmycargo/data

.github         @itsmycargo/sre
Dockerfile      @itsmycargo/sre

chore: fix danger to altering only numbers in pr title (#1879)
  danger/jira/Dangerfile
Owners: @itsmycargo/backend

IMC-3640: validating cargo class (#1880)
  engines/journey/app/models/journey/cargo_unit.rb
  engines/journey/spec/models/journey/cargo_unit_spec.rb
Owners: @itsmycargo/backend

IMC-3643: pdf attachments (#1884)
  engines/journey/factories/journey/offers.rb
  engines/notifications/app/mailers/notifications/admin_mailer.rb
  engines/notifications/spec/mailers/notifications/admin_spec.rb
Owners: @itsmycargo/backend

IMC-3638: CargoUnits endpoints (#1877)
  .github/workflows/linter.yml
  engines/api/app/controllers/api/v2/cargo_units_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/cargo_units_spec.rb
  engines/api/spec/controllers/api/v2/cargo_units_controller_spec.rb
Owners: @itsmycargo/sre, @itsmycargo/backend

IMC-3650: fix and specs for SubjectLine (#1886)
  engines/notifications/app/services/notifications/offer_subject_line.rb
  engines/notifications/spec/services/notifications/offer_subject_line_spec.rb
Owners: @itsmycargo/backend

IMC-3645: Correcting Offer models (#1885)
  .github/workflows/linter.yml
  app/workers/backfill_offer_line_item_sets_worker.rb
  config/routes.rb
  db/data/20210216122512_backfill_offer_line_item_sets.rb
  db/data_schema.rb
  db/structure.sql
  engines/api/spec/controllers/api/v2/offers_controller_spec.rb
  engines/journey/app/models/journey/line_item_set.rb
  engines/journey/app/models/journey/offer.rb
  engines/journey/app/models/journey/offer_line_item_set.rb
  engines/journey/app/models/journey/result.rb
  engines/journey/db/migrate/20210216115737_create_journey_offer_line_item_sets.rb
  engines/journey/factories/journey/offer_line_item_sets.rb
  engines/journey/factories/journey/offers.rb
  engines/journey/spec/models/journey/offer_line_item_set_spec.rb
  engines/notifications/spec/services/notifications/offer_subject_line_spec.rb
  engines/pdf/spec/services/pdf/quotation/admin_spec.rb
  engines/pdf/spec/services/pdf/quotation/client_spec.rb
  engines/wheelhouse/app/services/wheelhouse/offer_builder.rb
  engines/wheelhouse/spec/services/wheelhouse/offer_builder_spec.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
  spec/workers/backfill_offer_line_item_sets_worker_spec.rb
Owners: @itsmycargo/sre, @itsmycargo/backend, @itsmycargo/data

IMC-3657: GHA settings for linter (#1889)
  .github/workflows/linter.yml
Owners: @itsmycargo/sre

IMC-3657 IMC-3657: Fixed ticket number for GHA rubocop fix (#1892)
  .rubocop.yml
Owners: @itsmycargo/backend

IMC-3564 - remove bad quotations (#1888)
  app/workers/remove_quotations_without_nexuses_worker.rb
  db/data/20210217092609_remove_quotations_without_nexuses.rb
  db/data_schema.rb
  engines/cargo/app/models/cargo/cargo.rb
  engines/quotations/app/models/quotations/quotation.rb
Owners: @itsmycargo/backend

IMC-3590: Cloning Fivestar users (#1873)
  Gemfile.lock
  app/workers/clone_fivestar_clients_worker.rb
  db/data/20210210154920_clone_fivestar_clients.rb
  doc/engines/graph.puml
  engines/organization_manager/Gemfile.runtime
  engines/organization_manager/app/services/organization_manager/client_synchronizer_service.rb
  engines/organization_manager/organization_manager.gemspec
  engines/organization_manager/spec/services/organization_manager/client_synchronizer_service_spec.rb
  engines/users/app/models/users/client.rb
Owners: @itsmycargo/backend

IMC-3653 - Backfill bad addresses (#1887)
  db/data/20210216114121_backfill_geocoded_addresses.rb
Owners: @itsmycargo/backend

IMC-3660: Params fix for trucking upload (#1893)
  app/controllers/admin/admin_base_controller.rb
  app/controllers/admin/trucking_controller.rb
  app/controllers/concerns/response.rb
  spec/controllers/admin/trucking_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3491: Xlsx Downloader (#1881)
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/app/decorators/api/v1/legacy_result_decorator.rb
  engines/api/app/serializers/api/v1/file_serializer.rb
  engines/api/app/serializers/api/v1/xlsx_serializer.rb
  engines/api/app/serializers/api/v2/file_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/controllers/api/v2/offers_controller_spec.rb
  engines/api/spec/serializers/api/v1/file_serializer_spec.rb
  engines/api/spec/serializers/api/v1/xlsx_serializer_spec.rb
  engines/journey/app/models/journey/offer.rb
  engines/pdf/app/views/shipments/pdfs/quotations.pdf.erb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/app/services/result_formatter/carrier_service_info.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
  engines/result_formatter/spec/services/result_formatter/carrier_service_info_spec.rb
  engines/wheelhouse/app/services/wheelhouse/excel_writer_service.rb
  engines/wheelhouse/app/services/wheelhouse/offer_builder.rb
  engines/wheelhouse/app/services/wheelhouse/quotation_download_service.rb
  engines/wheelhouse/spec/services/wheelhouse/excel_writer_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_download_service_spec.rb
Owners: @itsmycargo/backend

IMC-3665: fix for agg lcl (#1895)
  engines/offer_calculator/app/services/offer_calculator/service/cargo_creator.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/consolidated.rb
  engines/offer_calculator/spec/services/offer_calculator/service/cargo_creator_spec.rb
Owners: @itsmycargo/backend

IMC-3644 - Admiralty - List of Queries (Quotations) (#1883)
  .github/workflows/main.yml
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/admin/admiralty/queries_admin.rb
  engines/admiralty/app/admin/admiralty/themes_admin.rb
  engines/admiralty/app/assets/images/logo.png
  engines/admiralty/config/routes.rb
  engines/journey/app/models/journey/result_set.rb
Owners: @itsmycargo/sre, @itsmycargo/backend

CHORE: IMC-3670 admiralty users (#1897)
  engines/admiralty/app/admin/admiralty/clients_admin.rb
  engines/admiralty/app/admin/admiralty/memberships_admin.rb
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/admin/admiralty/queries_admin.rb
  engines/admiralty/app/admin/admiralty/subscriptions_admin.rb
  engines/admiralty/app/admin/admiralty/themes_admin.rb
  engines/admiralty/app/admin/admiralty/users_admin.rb
  engines/admiralty/config/routes.rb
Owners: @itsmycargo/backend

IMC-3658: Correctly named local charges (#1890)
  config/routes.rb
  engines/api/app/services/api/legacy_quote.rb
  engines/api/spec/services/api/legacy_quote_spec.rb
Owners: @itsmycargo/backend

IMC-3659: Metadata default json value (#1894)
  app/workers/update_invalid_metadatas_worker.rb
  db/data/20210217175555_update_invalid_metadatas.rb
  db/data_schema.rb
  db/migrate/20210217170246_change_local_charge_metadata_default.rb
  db/structure.sql
  engines/pricings/db/migrate/20210217170422_change_fee_metadata_default.rb
  engines/trucking/app/services/trucking/queries/base.rb
  engines/trucking/db/migrate/20210217170059_change_metadata_default.rb
Owners: @itsmycargo/backend, @itsmycargo/data

chore: use ingressClassName
  config/deploy/production/ingress.yaml
Owners: @itsmycargo/backend

IMC-3675: Deduping RoutePoints & Rails validations (#1901)
  app/workers/dedupe_route_points_worker.rb
  db/data/20210222120721_dedupe_route_points.rb
  db/data_schema.rb
  db/structure.sql
  engines/journey/app/models/journey/route_point.rb
  engines/journey/factories/journey/route_points.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/routing/base_spec.rb
Owners: @itsmycargo/backend

IMC-3684: Patch for percentage trucking fees (#1905)
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee_component_builder.rb
  engines/offer_calculator/factories/component_builder_fees.rb
Owners: @itsmycargo/backend

IMC-3676: Database Constraint for RoutePoint (#1902)
  config/routes.rb
  db/structure.sql
  engines/journey/app/models/journey/route_point.rb
Owners: @itsmycargo/backend

IMC-3678 - Better Sentry Context (#1904)
  .github/workflows/main.yml
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  config/initializers/raven.rb
  config/initializers/sentry.rb
  config/settings.yml
  engines/api/api.gemspec
  engines/api/app/controllers/api/api_controller.rb
  engines/api/lib/api/engine.rb
  engines/excel_data_services/app/jobs/excel_data_services/uploader_job.rb
  engines/excel_data_services/excel_data_services.gemspec
  engines/excel_data_services/lib/excel_data_services/engine.rb
  engines/offer_calculator/app/jobs/offer_calculator/async_calculation_job.rb
  engines/offer_calculator/app/services/offer_calculator/service/schedule_finder.rb
  engines/offer_calculator/lib/offer_calculator/engine.rb
  engines/offer_calculator/offer_calculator.gemspec
Owners: @itsmycargo/sre, @itsmycargo/backend

IMC-3699: Remove Race Condition in Offer Creation vs Event (#1908)
  engines/wheelhouse/app/services/wheelhouse/offer_builder.rb
Owners: @itsmycargo/backend

IMC-3704 - Add Missing Release to Docker (#1909)
  Dockerfile
Owners: @itsmycargo/sre

IMC-3686 - Admiralty Adjustements (#1906)
  engines/admiralty/app/admin/admiralty/admins_admin.rb
  engines/admiralty/app/admin/admiralty/clients_admin.rb
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/admin/admiralty/queries_admin.rb
  engines/admiralty/app/admin/admiralty/subscriptions_admin.rb
  engines/admiralty/config/routes.rb
  engines/journey/app/models/journey/query.rb
Owners: @itsmycargo/backend

IMC-3705: New Thread Gem (#1911)
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/organizations_controller.rb
  engines/api/app/controllers/api/api_controller.rb
  engines/organizations/app/models/organizations/organization.rb
  engines/organizations/lib/organizations.rb
  engines/organizations/lib/organizations/engine.rb
  engines/organizations/organizations.gemspec
Owners: @itsmycargo/backend

IMC-3698: Reduping of RoutePoints (#1907)
  app/workers/redupe_route_points_worker.rb
  db/data/20210224094642_redupe_route_points.rb
  db/data_schema.rb
  db/structure.sql
  engines/api/app/decorators/api/v2/line_item_decorator.rb
  engines/api/app/services/api/legacy_quote.rb
  engines/carta/app/services/carta/result.rb
  engines/carta/factories/carta/result.rb
  engines/journey/app/models/journey/line_item.rb
  engines/journey/app/models/journey/route_point.rb
  engines/journey/db/migrate/20210224094318_add_missing_data_to_route_points.rb
  engines/journey/factories/journey/line_items.rb
  engines/journey/spec/shared/sections.rb
  engines/notifications/app/services/notifications/offer_subject_line.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/routing/base_spec.rb
  engines/result_formatter/app/decorators/result_formatter/line_item_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  spec/workers/redupe_route_points_worker_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3685: Theme Endpoint (#1913)
  engines/api/app/controllers/api/v2/themes_controller.rb
  engines/api/app/serializers/api/v2/theme_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/controllers/api/v2/themes_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3707 - Manage Domains in Admiralty (#1912)
  engines/admiralty/app/admin/admiralty/domains_admin.rb
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/config/routes.rb
Owners: @itsmycargo/backend

IMC-3708 - better queries avoiding n+1 (#1914)
  engines/api/app/controllers/api/v1/organizations_controller.rb
Owners: @itsmycargo/backend

IMC-3683: Agg lcl issue fix. (#1910)
  app/controllers/shipments/booking_process_controller.rb
  engines/api/app/decorators/api/v1/cargo_unit_decorator.rb
  engines/api/spec/decorators/api/v1/legacy_cargo_unit_decorator_spec.rb
  engines/journey/factories/journey/cargo_units.rb
Owners: @itsmycargo/backend

IMC-3712 - Prefer Admins for Dipper Logins (#1916)
  engines/api_auth/lib/api_auth/resource_helper.rb
Owners: @itsmycargo/backend

IMC-3715 - Graceful Sidekiq Shutdown (#1917)
  Gemfile
  Gemfile.lock
  config/deploy/production/deployment-web.yaml.erb
  config/deploy/production/deployment-worker-critical.yaml.erb
  config/deploy/production/deployment-worker.yaml.erb
  config/deploy/production/job-migrate.yaml.erb
  config/initializers/sidekiq.rb
Owners: @itsmycargo/backend

IMC-3627: Incorrect MOTs (#1915)
  engines/api/app/serializers/api/v2/result_serializer.rb
  engines/api/spec/serializers/api/v2/result_serializer_spec.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
Owners: @itsmycargo/backend

IMC-3719 - Missing Queries (#1919)
  engines/admiralty/app/admin/admiralty/queries_admin.rb
Owners: @itsmycargo/backend

chore: fix docs deployment
  config/deploy/production/deployment-redoc.yaml.erb
  config/deploy/production/ingress.yaml
  config/deploy/production/service-redoc.yaml
Owners: @itsmycargo/backend

chore: adding missing examples to openapi
  doc/api/swagger.json
Owners: @itsmycargo/backend

IMC-3721: fixes for Bridge usability (#1921)
  engines/api/app/serializers/api/v1/lcl_cargo_unit_serializer.rb
  engines/api/spec/serializers/api/v1/lcl_cargo_unit_serializer_spec.rb
Owners: @itsmycargo/backend

IMC-3726 - API Documentation Tests (#1923)
  .github/workflows/main.yml
  spec/spec_helper.rb
Owners: @itsmycargo/sre, @itsmycargo/backend
