Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

IMC-3270 - Round exchange rates (#1711)
  lib/money_cache/lib/money_cache/conversion.rb
  lib/money_cache/spec/money_cache/converter_spec.rb
Owners: @itsmycargo/backend

IMC-3321 - Fix nil user in quotation admin mailer (#1705)
  app/mailers/quote_mailer.rb
  app/views/quote_mailer/quotation_admin_email.mjml
  spec/mailers/quote_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-3232: reworking tenant vehicle deduper (#1710)
  db/schema.rb
  engines/migrator/db/migrate/20200922094143_drop_migrator_unique_tenant_vehicles_syncs.rb
  engines/migrator/db/migrate/20200922094226_recreate_migrator_unique_tenant_vehicles_syncs.rb
  engines/migrator/lib/migrator/base.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/backup.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/delete.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/update.rb
Owners: @itsmycargo/data, @itsmycargo/backend

chore: switch to debendabot (#1714)
  .github/dependabot.yml
  renovate.json
Owners: @itsmycargo/backend

chore: Remove hard-coded AWS keys (#1718)
  app/classes/aws_config.rb
  app/classes/image_tools.rb
  app/classes/multi_tenant_tools.rb
  config/credentials.yml.enc
  config/initializers/elasticsearch.rb
  config/settings.yml
  config/settings/development.yml
  config/settings/production.yml
  config/settings/review.yml
  config/settings/staging.yml
  config/storage.yml
  lib/tasks/trucking/seed_all.rake
Owners: @itsmycargo/backend

IMC-3319 - Scope restored user to organization [rework] (#1701)
  app/controllers/admin/clients_controller.rb
  engines/api/app/services/api/user_restoration_service.rb
  engines/api/spec/services/api/user_restoration_service_spec.rb
  engines/profiles/app/services/profiles/profile_service.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3363 - Delete companies memberships on user destroy (#1720)
  Gemfile.lock
  app/controllers/admin/clients_controller.rb
  db/migrate/20200924084322_add_deleted_at_to_companies_membership.rb
  db/migrate/20200924084551_add_index_to_deleted_at_on_companies_membership.rb
  db/schema.rb
  engines/api/app/controllers/api/v1/clients_controller.rb
  engines/api/spec/controllers/api/v1/clients_controller_spec.rb
  engines/companies/app/models/companies/company.rb
  engines/companies/app/models/companies/membership.rb
  engines/companies/companies.gemspec
  engines/companies/lib/companies/engine.rb
  engines/migrator/lib/migrator/migrations/companies/memberships/deleted.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3370: removed migrators (#1721)
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/backup.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/delete.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/update.rb
  engines/migrator/lib/migrator/migrations/trucking/locations/backup.rb
  engines/migrator/lib/migrator/migrations/trucking/locations/delete.rb
  engines/migrator/lib/migrator/migrations/trucking/locations/prepare.rb
  engines/migrator/lib/migrator/migrations/trucking/locations/update.rb
  engines/migrator/lib/migrator/migrations/trucking/truckings/backup.rb
  engines/migrator/lib/migrator/migrations/trucking/truckings/delete.rb
  engines/migrator/lib/migrator/migrations/trucking/truckings/update.rb
Owners: @itsmycargo/backend

IMC-3300: Trucking::Location Constraint (#1690)
  Jenkinsfile
  config/application.rb
  db/schema.rb
  db/structure.sql
  engines/trucking/db/migrate/20200915151658_add_trucking_location_constraints.rb
Owners: @itsmycargo/sre, @itsmycargo/backend, @itsmycargo/data

IMC-3339: fixed org theme defaults and backfill (#1725)
  db/structure.sql
  engines/migrator/lib/migrator/migrations/organizations/themes/update.rb
  engines/organizations/db/migrate/20200921095406_add_default_to_organizations_themes.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3372: proper setup for Organizations with backfills (#1724)
  Gemfile.lock
  doc/engines/graph.dot
  doc/engines/graph.pdf
  engines/admiralty_tenants/app/controllers/admiralty_tenants/organizations_controller.rb
  engines/admiralty_tenants/spec/controllers/admiralty_tenants/organizations_controller_spec.rb
  engines/migrator/lib/migrator/migrations/legacy/max_dimensions_bundles/update.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_cargo_item_types/update.rb
  engines/organization_manager/app/services/organization_manager/auxilliary_setup_service.rb
  engines/organization_manager/app/services/organization_manager/creator_service.rb
  engines/organization_manager/lib/organization_manager/engine.rb
  engines/organization_manager/organization_manager.gemspec
  engines/organization_manager/spec/services/organization_manager/auxilliary_setup_service_spec.rb
Owners: @itsmycargo/backend

IMC-3364 - Carriers and TenantVehicles Constraints (#1715)
  app/models/carrier.rb
  app/models/tenant_vehicle.rb
  db/structure.sql
  engines/legacy/app/models/legacy/carrier.rb
  engines/legacy/app/models/legacy/tenant_vehicle.rb
  engines/legacy/db/migrate/20200923124503_add_constraints_to_carriers.rb
  engines/legacy/db/migrate/20200923124711_add_constraints_to_tenant_vehicles.rb
  engines/legacy/spec/factories/legacy/carriers.rb
  engines/legacy/spec/factories/legacy/tenant_vehicles.rb
  engines/legacy/spec/models/legacy/carrier_spec.rb
  engines/legacy/spec/models/legacy/tenant_vehicle_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/route_spec.rb
  engines/rms_export/spec/services/rms_export/excel/base_spec.rb
  engines/rms_sync/spec/services/rms_sync/pricings_spec.rb
  spec/classes/document_service/schedule_sheet_writer_spec.rb
  spec/classes/excel_data_services/file_writers/local_charges_spec.rb
  spec/classes/excel_data_services/file_writers/pricings_spec.rb
  spec/controllers/admin/pricings_controller_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3375: done (#1728)
  app/classes/excel_data_services/inserters/hubs.rb
Owners: @itsmycargo/backend

IMC-3297: Trucking Constraints Part 1 (#1727)
  db/migrate/20200915125523_add_btree_gist_extension.rb
  db/structure.sql
  engines/migrator/lib/migrator/migrations/trucking/truckings/update.rb
  engines/trucking/app/models/trucking/location.rb
  engines/trucking/app/models/trucking/trucking.rb
  engines/trucking/db/migrate/20200915125645_add_constraints_to_new_trucking.rb
  engines/trucking/spec/factories/trucking/truckings.rb
  engines/trucking/spec/services/trucking/queries/find_by_hub_ids_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

Revert "IMC-3297: Trucking Constraints Part 1 (#1727)" (#1729)
  db/migrate/20200915125523_add_btree_gist_extension.rb
  db/structure.sql
  engines/migrator/lib/migrator/migrations/trucking/truckings/update.rb
  engines/trucking/app/models/trucking/location.rb
  engines/trucking/app/models/trucking/trucking.rb
  engines/trucking/db/migrate/20200915125645_add_constraints_to_new_trucking.rb
  engines/trucking/spec/factories/trucking/truckings.rb
  engines/trucking/spec/services/trucking/queries/find_by_hub_ids_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

IMC-3328 - Always set creator for quotations (#1707)
  Gemfile.lock
  app/classes/shipping_tools.rb
  app/models/addon.rb
  db/migrate/20200921093106_add_creator_to_quotations_quotation.rb
  db/migrate/20200921132558_add_index_to_creator_id.rb
  db/migrate/20200921133109_validate_add_index_to_creator_id.rb
  db/structure.sql
  doc/engines/graph.dot
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/integrations/app/models/integrations/chain_io/quotation.rb
  engines/offer_calculator/app/services/offer_calculator/calculator.rb
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/offer_calculator/app/services/offer_calculator/service/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/finders/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/manipulators/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/pricing_manipulator.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/async_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/lcl_door_to_door_spec.rb
  engines/quotations/app/models/quotations/quotation.rb
  engines/quotations/app/services/quotations/creator.rb
  engines/quotations/lib/quotations/engine.rb
  engines/quotations/quotations.gemspec
  engines/quotations/spec/factories/quotations/quotations.rb
  engines/quotations/spec/services/quotations/creator_spec.rb
  engines/trucking/app/models/trucking/location.rb
  engines/wheelhouse/app/services/wheelhouse/quotation_service.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_service_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3258 - Use quotation instead of shipment to create subject line (#1726)
  app/decorators/quotation_decorator.rb
  app/mailers/application_mailer.rb
  app/mailers/quote_mailer.rb
  app/mailers/shipment_mailer.rb
  spec/decorators/quotation_decorator_spec.rb
  spec/mailers/quote_mailer_spec.rb
  spec/mailers/shipment_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-3380 - Adding created_at sorting to quotation_tenders (#1732)
  engines/quotations/app/models/quotations/tender.rb
  engines/quotations/spec/models/quotations/tender_spec.rb
Owners: @itsmycargo/backend

IMC-3381 - fix formatting dimensions in email subject line (#1733)
  app/decorators/quotation_decorator.rb
  spec/decorators/quotation_decorator_spec.rb
  spec/mailers/quote_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-3297: Trucking Constraints Part1 Attempt 2 (#1730)
  db/structure.sql
  engines/migrator/lib/migrator/migrations/trucking/truckings/update.rb
  engines/trucking/db/migrate/20200915151658_add_trucking_location_constraints.rb
  engines/trucking/db/migrate/20200930111524_add_b_tree_gist_extension.rb
  engines/trucking/db/migrate/20200930111636_create_temporary_trucking_table.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3376: api expecting ids in format sent by bridge (#1738)
  doc/swagger/v1/swagger.json
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/spec/api/quotations_spec.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3384: migrators removed after running (#1735)
  engines/migrator/lib/migrator/migrations/companies/memberships/deleted.rb
  engines/migrator/lib/migrator/migrations/groups/groups/prepare.rb
  engines/migrator/lib/migrator/migrations/groups/groups/update.rb
  engines/migrator/lib/migrator/migrations/legacy/max_dimensions_bundles/update.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_cargo_item_types/update.rb
  engines/migrator/lib/migrator/migrations/organizations/themes/update.rb
  engines/migrator/lib/migrator/migrations/trucking/truckings/update.rb
Owners: @itsmycargo/backend

IMC-3178: attempt 3 at pdf value congruency -> (#1739)
  engines/offer_calculator/app/services/offer_calculator/service/offer_creator.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/line_items.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/tender.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/tender_line_items.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/enhanced_quote_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/legacy_charge_breakdown_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/legacy_meta_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/legacy_response_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/tender_line_items_spec.rb
  lib/money_cache/lib/money_cache/converter.rb
  lib/money_cache/spec/money_cache/converter_spec.rb
Owners: @itsmycargo/backend

IMC-3387: missing updates to use GroupsService (#1740)
  app/controllers/trucking_availability_controller.rb
  engines/api/app/controllers/api/api_controller.rb
  engines/api/spec/controllers/api/v1/clients_controller_spec.rb
  engines/idp/spec/controllers/idp/saml_controller_spec.rb
  spec/controllers/saml_controller_spec.rb
  spec/controllers/trucking_availability_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3394: mailer error (#1747)
  app/mailers/quote_mailer.rb
  engines/organizations/spec/factories/organizations/themes.rb
  spec/fixtures/files/images/test.jpg
  spec/mailers/quote_mailer_spec.rb
  spec/mailers/shipment_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-3388: RDT compliant uploaders (#1743)
  app/classes/excel_data_services/file_writers/base.rb
  app/classes/excel_data_services/file_writers/charge_categories.rb
  app/classes/excel_data_services/file_writers/hubs.rb
  app/classes/excel_data_services/file_writers/local_charges.rb
  app/classes/excel_data_services/inserters/local_charges.rb
  app/classes/excel_data_services/restructurers/local_charges.rb
  app/classes/excel_data_services/restructurers/pricing_dynamic_fee_cols_no_ranges.rb
  app/classes/excel_data_services/rows/local_charges.rb
  app/classes/excel_data_services/validators/header_checker.rb
  app/classes/excel_data_services/validators/insertable_checks/local_charges.rb
  spec/classes/excel_data_services/file_writers/charge_categories_spec.rb
  spec/classes/excel_data_services/file_writers/hubs_spec.rb
  spec/classes/excel_data_services/file_writers/local_charges_spec.rb
  spec/classes/excel_data_services/file_writers/pricings_spec.rb
  spec/classes/excel_data_services/inserters/local_charges_spec.rb
  spec/classes/excel_data_services/validators/header_checker_spec.rb
  spec/classes/excel_data_services/validators/insertable_checks/local_charges_spec.rb
  spec/factories/excel_data_parsed.rb
  spec/factories/excel_data_restructured.rb
Owners: @itsmycargo/backend

IMC-3251: no units when estimated (#1750)
  db/structure.sql
  engines/api/app/serializers/api/v1/quotation_serializer.rb
  engines/api/spec/serializers/api/v1/quotation_serializer_spec.rb
  engines/integrations/app/models/integrations/chain_io/quotation.rb
  engines/migrator/lib/migrator/migrations/quotations/quotations/update.rb
  engines/offer_calculator/app/services/offer_calculator/calculator.rb
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/quotations/app/models/quotations/quotation.rb
  engines/quotations/db/migrate/20201014100229_add_estimated_to_quotations.rb
  engines/wheelhouse/app/services/wheelhouse/quotation_service.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_service_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3408: added missing variant (#1751)
  engines/pdf/app/decorators/pdf/cargo_decorator.rb
  engines/pdf/app/views/pdf/partials/quotation/cargo/chargeable_weight_rows/both.html.erb
  engines/pdf/spec/decorators/pdf/cargo_decorator_spec.rb
Owners: @itsmycargo/backend

IMC-3248: simpler implementation (#1748)
  engines/api/spec/controllers/api/v1/validations/door_to_door_spec.rb
  engines/api/spec/controllers/api/v1/validations/port_to_port_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_validation_service.rb
Owners: @itsmycargo/backend

IMC-3409: removed duplicate unit (#1752)
  engines/pdf/app/decorators/pdf/cargo_decorator.rb
  engines/pdf/spec/decorators/pdf/cargo_decorator_spec.rb
Owners: @itsmycargo/backend

IMC-3378: correct search buffer logic (#1745)
  engines/api/app/services/api/routing/legacy_routing_service.rb
  engines/offer_calculator/app/services/offer_calculator/service/quote_route_builder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/quote_route_builder_spec.rb
  engines/organizations/data/default_scope.yaml
Owners: @itsmycargo/backend

IMC-3340 - Extra Saml Params (#1744)
  app/assets/stylesheets/pdfs.scss.erb
  app/models/address.rb
  db/structure.sql
  engines/companies/app/models/companies/company.rb
  engines/companies/db/migrate/20201012094238_add_external_id_to_companies.rb
  engines/companies/spec/factories/companies/companies.rb
  engines/idp/app/controllers/idp/saml_controller.rb
  engines/idp/app/decorators/idp/saml_response_decorator.rb
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/controllers/idp/saml_controller_spec.rb
  engines/legacy/app/models/legacy/address.rb
  engines/legacy/db/migrate/20201013122604_add_address_lines_to_addresses.rb
  engines/pdf/app/decorators/pdf/address_decorator.rb
  engines/pdf/app/decorators/pdf/company_decorator.rb
  engines/pdf/app/decorators/pdf/quotation_decorator.rb
  engines/pdf/app/services/pdf/service.rb
  engines/pdf/app/views/pdf/partials/quotation/_address.html.erb
  engines/pdf/app/views/pdf/partials/quotation/_client.html.erb
  engines/pdf/app/views/pdf/partials/quotation/_company.html.erb
  engines/pdf/app/views/shipments/pdfs/quotations.pdf.erb
  engines/pdf/spec/services/pdf/quotation/client_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3411: tpyos in default scope (#1755)
  engines/organizations/data/default_scope.yaml
Owners: @itsmycargo/backend

IMC-3314 - handle contact failed validation response (#1753)
  app/controllers/contacts_controller.rb
  spec/controllers/contacts_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3374: rename trucking tables (#1736)
  Gemfile.lock
  Jenkinsfile
  db/structure.sql
  engines/trucking/app/models/trucking/trucking.rb
  engines/trucking/db/migrate/20201005112221_rename_trucking_tables.rb
Owners: @itsmycargo/backend, @itsmycargo/sre, @itsmycargo/data

IMC-3415: Companies::Membership validations & fix (#1758)
  app/controllers/admin/companies_controller.rb
  engines/companies/app/models/companies/membership.rb
  engines/companies/spec/models/companies/membership_spec.rb
Owners: @itsmycargo/backend

IMC-3413: update quotation ownership after selecting offer (#1757)
  app/classes/shipping_tools.rb
  engines/migrator/lib/migrator/migrations/quotations/quotations/update.rb
  spec/classes/shipping_tools_spec.rb
Owners: @itsmycargo/backend

IMC-3410: handle misconfigured organizations (#1754)
  app/mailers/application_mailer.rb
  config/settings/development.yml
  spec/mailers/quote_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-1753: Local Review Apps - Docker Compose (#618)
  .dockerignore
  Dockerfile
  Jenkinsfile
  README.md
  bin/docker-compose
  config/database.yml
  docker-compose.yaml
  lib/database_reloader.rb
  scripts/docker-prepare.sh
Owners: @itsmycargo/backend, @itsmycargo/sre

chore: simplify lefthook and JIRA (#1760)
  .lefthook/post-checkout/jira-update
  .lefthook/post-commit/jira-update
  lefthook.yml
Owners: @itsmycargo/backend

.github/CODEOWNERS:

# By default, backend team
*               @itsmycargo/backend

# Data related changes
**/db/migrate/* @itsmycargo/data
db/schema.rb    @itsmycargo/data

Dockerfile      @itsmycargo/sre
Jenkinsfile     @itsmycargo/sre
