Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

[Pol-2988] Using referer host instead of validating whole url (#2398)
  engines/api/app/controllers/api/api_controller.rb
  engines/api/spec/controllers/api/api_controller_spec.rb
Owners: @itsmycargo/backend

POL-2974: update query with current user if allowed (#2400)
  app/controllers/shipments_controller.rb
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/journey/app/models/journey/query.rb
  engines/journey/spec/models/journey/query_spec.rb
  spec/controllers/shipments_controller_spec.rb
Owners: @itsmycargo/backend

[POL-2976] Companies index endpoint (#2401)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/companies_controller.rb
  engines/api/app/controllers/concerns/api/users_user_access.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/companies_spec.rb
  engines/api/spec/controllers/api/v2/companies_controller_spec.rb
  engines/api/spec/controllers/concerns/api/users_user_access_spec.rb
Owners: @itsmycargo/backend

POL-2986: finding locations before querying trucking table results in… (#2397)
  engines/trucking/app/services/trucking/queries/base.rb
  engines/trucking/spec/services/trucking/queries/base_spec.rb
Owners: @itsmycargo/backend

[POL-2978] Companies Create Endpoint (#2404)
  config/routes.rb
  db/structure.sql
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/companies_controller.rb
  engines/api/app/serializers/api/v2/company_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/companies_spec.rb
  engines/api/spec/controllers/api/v2/companies_controller_spec.rb
  engines/api/spec/controllers/concerns/api/users_user_access_spec.rb
  engines/companies/app/models/companies/company.rb
  engines/companies/db/migrate/20211206181843_add_contact_info_to_companies.rb
  engines/companies/spec/models/companies/company_spec.rb
  spec/swagger_helper.rb
  spec/workers/backfill_invalid_company_users_to_default_worker_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

Fix: Bumping this gem fixes the issue with RGeos::Geo.supported? returning false in test environment. (#2403)
  Gemfile.lock
Owners: @itsmycargo/backend

POL-2977: Shipment Request endpoint (#2405)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/shipment_requests_controller.rb
  engines/api/app/decorators/api/v2/shipment_request_decorator.rb
  engines/api/app/models/api/shipment_request.rb
  engines/api/app/serializers/api/v2/shipment_request_index_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/shipment_requests_spec.rb
  engines/api/spec/controllers/api/v2/shipment_requests_controller_spec.rb
  engines/api/spec/decorators/api/v2/shipment_request_decorator_spec.rb
  engines/api/spec/models/api/shipment_request_spec.rb
  engines/journey/spec/shared/journey_pdf_setup.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

[POL-2979] Companies delete endpoint (#2406)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/companies_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/companies_spec.rb
  engines/api/spec/controllers/api/v2/companies_controller_spec.rb
  engines/api/spec/controllers/api/v2/shipment_requests_controller_spec.rb
  engines/companies/app/services/companies/company_services.rb
  engines/companies/companies.gemspec
  engines/companies/spec/services/companies/company_services_spec.rb
Owners: @itsmycargo/backend

POL-2622 - New clients uploader (#2407)
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/client.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/currency.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/default_currency.rb
  engines/excel_data_services/app/services/excel_data_services/v2/files/file_data/clients
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/clients
  engines/excel_data_services/app/services/excel_data_services/v2/files/tables/column.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/client.rb
  engines/excel_data_services/app/services/excel_data_services/v2/upload.rb
  engines/excel_data_services/app/services/excel_data_services/v2/validators/currency.rb
  engines/excel_data_services/app/services/excel_data_services/v2/validators/existing_client.rb
  engines/excel_data_services/app/services/excel_data_services/v2/validators/language.rb
  engines/excel_data_services/app/services/excel_data_services/validators/type_validity/types/email_type.rb
  engines/excel_data_services/app/services/excel_data_services/validators/validation_errors/type_validity.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/client_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/currency_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/default_currency_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/section_clients_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/client_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/validators/currency_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/validators/existing_client_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/validators/language_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/type_validity/types/email_type_spec.rb
  guides/data/clients.rst
  spec/fixtures/files/excel/example_clients.xlsx
  spec/fixtures/files/excel/example_clients_invalid_currency.xlsx
  spec/fixtures/files/excel/example_clients_invalid_language.xlsx
Owners: @itsmycargo/backend

POL-2992: Let OCS handle no cargo params (#2399)
  doc/api/swagger.json
  doc/engines/graph.puml
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/fee_spec.rb
Owners: @itsmycargo/backend

POL-2998: Check for ranges if Rate basis has _RANGE in pricing upload (#2410)
  engines/excel_data_services/app/services/excel_data_services/restructurers/pricing_one_fee_col_and_ranges.rb
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/local_charges
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/pricings
  engines/excel_data_services/app/services/excel_data_services/v2/validators/charge_fees.rb
  engines/excel_data_services/app/services/excel_data_services/validators/missing_values/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/validators/validation_errors/missing_values.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/validators/charge_fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/missing_values/pricing_spec.rb
Owners: @itsmycargo/backend

[POL-3004] Upgrading rubocop lint to consume ruby 275 (#2416)
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Owners: @itsmycargo/sre

POL-3003: fix for range check logic in legacy pricing upload (#2415)
  engines/excel_data_services/app/services/excel_data_services/validators/missing_values/pricing.rb
Owners: @itsmycargo/backend

POL-3000: adjust CargoDeliveryDate for transit time (#2411)
  doc/api/swagger.json
  engines/api/app/decorators/api/v2/result_decorator.rb
  engines/api/app/serializers/api/v2/result_serializer.rb
  engines/api/spec/decorators/api/v2/result_decorator_spec.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
Owners: @itsmycargo/backend

POL-2987 - Return no total when the user is not logged in (#2414)
  engines/api/app/decorators/api/v2/result_decorator.rb
  engines/api/app/serializers/api/v2/result_serializer.rb
  engines/api/spec/decorators/api/v2/result_decorator_spec.rb
  engines/api/spec/serializers/api/v2/result_serializer_spec.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
Owners: @itsmycargo/backend

[POL-2980] Sorting and filtering on the Companies index endpoint (#2412)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/companies_controller.rb
  engines/api/app/models/api/company.rb
  engines/api/app/services/api/filter_param_validator.rb
  engines/api/spec/api/api/companies_spec.rb
  engines/api/spec/controllers/api/v2/companies_controller_spec.rb
  engines/api/spec/models/api/company_spec.rb
  engines/api/spec/services/api/filter_param_validator_spec.rb
Owners: @itsmycargo/backend

POL-2937: fixed it (#2421)
  engines/excel_data_services/app/services/excel_data_services/restructurers/base.rb
  engines/excel_data_services/factories/excel_data_parsed.rb
  engines/excel_data_services/spec/services/excel_data_services/restructurers/pricing_one_fee_col_and_ranges_spec.rb
Owners: @itsmycargo/backend

POL-2975: Create Journey::Document with ShipmentRequest create request (#2417)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/shipment_requests_controller.rb
  engines/api/app/serializers/api/v2/document_serializer.rb
  engines/api/app/services/api/shipment_request_creation_service.rb
  engines/api/spec/api/api/shipment_requests_spec.rb
  engines/api/spec/controllers/api/v2/shipment_requests_controller_spec.rb
  engines/journey/app/models/journey/document.rb
  engines/journey/app/models/journey/shipment_request.rb
  engines/journey/factories/fixtures/bill_of_lading.pdf
  engines/journey/factories/fixtures/certificate_of_origin.pdf
  engines/journey/factories/fixtures/commercial_invoice.pdf
  engines/journey/factories/fixtures/consular_documents.pdf
  engines/journey/factories/fixtures/destination_control_statement.pdf
  engines/journey/factories/fixtures/dock_receipt.pdf
  engines/journey/factories/fixtures/export_license.pdf
  engines/journey/factories/fixtures/free_trade_document.pdf
  engines/journey/factories/fixtures/health_certificate.pdf
  engines/journey/factories/fixtures/inspection_certificate.pdf
  engines/journey/factories/fixtures/insurance_certificate.pdf
  engines/journey/factories/fixtures/packing_list.pdf
  engines/journey/factories/fixtures/shippers_letter_of_instruction.pdf
  engines/journey/factories/fixtures/test.txt
  engines/journey/factories/fixtures/warehouse_receipt.pdf
  engines/journey/factories/journey/documents.rb
  engines/journey/spec/models/journey/document_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

[POL-2816] Chore : Removing acts_as_paranoid gem (#2424)
  Gemfile.lock
  engines/users/lib/users/engine.rb
  engines/users/users.gemspec
Owners: @itsmycargo/backend

[POL-3012] Adjust v2/requests endpoint to accept more attributes (#2423)
  db/structure.sql
  doc/api/swagger.json
  doc/engines/journey/index.rst
  engines/api/app/controllers/api/v2/request_for_quotations_controller.rb
  engines/api/app/controllers/api/v2/requests_controller.rb
  engines/api/app/serializers/api/v2/request_for_quotation_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/request_for_quotations_spec.rb
  engines/api/spec/api/api/requests_spec.rb
  engines/api/spec/controllers/api/v2/request_for_quotations_controller_spec.rb
  engines/journey/app/events/journey/request_created.rb
  engines/journey/app/events/journey/request_for_quotation_event.rb
  engines/journey/app/models/journey/request_for_quotation.rb
  engines/journey/db/migrate/20220104111105_create_journey_request_for_quotations.rb
  engines/journey/factories/journey/request_for_quotations.rb
  engines/journey/spec/models/journey/request_for_quotation_spec.rb
  engines/notifications/app/jobs/notifications/request_for_quotation_job.rb
  engines/notifications/app/mailers/notifications/request_mailer.rb
  engines/notifications/app/views/notifications/request_mailer/request_created.de.html.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.de.text.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.en.html.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.en.text.erb
  engines/notifications/lib/notifications/engine.rb
  engines/notifications/spec/jobs/notifications/request_for_quotation_job_spec.rb
  engines/notifications/spec/mailers/notifications/request_spec.rb
  engines/notifications/spec/mailers/previews/notifications/request_preview.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/data, @itsmycargo/backend

POL-3016:fix for rendering logic in quotation pdf (#2427)
  engines/pdf/app/views/pdf/partials/breakdowns/level_x_fee.html.erb
Owners: @itsmycargo/backend

POL-2948: Deduping Companies (#2422)
  app/workers/dedupe_companies_worker.rb
  db/data/20220103104652_dedupe_companies.rb
  db/data_schema.rb
  db/structure.sql
  engines/api/app/models/api/company.rb
  engines/api/app/models/api/shipment_request.rb
  engines/companies/app/models/companies/company.rb
  engines/companies/app/models/companies/membership.rb
  engines/companies/db/migrate/20220103104649_add_branch_id_to_membership.rb
  engines/companies/db/migrate/20220106120237_remove_old_index_from_memberships.rb
  engines/excel_data_services/app/services/excel_data_services/inserters/companies.rb
  engines/excel_data_services/app/services/excel_data_services/validators/header_checker.rb
  engines/idp/app/services/idp/saml_data_builder.rb
  guides/data/companies.rst
  spec/workers/dedupe_companies_worker_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

Changing ruby to 2.7.5 (#2430)
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .ruby-version
  Dockerfile
  engines/journey/spec/models/journey/result_spec.rb
Owners: @itsmycargo/sre, @itsmycargo/backend

POL-3026: fix without other code (#2438)
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
Owners: @itsmycargo/backend

POL-3027: cleanup for saml bug (#2439)
  db/structure.sql
  engines/api/app/models/api/company.rb
  engines/companies/app/models/companies/company.rb
  engines/companies/db/migrate/20220119071628_deprecate_external_id.rb
  engines/companies/factories/companies/companies.rb
  engines/excel_data_services/app/services/excel_data_services/validators/type_validity/companies.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/companies_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/restructurers/employees_spec.rb
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/requests/idp/saml_controller_spec.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
  engines/pdf/app/services/pdf/service.rb
  engines/pdf/app/views/pdf/partials/quotation/_company.html.erb
  engines/result_formatter/app/decorators/result_formatter/company_decorator.rb
  spec/workers/dedupe_companies_worker_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

[POL-2997] Set and retrieve landing page variant with associated background images (#2428)
  db/structure.sql
  doc/api/swagger.json
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/admin/admiralty/themes_admin.rb
  engines/api/app/serializers/api/v2/theme_serializer.rb
  engines/api/spec/api/api/themes_spec.rb
  engines/api/spec/controllers/api/v2/themes_controller_spec.rb
  engines/api/spec/serializers/api/v2/theme_serializer_spec.rb
  engines/organizations/app/models/organizations/theme.rb
  engines/organizations/db/migrate/20220111070737_add_theme_with_landing_page_variant_enum.rb
  engines/organizations/db/migrate/20220113065837_update_theme_landing_page_variant_with_default.rb
  engines/organizations/db/migrate/20220113072542_update_theme_landing_page_variant_change_default.rb
  engines/organizations/factories/organizations/themes.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/data, @itsmycargo/backend

POL-3032: downcasing email from saml response (#2441)
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
Owners: @itsmycargo/backend

POL-2800 - Add uniqueness to company name belonging to an organization, and downcase email (#2436)
  db/structure.sql
  engines/api/app/models/api/company.rb
  engines/companies/app/models/companies/company.rb
  engines/companies/db/migrate/20220118102740_add_not_null_for_name_constraint.rb
  engines/companies/db/migrate/20220118103740_add_downcase_check_for_name_uniqueness_constraint.rb
  engines/companies/db/migrate/20220120141728_change_company_name_to_citext_data_type.rb
  engines/companies/spec/models/companies/company_spec.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

[POL-3013] Upgrade polaris to Rails 5.2.6 (#2431)
  .rails-version
  Gemfile.lock
  config/application.rb
  engines/excel_data_services/app/jobs/excel_data_services/uploader_job.rb
  engines/excel_data_services/app/services/excel_data_services/inserters/date_overlap_handler.rb
  engines/offer_calculator/app/jobs/offer_calculator/async_calculation_job.rb
  engines/pricings/app/models/pricings/fee.rb
  gems/cargo_packer/cargo_packer.gemspec
  gems/measured-itsmycargo/measured-itsmycargo.gemspec
  gems/money_cache/money_cache.gemspec
  gems/shared-runtime/shared-runtime.gemspec
Owners: @itsmycargo/backend

POL-3017: update Query with Client company when setting client on Query (#2443)
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/controllers/api/v2/request_for_quotations_controller.rb
  engines/api/app/models/api/client.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/controllers/api/v2/request_for_quotations_controller_spec.rb
  engines/api/spec/models/api/client_spec.rb
  engines/journey/app/models/journey/query.rb
  engines/journey/spec/models/journey/query_spec.rb
Owners: @itsmycargo/backend

POL-3025: Matrix class and specs (#2435)
  doc/engines/excel_data_services/Matrix/index.rst
  doc/engines/excel_data_services/index.rst
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/cell_parser.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/column.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/matrix.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/options.rb
  engines/excel_data_services/app/services/excel_data_services/validators/validation_errors/insertable_checks.rb
  engines/excel_data_services/lib/roo/excelx_money.rb
  engines/excel_data_services/lib/roo/sheet_money.rb
  engines/excel_data_services/lib/roo/value_from_cell.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/tables/cell_parser_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/tables/matrix_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/tables/options_spec.rb
Owners: @itsmycargo/backend

POL-3040: fix for dates in mid of month (#2444)
  engines/excel_data_services/app/services/excel_data_services/restructurers/saco_shipping.rb
  engines/excel_data_services/app/services/excel_data_services/v2/operations/dynamic/month_date_values.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/operations/dynamic/month_date_values_spec.rb
Owners: @itsmycargo/backend

POL-3043: Pricing Upload Fix (#2446)
  engines/excel_data_services/app/services/excel_data_services/inserters/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/restructurers/saco_shipping.rb
  engines/pricings/app/models/pricings/fee.rb
Owners: @itsmycargo/backend

POL-3018: isolated Framers module (#2434)
  config/initializers/01-ext.rb
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/hubs
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/local_charges
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/hubs
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/local_charges
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/v3/framers/base.rb
  engines/excel_data_services/app/services/excel_data_services/v3/framers/table.rb
  engines/excel_data_services/app/services/excel_data_services/v3/framers/trucking_fees.rb
  engines/excel_data_services/app/services/excel_data_services/v3/framers/trucking_rates.rb
  engines/excel_data_services/app/services/excel_data_services/v3/helpers/prefixed_column_mapper.rb
  engines/excel_data_services/factories/section_data.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/section_hubs_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/section_local_charges_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/section_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/sheet_type_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_hubs_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_local_charges_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/sheet_type_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/framers/table_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/framers/trucking_fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/framers/trucking_rates_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/helpers/prefix_column_mapper_spec.rb
  lib/ext/rover/data_frame.rb
  lib/ext/rover/vector.rb
Owners: @itsmycargo/backend

POL-3020: Trucking Fees Operation (#2448)
  engines/excel_data_services/app/services/excel_data_services/v3/operations/dynamic_fees.rb
  engines/excel_data_services/app/services/excel_data_services/v3/operations/trucking_fees.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/operations/trucking_fees_spec.rb
Owners: @itsmycargo/backend

[POL-3014] Passing referrer host to client and user mailers (#2451)
  app/controllers/password_resets_controller.rb
  spec/requests/password_resets_request_spec.rb
Owners: @itsmycargo/backend

[POL-2989] Making downloaders async (#2445)
  Gemfile.lock
  app/controllers/admin/admin_base_controller.rb
  app/controllers/admin/charge_categories_controller.rb
  app/controllers/admin/hubs_controller.rb
  app/controllers/admin/local_charges_controller.rb
  app/controllers/admin/pricings_controller.rb
  engines/excel_data_services/Gemfile.runtime
  engines/excel_data_services/app/jobs/excel_data_services/downloader_job.rb
  engines/excel_data_services/app/services/excel_data_services/loaders/downloader.rb
  engines/excel_data_services/excel_data_services.gemspec
  engines/excel_data_services/spec/jobs/excel_data_services/downloader_job_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/loaders/downloader_spec.rb
  engines/notifications/app/mailers/notifications/download_mailer.rb
  engines/notifications/app/views/notifications/download_mailer/complete_email.de.html.erb
  engines/notifications/app/views/notifications/download_mailer/complete_email.html.erb
  engines/notifications/spec/mailers/notifications/download_mailer_spec.rb
  engines/notifications/spec/mailers/previews/notifications/download_preview.rb
  spec/controllers/admin/charge_categories_controller_spec.rb
  spec/controllers/admin/hubs_controller_spec.rb
  spec/controllers/admin/local_charges_controller_spec.rb
  spec/controllers/admin/pricings_controller_spec.rb
Owners: @itsmycargo/backend

POL-3021: Trucking Zone Operation (#2449)
  engines/excel_data_services/app/services/excel_data_services/v3/operations/trucking_zones.rb
  engines/excel_data_services/app/services/excel_data_services/v3/operations/zone_ranges/single_country_range_expanded.rb
  engines/excel_data_services/app/services/excel_data_services/v3/operations/zone_ranges/single_zone_range_expanded.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/operations/trucking_zones_spec.rb
Owners: @itsmycargo/backend

POL-3028: Date wrangling and LC formatter issues (#2447)
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/local_charges
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/local_charge.rb
  engines/excel_data_services/app/services/excel_data_services/v2/helpers/attribute_query_formatter.rb
  engines/excel_data_services/app/services/excel_data_services/v2/import.rb
  engines/excel_data_services/app/services/excel_data_services/v2/operations/dynamic/expanded_dates_frame.rb
  engines/excel_data_services/app/services/excel_data_services/v2/operations/expanded_dates.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/base.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/detector.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/extends_before_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/extends_past_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/resolver.rb
  engines/excel_data_services/app/services/excel_data_services/v2/upload.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/base.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/local_charge.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/v3/helpers/frame_filter.rb
  engines/excel_data_services/app/services/excel_data_services/v3/operations/counterpart_hub_expander.rb
  engines/excel_data_services/app/services/excel_data_services/v3/overlaps/resolver.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/section_local_charges_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/local_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/import_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/operations/expanded_dates_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/overlaps/detector_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/overlaps/resolver_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/local_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/framers/trucking_rates_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/helpers/frame_filter_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/overlaps/resolver_spec.rb
  engines/legacy/app/models/legacy/local_charge.rb
  engines/offer_calculator/spec/services/offer_calculator/service/manipulators/local_charges_spec.rb
  lib/ext/rover/data_frame.rb
  spec/fixtures/files/excel/example_local_charges_varied_dates.xlsx
  spec/shared/extractor_setup.rb
  spec/shared/v3_setup.rb
Owners: @itsmycargo/backend

POL-3019: Extractors for Trucking Uploader (#2452)
  doc/engines/graph.puml
  engines/excel_data_services/app/services/excel_data_services/v3/extractors/carriage.rb
  engines/excel_data_services/app/services/excel_data_services/v3/extractors/locations_location.rb
  engines/excel_data_services/app/services/excel_data_services/v3/extractors/query_method.rb
  engines/excel_data_services/app/services/excel_data_services/v3/extractors/query_type.rb
  engines/excel_data_services/app/services/excel_data_services/v3/extractors/trucking_location.rb
  engines/excel_data_services/app/services/excel_data_services/v3/extractors/type_availability.rb
  engines/excel_data_services/app/services/excel_data_services/v3/helpers/geo_data_preparer.rb
  engines/excel_data_services/app/services/excel_data_services/v3/overrides.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/carriage_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/locations_location_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/query_method_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/query_type_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/trucking_location_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/type_availability_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/helpers/geo_data_preparer_spec.rb
Owners: @itsmycargo/backend

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre
