Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

IMC-3070: freightright fixes (#1577)
  app/classes/excel_data_services/inserters/schedule_generator.rb
  app/classes/excel_data_services/validators/insertable_checks/schedule_generator.rb
  app/controllers/admin/dashboard_controller.rb
  app/controllers/admin/schedules_controller.rb
  spec/classes/excel_data_services/validators/insertable_checks/schedule_generator_spec.rb
  spec/mailers/upload_mailer_spec.rb
Owners: @itsmycargo/backend

FIX: CHORE: IMC-3022: Trucking inserter properly brought up to code (#1574)
  engines/trucking/app/services/trucking/excel/inserter.rb
Owners: @itsmycargo/backend

IMC-3065: paswordless login for unsworth (#1568)
  engines/api_auth/config/initializers/doorkeeper.rb
  engines/api_auth/lib/api_auth/resource_authenticator.rb
  engines/api_auth/lib/api_auth/resource_helper.rb
  engines/api_auth/spec/lib/api_auth/resource_authenticator_spec.rb
  engines/api_auth/spec/lib/api_auth/resource_helper_spec.rb
Owners: @itsmycargo/backend

IMC-3069: mailer queue bug (#1576)
  app/classes/shipping_tools.rb
  app/mailers/quote_mailer.rb
  app/views/quote_mailer/quotation_email.mjml
  spec/mailers/quote_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-3072: default args added (#1579)
  app/mailers/quote_mailer.rb
  spec/mailers/quote_mailer_spec.rb
Owners: @itsmycargo/backend

CHORE: IMC-3067 IMC-3067: missing index for speed (#1570)
  app/models/charge.rb
  db/migrate/20200728145139_add_index_to_charge_parent.rb
  db/schema.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3074: adjusted logic for admin bug (#1580)
  doc/engines/graph.dot
  doc/engines/graph.pdf
  engines/api_auth/lib/api_auth/resource_authenticator.rb
  engines/api_auth/spec/lib/api_auth/resource_authenticator_spec.rb
Owners: @itsmycargo/backend

IMC-2360 - Download offers as xlsx (#1562)
  Gemfile.lock
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/app/serializers/api/v1/xlsx_serializer.rb
  engines/api/spec/api/quotations_spec.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/serializers/api/v1/xlsx_serializer_spec.rb
  engines/wheelhouse/app/services/wheelhouse/excel_writer_service.rb
  engines/wheelhouse/app/services/wheelhouse/quotation_download_service.rb
  engines/wheelhouse/config/locales/en.yml
  engines/wheelhouse/lib/wheelhouse/engine.rb
  engines/wheelhouse/spec/services/wheelhouse/excel_writer_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_download_service_spec.rb
  engines/wheelhouse/wheelhouse.gemspec
Owners: @itsmycargo/backend

IMC-3091: Geocoder caching (#1586)
  config/initializers/geocoder.rb
Owners: @itsmycargo/backend

IMC-3092: resolving conflicts (#1588)
  config/initializers/geocoder.rb
Owners: @itsmycargo/backend

IMC-3090 - shipment from quotation (#1585)
  engines/wheelhouse/app/services/wheelhouse/pdf_service.rb
  engines/wheelhouse/spec/services/wheelhouse/pdf_service_spec.rb
Owners: @itsmycargo/backend

IMC-3078 - Compact on cut off dates (#1584)
  app/classes/excel_data_services/validators/type_validity/pricing_dynamic_fee_cols_no_ranges.rb
  app/classes/excel_data_services/validators/type_validity/pricing_one_fee_col_and_ranges.rb
Owners: @itsmycargo/backend

IMC-3077: disable saml metadatum editing as it is causing issues (#1581)
  app/jobs/quoted_shipments_job.rb
  engines/admiralty_tenants/app/controllers/admiralty_tenants/organizations_controller.rb
  engines/organizations/app/models/organizations/saml_metadatum.rb
Owners: @itsmycargo/backend

IMC-3095 - Create user without password (#1589)
  app/controllers/users_controller.rb
  config/routes.rb
  engines/api_auth/config/initializers/doorkeeper.rb
  engines/api_auth/lib/api_auth/resource_authenticator.rb
  engines/api_auth/spec/lib/api_auth/resource_authenticator_spec.rb
  spec/controllers/users_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3102: removed rails_helper (#1593)
  app/jobs/quoted_shipments_job.rb
Owners: @itsmycargo/backend

IMC-3100: handle no mdbs in wheelhouse (#1592)
  engines/wheelhouse/app/services/wheelhouse/validations/cargo_validation_service.rb
  engines/wheelhouse/spec/services/wheelhouse/validations/container_validation_service_spec.rb
Owners: @itsmycargo/backend

chore(fix): removed arg (#1594)
  engines/api_auth/config/initializers/doorkeeper.rb
Owners: @itsmycargo/backend

IMC-3109: enforce Org::User (#1595)
  app/mailers/quote_mailer.rb
  spec/mailers/quote_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-3093 - Cache for google directions service (#1590)
  engines/offer_calculator/app/services/offer_calculator/google_directions.rb
  engines/offer_calculator/spec/services/offer_calculator/google_directions_spec.rb
Owners: @itsmycargo/backend

IMC-3110: pricing inserter fixed for wm_ratio (#1596)
  app/classes/excel_data_services/file_writers/base.rb
  app/classes/excel_data_services/file_writers/pricings_row_data_builder.rb
  app/classes/excel_data_services/inserters/pricing.rb
  app/classes/excel_data_services/restructurers/pricing_one_fee_col_and_ranges.rb
  app/classes/excel_data_services/rows/pricing.rb
  app/classes/excel_data_services/validators/header_checker.rb
  engines/pricings/app/models/pricings/pricing.rb
  spec/classes/excel_data_services/file_writers/pricings_spec.rb
  spec/factories/excel_data_parsed.rb
  spec/factories/excel_data_restructured.rb
Owners: @itsmycargo/backend

IMC-3111 - Fetch Organization safely (#1598)
  app/classes/document_service/gdpr_writer.rb
Owners: @itsmycargo/backend

IMC-3019 - Set booking_placed_at for quoted shipme (#1602)
  app/services/quoted_shipments_service.rb
  db/migrate/20200805135804_backfill_shipments_booking_placed_at.rb
  db/schema.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3114 - Cbm ratio fall back (#1601)
  engines/pricings/app/services/pricings/manipulator_result.rb
  engines/pricings/spec/services/pricings/manipulator_result_spec.rb
Owners: @itsmycargo/backend

IMC-3112 - Set quotation.billing correctly (#1600)
  db/migrate/20200806101120_backfill_test_shipments.rb
  db/schema.rb
  doc/engines/graph.pdf
  engines/offer_calculator/app/services/offer_calculator/service/shipment_update_handler.rb
  engines/offer_calculator/spec/services/offer_calculator/service/shipment_update_handler_spec.rb
  engines/organizations/data/default_scope.yaml
  engines/organizations/db/migrate/20200806091151_backfill_blacklisted_emails.rb
  engines/quotations/db/migrate/20200806101121_backfill_quotations_billing.rb
Owners: @itsmycargo/data, @itsmycargo/backend

IMC-3117: Admiralty - Error While saving organization (#1604)
  engines/admiralty_tenants/app/controllers/admiralty_tenants/organizations_controller.rb
  engines/admiralty_tenants/app/views/admiralty_tenants/organizations/_organization_form.html.erb
  engines/admiralty_tenants/spec/controllers/admiralty_tenants/organizations_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3113: custom buffer period for quote shops (#1599)
  engines/offer_calculator/app/services/offer_calculator/service/quote_route_builder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/quote_route_builder_spec.rb
  engines/organizations/data/default_scope.yaml
Owners: @itsmycargo/backend

IMC-3000 - Siren Landing Page Widgets API (#1597)
  .rubocop.yml
  Gemfile.lock
  db/schema.rb
  doc/engines/graph.dot
  engines/api/api.gemspec
  engines/api/app/controllers/api/v1/widgets_controller.rb
  engines/api/app/serializers/api/v1/widget_serializer.rb
  engines/api/config/routes.rb
  engines/api/lib/api/engine.rb
  engines/api/spec/api/widgets_spec.rb
  engines/api/spec/controllers/api/v1/widgets_controller_spec.rb
  engines/api/spec/serializers/api/v1/widget_serializer_spec.rb
  engines/cms_data/Gemfile
  engines/cms_data/Rakefile
  engines/cms_data/app/models/cms_data/application_record.rb
  engines/cms_data/app/models/cms_data/widget.rb
  engines/cms_data/bin/rails
  engines/cms_data/bin/rspec
  engines/cms_data/cms_data.gemspec
  engines/cms_data/db/migrate/20200806145537_create_cms_data_widgets.rb
  engines/cms_data/lib/cms_data.rb
  engines/cms_data/lib/cms_data/engine.rb
  engines/cms_data/lib/imc/cms_data.rb
  engines/cms_data/spec/dummy/Rakefile
  engines/cms_data/spec/dummy/app/assets/config/manifest.js
  engines/cms_data/spec/dummy/config.ru
  engines/cms_data/spec/dummy/config/application.rb
  engines/cms_data/spec/dummy/config/boot.rb
  engines/cms_data/spec/dummy/config/cable.yml
  engines/cms_data/spec/dummy/config/database.yml
  engines/cms_data/spec/dummy/config/environment.rb
  engines/cms_data/spec/dummy/config/environments/development.rb
  engines/cms_data/spec/dummy/config/environments/test.rb
  engines/cms_data/spec/dummy/lib/assets/.keep
  engines/cms_data/spec/factories/cms_data/widgets.rb
  engines/cms_data/spec/models/cms_data/widget_spec.rb
  engines/cms_data/spec/rails_helper.rb
  engines/cms_data/spec/spec_helper.rb
Owners: @itsmycargo/backend, @itsmycargo/data

CHORE: Adding wolfhound tool on bin folder (#1610)
  bin/wolfhound
Owners: @itsmycargo/backend

IMC-3121: corrected config (#1607)
  config/initializers/money.rb
Owners: @itsmycargo/backend

IMC-3124: corrected error raising logic (#1609)
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/truckings.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/truckings_spec.rb
  engines/trucking/spec/factories/trucking/truckings.rb
Owners: @itsmycargo/backend

IMC-3125 - Set notes on pricing uploads to remarks (#1611)
  app/classes/excel_data_services/inserters/pricing.rb
Owners: @itsmycargo/backend

IMC-3101 - Fix editing org names on admiralty (#1612)
  engines/admiralty_tenants/app/controllers/admiralty_tenants/organizations_controller.rb
  engines/admiralty_tenants/app/views/admiralty_tenants/organizations/_organization_form.html.erb
  engines/admiralty_tenants/spec/controllers/admiralty_tenants/organizations_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3058: corrected local charge weight selection (#1613)
  engines/offer_calculator/app/services/offer_calculator/service/measurements/base.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo/pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/unit/local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/unit/pricing_spec.rb
  engines/pricings/app/services/pricings/manipulator_result.rb
  engines/pricings/spec/services/pricings/manipulator_result_spec.rb
Owners: @itsmycargo/backend

IMC-3119 - Test coverage on mailer with umlaut (#1608)
  engines/legacy/spec/factories/legacy/addresses.rb
  spec/mailers/quote_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-3099: fixed user decorator to handle soft and hard deleted profiles (#1614)
  engines/api/app/decorators/api/v1/user_decorator.rb
  engines/api/spec/decorators/api/v1/user_decorator_spec.rb
Owners: @itsmycargo/backend

IMC-3071: backfilling line items without original_amounts (#1578)
  app/jobs/migrator_job.rb
  engines/migrator/lib/migrator/base.rb
  engines/migrator/lib/migrator/migrations/quotations/line_items.rb
  spec/jobs/migrator_job_spec.rb
Owners: @itsmycargo/backend

IMC-3141: API - Quotation List is not returning pagination metadata (#1620)
  engines/api/app/decorators/api/v1/quotation_decorator.rb
Owners: @itsmycargo/backend

IMC-3138 - fix user type (#1619)
  app/controllers/users_controller.rb
  engines/authentication/app/models/authentication/user.rb
  engines/authentication/spec/factories/authentication/users.rb
  engines/idp/app/controllers/idp/saml_controller.rb
  engines/idp/spec/controllers/idp/saml_controller_spec.rb
  engines/migrator/lib/migrator/base.rb
  engines/migrator/lib/migrator/migrations/users/users.rb
  spec/controllers/users_controller_spec.rb
Owners: @itsmycargo/backend

chore: annotations (#1618)
  config/routes.rb
  db/schema.rb
  engines/cms_data/app/models/cms_data/widget.rb
  engines/legacy/app/models/legacy/charge.rb
  engines/rates/app/models/rates/discount.rb
Owners: @itsmycargo/backend, @itsmycargo/data

FIX: CHORE: IMC-3009 - Booking Query Model (#1616)
  Gemfile.lock
  db/schema.rb
  doc/engines/graph.dot
  doc/engines/graph.pdf
  engines/booking/Gemfile
  engines/booking/Rakefile
  engines/booking/app/models/booking/application_record.rb
  engines/booking/app/models/booking/query.rb
  engines/booking/app/services/booking/.keep
  engines/booking/bin/rails
  engines/booking/bin/rspec
  engines/booking/booking.gemspec
  engines/booking/db/migrate/20200724101455_create_booking_queries.rb
  engines/booking/lib/booking.rb
  engines/booking/lib/booking/engine.rb
  engines/booking/lib/imc/booking.rb
  engines/booking/spec/dummy/Rakefile
  engines/booking/spec/dummy/app/assets/config/manifest.js
  engines/booking/spec/dummy/config.ru
  engines/booking/spec/dummy/config/application.rb
  engines/booking/spec/dummy/config/boot.rb
  engines/booking/spec/dummy/config/cable.yml
  engines/booking/spec/dummy/config/database.yml
  engines/booking/spec/dummy/config/environment.rb
  engines/booking/spec/dummy/config/environments/development.rb
  engines/booking/spec/dummy/config/environments/test.rb
  engines/booking/spec/dummy/lib/assets/.keep
  engines/booking/spec/factories/booking/queries.rb
  engines/booking/spec/models/booking/query_spec.rb
  engines/booking/spec/rails_helper.rb
  engines/booking/spec/spec_helper.rb
Owners: @itsmycargo/backend, @itsmycargo/data

.github/CODEOWNERS:

# By default, backend team
*               @itsmycargo/backend

# Data related changes
**/db/migrate/* @itsmycargo/data
db/schema.rb    @itsmycargo/data

Dockerfile      @itsmycargo/sre
Jenkinsfile     @itsmycargo/sre
