Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

fix: add missing spec runner back
  .github/workflows/main.yml
Owners: @itsmycargo/sre

fix: recursive swagger.json commit
  .github/workflows/main.yml
Owners: @itsmycargo/sre

IMC-3731: correcting persit argument for validation call (#1925)
  engines/api/app/controllers/api/v1/quotations_controller.rb
Owners: @itsmycargo/backend

IMC-3734 - Allow Empty Phonenumber (#1927)
  doc/api/swagger.json
  engines/api/spec/api/api/users_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3717: Scope endpoint (#1920)
  doc/api/swagger.json
  engines/api/app/controllers/api/api_controller.rb
  engines/api/app/controllers/api/v2/scopes_controller.rb
  engines/api/app/models/api/scope.rb
  engines/api/app/serializers/api/v2/scope_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/scopes_spec.rb
  engines/api/spec/controllers/api/v2/scopes_controller_spec.rb
  engines/api/spec/controllers/api/v2/themes_controller_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3733 - Committee Application Name (#1926)
  config/application.rb
Owners: @itsmycargo/backend

IMC-3737 - Manage Max Dimensions (#1929)
  engines/admiralty/app/admin/admiralty/max_dimensions_bundles_admin.rb
  engines/admiralty/config/routes.rb
  engines/legacy/app/models/legacy/max_dimensions_bundle.rb
Owners: @itsmycargo/backend

IMC-3735 - Simpler GitHub Actions (#1928)
  .github/.dockerfilelintrc
  .github/workflows/labeler.yml
  .github/workflows/main.yml
Owners: @itsmycargo/sre

IMC-3730: Create Results properly to prevent race condition errors (#1931)
  app/workers/redupe_route_points_worker.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/api/api/quotations_spec.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/carta/app/services/carta/api.rb
  engines/carta/app/services/carta/client.rb
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/line_item_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/line_item_set_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/offer.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/result_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/result_set_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/route_section_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/section_builder.rb
  engines/offer_calculator/factories/rate_builder_result.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/lcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/line_item_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/line_item_set_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/result_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/result_set_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/routing/base_spec.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
  engines/wheelhouse/spec/services/wheelhouse/query_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_service_spec.rb
  spec/shared/full_offer.rb
  spec/workers/redupe_route_points_worker_spec.rb
Owners: @itsmycargo/backend

chore: Ensure API Documentation is updated (#1932)
  .github/workflows/main.yml
  bin/docs-diff
  doc/api/swagger.json
  engines/api/spec/api/api/oauth_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/sre, @itsmycargo/backend

chore: adding kodiak auto-update
  .github/.kodiak.toml
Owners: @itsmycargo/sre

chore: always keep up-to-date
  .github/.kodiak.toml
Owners: @itsmycargo/sre

chore: update technical domain
  config/deploy/production/ingress.yaml
Owners: @itsmycargo/backend

IMC-3616 - memberships destroy (#1930)
  app/controllers/admin/companies_controller.rb
  app/controllers/admin/groups_controller.rb
  engines/companies/spec/models/companies/company_spec.rb
  engines/users/app/models/users/client.rb
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/groups_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3745 - Generate PDF if it's missing on existing offers (#1937)
  engines/wheelhouse/app/services/wheelhouse/offer_builder.rb
  engines/wheelhouse/spec/services/wheelhouse/offer_builder_spec.rb
Owners: @itsmycargo/backend

IMC-3744: fix for validations on consolidated shops (#1939)
  engines/offer_calculator/app/services/offer_calculator/service/measurements/request.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_validation_service.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/request_spec.rb
Owners: @itsmycargo/backend

.github/CODEOWNERS:

# By default, backend team
*               @itsmycargo/backend

# Data related changes
**/db/migrate/* @itsmycargo/data
db/schema.rb    @itsmycargo/data

.github         @itsmycargo/sre
Dockerfile      @itsmycargo/sre
