Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

POL-3178: fix for group verification (#2563)
  engines/excel_data_services/app/services/excel_data_services/v3/extractors/group.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/group.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/group_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/group_spec.rb
Owners: @itsmycargo/backend

POL-3149: Margin Application (#2556)
  engines/offer_calculator/app/services/offer_calculator/service/charges/breakdown.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/margin.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/margined_rate.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/range_finder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/breakdown_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/margin_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/margined_rate_spec.rb
Owners: @itsmycargo/backend

POL-3186: return `closed_registration` to Siren as `registrationProhibited` (#2566)
  app/controllers/users_controller.rb
  doc/api/swagger.json
  engines/api/app/serializers/api/v2/scope_serializer.rb
  engines/api/spec/controllers/api/v2/scopes_controller_spec.rb
  engines/api/spec/serializers/api/v2/scope_serializer_spec.rb
  spec/controllers/users_controller_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-3188: Doorkeeper, Domains and Applications (#2567)
  app/workers/backfill_doorkeeper_applications_on_domains_worker.rb
  db/data/20220502150140_backfill_doorkeeper_applications_on_domains.rb
  db/data_schema.rb
  db/structure.sql
  engines/admiralty/app/admin/admiralty/domains_admin.rb
  engines/idp/app/controllers/idp/saml_controller.rb
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/requests/idp/saml_controller_spec.rb
  engines/organizations/app/models/organizations/domain.rb
  engines/organizations/db/migrate/20220502144623_add_doorkeeper_application_to_domain.rb
  spec/workers/backfill_doorkeeper_applications_on_domains_worker_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-3194: General MOT being ignored when there is trucking (#2568)
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_validation_service.rb
  engines/offer_calculator/spec/services/offer_calculator/service/validations/cargo_item_validation_service_spec.rb
Owners: @itsmycargo/backend

POL-3190: Inserting Municipality Data into Locations::Location table (#2569)
  app/workers/load_germany_municipality_geo_data_worker.rb
  db/data/20220428104252_load_germany_municipality_geo_data.rb
Owners: @itsmycargo/backend

POL-3158: send dangerous goods direct to rfq page (#2570)
  config/locales/en.yml
  engines/offer_calculator/app/services/offer_calculator/calculator.rb
  engines/offer_calculator/app/services/offer_calculator/errors.rb
  engines/offer_calculator/app/services/offer_calculator/service/query_generator.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/async_spec.rb
Owners: @itsmycargo/backend

POL-3150: Charge Calculation (#2564)
  engines/offer_calculator/app/services/offer_calculator/service/charges/breakdown.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/breakdown_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/calculator.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/charge_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/component.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/decorated_charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/margin.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/margined_rate.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/range_fee_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/range_finder.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/local_charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/pricing.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/trucking.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/relation_data.rb
  engines/offer_calculator/spec/services/offer_calculator/service/calculators/charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/breakdown_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/breakdown_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/calculator_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/charge_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/decorated_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/fee_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/margin_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/margined_rate_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/range_fee_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_pricing_spec.rb
Owners: @itsmycargo/backend

POL-3174: IS NULL comparison fix (#2572)
  engines/excel_data_services/app/services/excel_data_services/v3/overlaps/detector.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/overlaps/detector_spec.rb
Owners: @itsmycargo/backend

POL-3180: fixed serializer call and spec (#2574)
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
Owners: @itsmycargo/backend

[POL-3195] Creating countries endpoint (#2577)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/countries_controller.rb
  engines/api/app/serializers/api/v2/country_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/countries_spec.rb
  engines/api/spec/controllers/api/v2/countries_controller_spec.rb
  engines/api/spec/serializers/api/v2/country_serializer_spec.rb
Owners: @itsmycargo/backend

POL-3184: Enable XML parsing on V4 (#2573)
  engines/excel_data_services/app/services/excel_data_services/v4/files/parsers/xml.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/section_parser.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/tables/xml.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/tables/xml_column.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/xml_data.rb
  engines/excel_data_services/app/services/excel_data_services/v4/processor.rb
  engines/excel_data_services/app/services/excel_data_services/v4/state.rb
  engines/excel_data_services/app/services/excel_data_services/v4/xml.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/files/tables/xml_column_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/files/tables/xml_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/files/xml_data_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/xml_spec.rb
  spec/fixtures/files/xml/example_grdb.xml
  spec/fixtures/files/xml/example_grdb_destination_charges.xml
  spec/fixtures/files/xml/example_grdb_origin_charges.xml
Owners: @itsmycargo/backend

[POL-3192] Index endpoint for Company Clients (#2576)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/admin/clients_controller.rb
  engines/api/app/models/api/client.rb
  engines/api/app/serializers/api/v2/client_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/clients_spec.rb
  engines/api/spec/controllers/api/v2/admin/clients_controller_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/controllers/api/v2/shipment_requests_controller_spec.rb
  engines/api/spec/models/api/client_spec.rb
  engines/api/spec/serializers/api/v2/client_serializer_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-3173: Cargo expansion and Context Class (#2575)
  engines/offer_calculator/app/services/offer_calculator/service/charges/charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/charge_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/charge_consolidation.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/component.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/context.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/local_charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/pricing.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/trucking.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/relation_data.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/request.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charge_calculator_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/charge_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/charge_consolidation_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/context_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/decorated_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/request_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/rate_overview_spec.rb
Owners: @itsmycargo/backend

[POL-3191] Companies index point to return country and last activity information (#2578)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/admin/clients_controller.rb
  engines/api/app/controllers/api/v2/admin/companies_controller.rb
  engines/api/app/controllers/api/v2/companies_controller.rb
  engines/api/app/controllers/api/v2/shipment_requests_controller.rb
  engines/api/app/models/api/client.rb
  engines/api/app/models/api/company.rb
  engines/api/app/models/api/shipment_request.rb
  engines/api/app/serializers/api/v2/company_serializer.rb
  engines/api/app/services/api/filter_param_validator.rb
  engines/api/config/routes.rb
  engines/api/factories/api/company.rb
  engines/api/spec/api/api/companies_spec.rb
  engines/api/spec/controllers/api/v2/admin/companies_controller_spec.rb
  engines/api/spec/models/api/company_spec.rb
  engines/api/spec/services/api/filter_param_validator_spec.rb
  engines/legacy/app/models/legacy/address.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-3200: ActiveLocode Lookup (#2582)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/active_locodes_controller.rb
  engines/api/app/services/api/active_locode_lookup.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/active_locodes_spec.rb
  engines/api/spec/controllers/api/v2/active_locodes_controller_spec.rb
  engines/api/spec/services/api/active_locode_lookup_spec.rb
Owners: @itsmycargo/backend

[POL-3196] Companies Update Endpoint to support address updation (#2583)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/admin/companies_controller.rb
  engines/api/app/serializers/api/v2/company_serializer.rb
  engines/api/spec/api/api/companies_spec.rb
  engines/api/spec/controllers/api/v2/admin/companies_controller_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-3202: fix for v1 dashboard (#2584)
  engines/analytics/app/services/analytics/base.rb
  engines/analytics/spec/services/analytics/base_spec.rb
  engines/analytics/spec/services/analytics/dashboard/bookings_per_company_spec.rb
Owners: @itsmycargo/backend

POL-3206: update ActiveLocodes to takeLocationGoups into account (#2587)
  engines/api/app/services/api/active_locode_lookup.rb
  engines/api/spec/services/api/active_locode_lookup_spec.rb
Owners: @itsmycargo/backend

POL-3209: Fix for deploy (#2588)
  .github/workflows/production.yml
Owners: @itsmycargo/sre

POL-3207: Improved uploader version switching (#2589)
  app/workers/backfill_uploader_scopes_worker.rb
  db/data/20220524173555_backfill_uploader_scopes.rb
  db/data_schema.rb
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/views/admin/organizations/_version_form_select.html.erb
  engines/excel_data_services/app/services/excel_data_services/loaders/uploader.rb
  engines/excel_data_services/spec/services/excel_data_services/loaders/uploader_spec.rb
  engines/organizations/data/default_scope.yaml
  spec/workers/backfill_uploader_scopes_worker_spec.rb
Owners: @itsmycargo/backend

POL-3212: naming inconsistency (#2591)
  engines/excel_data_services/app/services/excel_data_services/loaders/uploader.rb
  engines/excel_data_services/spec/services/excel_data_services/loaders/uploader_spec.rb
Owners: @itsmycargo/backend

POL-3211: Basic Action editing and creation (#2590)
  Gemfile.lock
  engines/admiralty/Gemfile.runtime
  engines/admiralty/admiralty.gemspec
  engines/admiralty/app/admin/admiralty/distributions_admin.rb
  engines/admiralty/config/routes.rb
  engines/admiralty/lib/admiralty/engine.rb
Owners: @itsmycargo/backend

POL-3211: missed important attributes (#2592)
  engines/admiralty/app/admin/admiralty/distributions_admin.rb
  engines/distributions/app/models/distributions/action.rb
Owners: @itsmycargo/backend

POL-3220: Fix filtering, and refactor this utterly crazy class to be at least 10% more sane (#2594)
  Gemfile
  Gemfile.lock
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_item_validation_service.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_validation_service.rb
  engines/offer_calculator/spec/services/offer_calculator/service/validations/cargo_item_validation_service_spec.rb
Owners: @itsmycargo/backend

[POL-3156] Queries should be searchable by MOT (#2595)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/decorators/api/v2/client_decorator.rb
  engines/api/app/models/api/query.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/models/api/query_spec.rb
Owners: @itsmycargo/backend

Fix loading of domains in admiralty (#2598)
  engines/admiralty/app/admin/admiralty/domains_admin.rb
  engines/analytics/spec/services/analytics/base_spec.rb
Owners: @itsmycargo/backend

[POL-3197] Index endpoint for Company Shipments (#2599)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/admin/shipment_requests_controller.rb
  engines/api/app/serializers/api/v2/admin/shipment_request_index_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/shipment_requests_spec.rb
  engines/api/spec/controllers/api/v2/admin/shipment_requests_controller_spec.rb
  engines/users/app/models/users/client.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

[POL-3204] Admin Create/Update/Delete Endpoints (#2593)
  config/routes.rb
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/admin/users_controller.rb
  engines/api/app/decorators/api/v2/user_decorator.rb
  engines/api/app/models/api/user.rb
  engines/api/app/serializers/api/v2/user_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/admin/admin_users_spec.rb
  engines/api/spec/controllers/api/v2/admin/users_controller_spec.rb
  engines/users/spec/models/users/user_spec.rb
  rubocop_legacy.yml
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

[POL-3205] Admin index endpoint (#2603)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/admin/users_controller.rb
  engines/api/app/models/api/user.rb
  engines/api/app/serializers/api/v2/user_serializer.rb
  engines/api/config/routes.rb
  engines/api/factories/api/user.rb
  engines/api/spec/api/api/admin/admin_users_spec.rb
  engines/api/spec/controllers/api/v2/admin/users_controller_spec.rb
  engines/api/spec/models/api/user_spec.rb
  engines/users/app/models/users/user.rb
  engines/users/spec/models/users/user_spec.rb
Owners: @itsmycargo/backend

[POL-3193] Index endpoint for Company Quotations (#2602)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/admin/queries_controller.rb
  engines/api/app/models/api/query.rb
  engines/api/app/services/api/filter_param_validator.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/admin/queries_controller_spec.rb
  engines/api/spec/models/api/query_spec.rb
  engines/api/spec/services/api/filter_param_validator_spec.rb
Owners: @itsmycargo/backend

[POL-3236] Sorting and searching by same field raises PG::AmbiguousColumn: ERROR (#2604)
  engines/api/app/models/api/client.rb
  engines/api/app/models/api/user.rb
  engines/api/spec/models/api/client_spec.rb
  engines/api/spec/models/api/user_spec.rb
Owners: @itsmycargo/backend

chore: Aclualize ALB certificate (#2605)
  .github/workflows/production.yml
Owners: @itsmycargo/sre

POL-3187: Overlaps in Overdrive (#2586)
  engines/excel_data_services/app/services/excel_data_services/v4/overlaps/base.rb
  engines/excel_data_services/app/services/excel_data_services/v4/overlaps/clearer.rb
  engines/excel_data_services/app/services/excel_data_services/v4/overlaps/contained_by_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v4/overlaps/contained_by_new.rb
  engines/excel_data_services/app/services/excel_data_services/v4/overlaps/detector.rb
  engines/excel_data_services/app/services/excel_data_services/v4/overlaps/extends_before_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v4/overlaps/extends_past_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v4/overlaps/resolver.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/overlaps/clearer_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/overlaps/contained_by_existing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/overlaps/contained_by_new_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/overlaps/detector_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/overlaps/extends_before_existing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/overlaps/extends_past_existing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/overlaps/resolver_spec.rb
  engines/legacy/app/helpers/legacy/upsertable.rb
  engines/legacy/app/models/legacy/local_charge.rb
  engines/legacy/spec/helpers/legacy/upsertable_spec.rb
  engines/pricings/app/models/pricings/pricing.rb
  lib/ext/rover/data_frame.rb
Owners: @itsmycargo/backend

POL-3172: Charge Building and Context separation (#2579)
  Gemfile.lock
  config/initializers/01-ext.rb
  engines/excel_data_services/excel_data_services.gemspec
  engines/offer_calculator/app/services/offer_calculator/service/charges/applicable_margins.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/charges_for_cargo.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/context.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/date_expander.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/decorated_charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/generator.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/margin.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/margin_filter.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/separator.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/value_extractor.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/value_keys.rb
  engines/offer_calculator/app/services/offer_calculator/validity_service.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/applicable_margins_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/charges_for_cargo_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/context_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/date_expander_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/generator_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/margins_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/separator_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/support/expanded_fee_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/support/value_extractor_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/support/value_keys_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/validity_service_spec.rb
  lib/ext/rover/data_frame.rb
Owners: @itsmycargo/backend

POL-3240: Event Toolkit (#2607)
  app/workers/republish_missed_events_worker.rb
  db/data/20220620140309_republish_missed_events.rb
  db/data_schema.rb
  engines/notifications/app/services/notifications/event_filter.rb
  engines/notifications/app/services/notifications/event_republisher.rb
  engines/notifications/app/services/notifications/events.rb
  engines/notifications/lib/notifications/engine.rb
  engines/notifications/spec/services/notifications/event_filter_spec.rb
  engines/notifications/spec/services/notifications/event_republisher_spec.rb
  spec/workers/republish_missed_events_worker_spec.rb
Owners: @itsmycargo/backend

[POL-3231] Theme endpoint should return brand specific colors (#2609)
  config/routes.rb
  db/structure.sql
  doc/api/swagger.json
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/api/app/serializers/api/v2/theme_serializer.rb
  engines/api/spec/serializers/api/v2/theme_serializer_spec.rb
  engines/organizations/app/models/concerns/color_scheme_setter.rb
  engines/organizations/app/models/organizations/theme.rb
  engines/organizations/data/default_color_scheme.yaml
  engines/organizations/db/migrate/20220615105158_add_color_scheme_column_to_themes.rb
  engines/organizations/db/migrate/20220615133621_update_theme_color_scheme_with_default.rb
  engines/organizations/factories/organizations/themes.rb
  engines/organizations/lib/organizations.rb
  engines/organizations/spec/models/organizations/theme_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-3185: SACO Import sheet (#2606)
  engines/excel_data_services/app/services/excel_data_services/v4/files/sections/saco_import.yml
  engines/excel_data_services/app/services/excel_data_services/v4/files/tables/column.rb
  engines/excel_data_services/app/services/excel_data_services/v4/framers/saco_import.rb
  engines/excel_data_services/app/services/excel_data_services/v4/operations/country_code_from_locode.rb
  engines/excel_data_services/app/services/excel_data_services/v4/operations/saco_import.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/framers/saco_import_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/operations/country_code_from_locode_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/operations/saco_import_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/upload_saco_import_spec.rb
Owners: @itsmycargo/backend

POL-3151: Enable Experiment (#2608)
  .github/workflows/tests.yml
  app/mailers/scientist_mailer.rb
  app/views/scientist_mailer/complete_email.html.erb
  config/initializers/scientist.rb
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/date_expander.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/range_finder.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/local_charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/pricing.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/trucking.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/relation_data.rb
  engines/offer_calculator/app/services/offer_calculator/service/fee_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/fee_experiment.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/metadatum.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/lcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/fee_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/fee_experiment_spec.rb
  engines/organizations/data/default_scope.yaml
  engines/pricings/app/models/pricings/pricing.rb
Owners: @itsmycargo/sre, @itsmycargo/backend

POL-3244: Distribute from Admiralty (#2610)
  config/routes.rb
  db/structure.sql
  engines/admiralty/app/admin/admiralty/distributions_actions_admin.rb
  engines/admiralty/app/admin/admiralty/distributions_executions_admin.rb
  engines/admiralty/app/admin/admiralty/uploads_admin.rb
  engines/admiralty/app/models/admiralty/upload.rb
  engines/admiralty/config/routes.rb
  engines/distributions/app/models/distributions/action.rb
  engines/distributions/db/migrate/20220624125413_correct_order_constraint.rb
  engines/distributions/spec/models/distributions/action_spec.rb
  engines/excel_data_services/app/services/excel_data_services/v4/validators/charge_fees.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_saco_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/files/section_saco_pricings_spec.rb
  engines/legacy/factories/legacy/files.rb
Owners: @itsmycargo/backend, @itsmycargo/data

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre
