Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre

POL-2854: Adjusting OfferSorter to allow offers with trucking but without LocalCharges (#2287)
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/offer_calculator/app/services/offer_calculator/queries/valid_routes.rb
  engines/offer_calculator/app/services/offer_calculator/service/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_sorter.rb
  engines/offer_calculator/spec/services/offer_calculator/queries/valid_routes_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/pricing_finder_spec.rb
  engines/organizations/data/default_scope.yaml
  guides/admiralty/scope.rst
  rubocop_legacy.yml
Owners: @itsmycargo/backend

[POL-2768] creating the schedules engine for storing custom schedules (#2296)
  Gemfile.lock
  db/structure.sql
  engines/schedules/Gemfile
  engines/schedules/Gemfile.runtime
  engines/schedules/app/models/schedules/application_record.rb
  engines/schedules/app/models/schedules/schedule.rb
  engines/schedules/bin/rails
  engines/schedules/db/migrate/20210923083433_create_schedules_schedule.rb
  engines/schedules/factories/schedules.rb
  engines/schedules/lib/schedules.rb
  engines/schedules/lib/schedules/engine.rb
  engines/schedules/schedules.gemspec
  engines/schedules/spec/internal/config/database.yml
  engines/schedules/spec/models/schedules_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2861: chore - adding v2_uploads_enabled scope chekbox (#2304)
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
Owners: @itsmycargo/backend

POL-2859 API shipment request endpoint - Part 2 (#2303)
  doc/api/swagger.json
  doc/engines/api/index.rst
  doc/engines/graph.puml
  engines/api/app/controllers/api/v2/shipment_requests_controller.rb
  engines/api/app/serializers/api/v2/shipment_request_serializer.rb
  engines/api/app/services/api/shipment_request_creation_service.rb
  engines/api/spec/api/api/shipment_requests_spec.rb
  engines/api/spec/controllers/api/v2/shipment_requests_controller_spec.rb
  engines/api/spec/services/api/shipment_request_creation_service_spec.rb
  engines/journey/app/models/journey/contact.rb
  engines/journey/app/models/journey/shipment_request.rb
  engines/journey/factories/journey/shipment_requests.rb
  engines/journey/spec/models/journey/shipment_request_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2869: Removed DB level presence constraints (#2305)
  db/structure.sql
  engines/journey/db/migrate/20210924113302_remove_presence_constraints_from_contact.rb
Owners: @itsmycargo/data

POL-2864: Added missing data for ShipmentRequest on siren (#2306)
  doc/api/swagger.json
  engines/api/app/serializers/api/v2/profile_serializer.rb
  engines/api/app/serializers/api/v2/query_serializer.rb
  engines/api/spec/controllers/api/v2/profiles_controller_spec.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2863: Rework ShipmentRequests controller create method (#2308)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/shipment_requests_controller.rb
  engines/api/app/services/api/shipment_request_creation_service.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/shipment_requests_spec.rb
  engines/api/spec/controllers/api/v2/shipment_requests_controller_spec.rb
  engines/api/spec/services/api/shipment_request_creation_service_spec.rb
  engines/journey/app/models/journey/shipment_request.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2815 - Only show the Update S3 button if the Admiralty::Country's instance has a bucket object (#2311)
  engines/admiralty/app/admin/admiralty/countries_admin.rb
Owners: @itsmycargo/backend

[POL-2862] Backfill for query status and currency (#2307)
  app/workers/backfill_status_and_currency_to_query_worker.rb
  db/data/20210924105744_backfill_status_and_currency_to_query.rb
Owners: @itsmycargo/backend

POL-2707: Return Calculation basis for each Line Item (#2301)
  doc/api/swagger.json
  engines/pdf/spec/services/pdf/quotation/admin_spec.rb
  engines/pdf/spec/services/pdf/quotation/client_spec.rb
  engines/pricings/app/models/pricings/breakdown.rb
  engines/result_formatter/app/decorators/result_formatter/line_item_decorator.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/decorators/result_formatter/line_item_decorator_spec.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2849: Apply Carrier Lock Logic in both directions (#2302)
  doc/engines/offer_calculation/index.rst
  doc/engines/offer_calculation/services.rst
  engines/legacy/app/models/legacy/tenant_vehicle.rb
  engines/legacy/spec/models/legacy/tenant_vehicle_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/calculators/charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_sorter.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter_spec.rb
  guides/data/index.rst
Owners: @itsmycargo/backend

POL-2807: Saco Shipping Upload Guide (#2310)
  guides/data/saco_shipping.rst
Owners: @itsmycargo/backend

POL-2880: Wrong notes showing on pdf (#2313)
  app/assets/stylesheets/pdfs.scss.erb
  engines/pdf/app/views/pdf/partials/notes.html.erb
  engines/pdf/app/views/shipments/pdfs/quotations.pdf.erb
  engines/result_formatter/app/decorators/result_formatter/query_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
Owners: @itsmycargo/backend

POL-2886: added mot to schedules (#2314)
  db/data_schema.rb
  db/structure.sql
  doc/api/swagger.json
  engines/api/app/serializers/api/v2/schedule_serializer.rb
  engines/api/spec/controllers/api/v2/schedules_controller_spec.rb
  engines/schedules/app/models/schedules/schedule.rb
  engines/schedules/db/migrate/20210929072457_add_mot_enum_to_schedules.rb
  engines/schedules/factories/schedules.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2885 - Add soft delete to legacy local charge model (#2315)
  app/models/local_charge.rb
  config/routes.rb
  db/structure.sql
  doc/engines/legacy/index.rst
  engines/legacy/app/models/legacy/local_charge.rb
  engines/legacy/db/migrate/20210928194056_add_deleted_at_to_local_charges.rb
  engines/legacy/spec/models/legacy/local_charge_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2888: incorrect error checking logic (#2317)
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
Owners: @itsmycargo/backend

POL-2887: Flat Margins not saving rate data and LineItemDecorator not catching it (#2316)
  engines/pricings/app/services/pricings/manipulator.rb
  engines/pricings/spec/services/pricings/manipulator/lcl_spec.rb
  engines/pricings/spec/services/pricings/manipulator/local_charges_spec.rb
  engines/pricings/spec/services/pricings/manipulator/trucking_spec.rb
  engines/result_formatter/app/decorators/result_formatter/line_item_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/line_item_decorator_spec.rb
Owners: @itsmycargo/backend

POL-2890: Fix to pdf rendering (#2319)
  app/assets/stylesheets/pdfs.scss.erb
  engines/api/spec/controllers/api/v1/tenders_controller_spec.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
Owners: @itsmycargo/backend

POL-2893: fix for certain cases where items is an AR (#2321)
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
Owners: @itsmycargo/backend

[POL-2767] Schedules API for index and show (#2318)
  config/routes.rb
  doc/api/swagger.json
  doc/engines/api/index.rst
  engines/api/app/controllers/api/v2/schedules_controller.rb
  engines/api/app/serializers/api/v2/schedule_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/schedules_spec.rb
  engines/api/spec/controllers/api/v2/schedules_controller_spec.rb
  engines/schedules/factories/schedules.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

[POL-2628] Excel Uploader: Schedules (#2320)
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/route_hubs.rb
  engines/excel_data_services/app/services/excel_data_services/v2/files/file_data/schedules
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/schedules
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/schedule.rb
  engines/excel_data_services/app/services/excel_data_services/v2/upload.rb
  engines/excel_data_services/app/services/excel_data_services/validators/header_checker.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/section_schedules_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/schedule_spec.rb
  spec/fixtures/files/excel/example_schedules.xlsx
Owners: @itsmycargo/backend

[POL-2786] Tailored Admin Subscriptions Service (#2309)
  app/workers/backfill_new_default_to_filter_in_subscription_worker.rb
  db/data/20210923132341_backfill_new_default_to_filter_in_subscription.rb
  db/structure.sql
  engines/admiralty/app/admin/admiralty/subscriptions_admin.rb
  engines/notifications/app/jobs/notifications/offer_created/admin_notifier_job.rb
  engines/notifications/app/models/concerns/notifications/filter_method_definer.rb
  engines/notifications/app/models/concerns/notifications/filterable.rb
  engines/notifications/app/models/notifications/subscription.rb
  engines/notifications/app/services/notifications/filter_builder.rb
  engines/notifications/db/migrate/20210923131847_change_filter_default.rb
  engines/notifications/factories/subscriptions.rb
  engines/notifications/spec/models/notifications/subscription_spec.rb
  engines/notifications/spec/services/notifications/filter_builder_spec.rb
  rubocop_legacy.yml
  spec/workers/backfill_new_default_to_filter_in_subscription_worker_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2896 - Multiple Country Restrictions (#2323)
  engines/api/app/decorators/api/v1/legacy_result_decorator.rb
  engines/api/app/decorators/api/v1/result_decorator.rb
  engines/notes/app/services/notes/service.rb
  engines/notes/spec/services/notes/service_spec.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
Owners: @itsmycargo/backend

POL-2897 - Return empty hash, when the rate basis cannot be found for a pricing breakdown (#2322)
  engines/result_formatter/app/decorators/result_formatter/line_item_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/line_item_decorator_spec.rb
Owners: @itsmycargo/backend

[POL-2899] Schedules API endpoint to return transit time. (#2324)
  doc/api/swagger.json
  engines/api/app/decorators/api/v2/schedule_decorator.rb
  engines/api/app/serializers/api/v2/schedule_serializer.rb
  engines/api/spec/decorators/api/v2/schedule_decorator_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

FIX: remove subscription filter (#2326)
  engines/notifications/app/jobs/notifications/offer_created/admin_notifier_job.rb
Owners: @itsmycargo/backend

POL-2892: ensure Carriers models are in sync (#2327)
  db/data/20211011112257_rerun_backfillof_routing_carriers.rb
  db/data_schema.rb
  db/structure.sql
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/base.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/augmenters/trucking/metadata_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/local_charges_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/pricing_edge_cases_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/routing/freight_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2911: fixed issue with V1 Quotations#show polling returning completed: true too early (#2328)
  engines/api/app/decorators/api/v1/query_decorator.rb
  engines/api/app/decorators/api/v2/query_decorator.rb
  engines/api/spec/decorators/api/v1/query_decorator_spec.rb
  engines/api/spec/decorators/api/v2/query_decorator_spec.rb
Owners: @itsmycargo/backend

POL-2896 - Soft delete old notes that belong to a pricing, when adding notes to an existing pricing. PR 2 (#2325)
  app/models/note.rb
  db/structure.sql
  engines/excel_data_services/app/services/excel_data_services/inserters/pricing.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/pricing_edge_cases_spec.rb
  engines/legacy/app/models/legacy/note.rb
  engines/legacy/db/migrate/20211004191639_add_deleted_at_to_legacy_notes.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2896 multiple country restrictions final PR (#2331)
  engines/legacy/app/workers/legacy/backkfill_deleted_at_for_outdated_notes_worker.rb
  engines/legacy/db/data/20211007211125_backkfill_deleted_at_for_outdated_notes.rb
  engines/legacy/spec/workers/legacy/backkfill_deleted_at_for_outdated_notes_worker_spec.rb
Owners: @itsmycargo/backend

POL-2882: Issue when uploading sheet without fees (#2332)
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/base.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/data_providers/trucking/fees.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/data_providers/trucking/fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/runners/blocks_trucking_spec.rb
  spec/fixtures/files/excel/example_trucking_no_fees.xlsx
Owners: @itsmycargo/backend

POL-2915: fix for nil postal code after geocoding in the netherlands (#2333)
  engines/trucking/app/services/trucking/queries/base.rb
  engines/trucking/spec/services/trucking/queries/base_spec.rb
Owners: @itsmycargo/backend

[POL-2904] Fix broken tailored subscription service (#2330)
  engines/notifications/app/jobs/notifications/offer_created/admin_notifier_job.rb
  engines/notifications/spec/jobs/notifications/offer_created/admin_notifier_job_spec.rb
  engines/notifications/spec/models/notifications/subscription_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

POL-2870: capture error and changed calculation behaviour to not need default base (#2329)
  engines/excel_data_services/app/services/excel_data_services/restructurers/local_charges.rb
  engines/excel_data_services/app/services/excel_data_services/validators/missing_values/local_charges.rb
  engines/excel_data_services/factories/excel_data_restructured.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/local_charges_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/missing_values/local_charges_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/charge_calculator.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/result_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee_component.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/lcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/result_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/fee_component_builder_spec.rb
Owners: @itsmycargo/backend

POL-2883 clean local charges table in preparation for applications constraints - PR 1 (#2334)
  app/models/local_charge.rb
  app/workers/local_charges_remove_duplicates_worker.rb
  db/data/20211001125657_local_charges_remove_duplicates.rb
  db/structure.sql
  engines/legacy/app/models/legacy/local_charge.rb
  engines/legacy/db/migrate/20210930071334_remove_uuid_constraint_on_local_charges.rb
  engines/legacy/db/migrate/20210930072000_add_index_to_local_charges_uuid.rb
  spec/workers/local_charges_remove_duplicates_worker_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2901: Allow ShipmentRequest to be created with no params (#2335)
  config/routes.rb
  db/structure.sql
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/shipment_requests_controller.rb
  engines/api/app/services/api/shipment_request_creation_service.rb
  engines/api/spec/api/api/shipment_requests_spec.rb
  engines/api/spec/controllers/api/v2/shipment_requests_controller_spec.rb
  engines/journey/app/models/journey/shipment_request.rb
  engines/journey/db/migrate/20211018095100_remove_not_null_from_preferred_voyage.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2884 apply constraints to local charges - PR 2 (#2336)
  app/models/local_charge.rb
  db/migrate/20211015122348_add_unique_constraint_to_local_charges.rb
  db/structure.sql
  engines/legacy/app/models/legacy/local_charge.rb
  engines/validator/spec/services/validator/itinerary/default_groups_spec.rb
  spec/workers/local_charges_remove_duplicates_worker_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2919: removed remaining constraints blocking siren flow (#2341)
  db/structure.sql
  doc/api/swagger.json
  engines/journey/db/migrate/20211019082716_remove_constraints_from_contacts.rb
  engines/journey/spec/models/journey/contact_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/data, @itsmycargo/backend

POL-2906: Returning LOCODE with search results for Bridge (#2340)
  doc/api/swagger.json
  engines/api/app/serializers/api/v1/nexus_serializer.rb
  engines/api/app/services/api/routing/routing_service.rb
  engines/api/spec/controllers/api/v1/locations_controller_spec.rb
  engines/legacy/app/models/legacy/nexus.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

[POL-2918] New Subscriptions created with empty filters does not qualify for email (#2338)
  doc/api/swagger.json
  engines/notifications/app/models/concerns/notifications/filterable.rb
  engines/notifications/app/models/notifications/subscription.rb
  engines/notifications/spec/models/notifications/subscription_spec.rb
  spec/workers/backfill_new_default_to_filter_in_subscription_worker_spec.rb
Owners: @itsmycargo/backend
