Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

IMC-3284 - 404 on document not found (#1667)
  app/controllers/admin/shipments_controller.rb
  spec/controllers/admin/shipments_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3128: Quotations not ordered (#1665)
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/quotations/app/services/quotations/filter.rb
  engines/quotations/spec/services/quotations/filter_spec.rb
Owners: @itsmycargo/backend

IMC-3192 - Validation added (#1669)
  app/classes/excel_data_services/file_parser.rb
  app/classes/excel_data_services/restructurers/base.rb
  app/classes/excel_data_services/restructurers/local_charges.rb
  app/classes/excel_data_services/restructurers/pricing_dynamic_fee_cols_no_ranges.rb
  app/classes/excel_data_services/restructurers/pricing_one_fee_col_and_ranges.rb
  app/classes/excel_data_services/restructurers/saco_shipping.rb
  app/classes/excel_data_services/validators/type_validity/type_validators/date_validator.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/date_validator_spec.rb
Owners: @itsmycargo/backend

IMC-3175 - break if shipment.invalid? (#1672)
  app/services/quoted_shipments_service.rb
Owners: @itsmycargo/backend

IMC-3289: corrected trucking query (#1673)
  app/controllers/trucking_availability_controller.rb
  spec/controllers/trucking_availability_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3260 - Fill in missing pdf_tenders key on quotation admin mailer (#1664)
  engines/pdf/app/services/pdf/service.rb
  engines/pdf/spec/services/pdf/service_spec.rb
Owners: @itsmycargo/backend

IMC-3289: full booking works now (#1675)
  engines/offer_calculator/app/services/offer_calculator/service/hub_finder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/hub_finder_spec.rb
Owners: @itsmycargo/backend

IMC-3196 - header to string (#1674)
  app/classes/excel_data_services/loaders/uploader.rb
Owners: @itsmycargo/backend

IMC-3175 IMC-3175 - break for invalid shipments (#1677)
  app/services/quoted_shipments_service.rb
Owners: @itsmycargo/backend

IMC-3246: handles incorrect file type with error (#1671)
  app/classes/excel_data_services/loaders/uploader.rb
  spec/classes/excel_data_services/loaders/uploader_spec.rb
Owners: @itsmycargo/backend

IMC-3286 - Set error_class on quotations without tenders (#1678)
  engines/migrator/lib/migrator/base.rb
  engines/migrator/lib/migrator/migrations/companies/companies.rb
  engines/migrator/lib/migrator/migrations/quotations/without_tenders.rb
  engines/quotations/app/services/quotations/filter.rb
  engines/quotations/spec/services/quotations/filter_spec.rb
Owners: @itsmycargo/backend

IMC-3292 - get tenders for legacy quotation (#1680)
  engines/pdf/app/services/pdf/service.rb
Owners: @itsmycargo/backend

IMC-3252 (#1684)
  engines/offer_calculator/app/jobs/offer_calculator/quoted_shipments_job.rb
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/offer_calculator/spec/services/offer_calculator/results_spec.rb
Owners: @itsmycargo/backend

IMC-3204 - Remove group memberships of soft deleted users (#1662)
  Gemfile.lock
  app/controllers/admin/clients_controller.rb
  db/migrate/20200907063048_add_deleted_at_to_groups_memberships.rb
  db/migrate/20200907083453_add_index_to_deleted_at_on_groups_memberships.rb
  db/schema.rb
  engines/api/app/controllers/api/v1/clients_controller.rb
  engines/api/spec/controllers/api/v1/clients_controller_spec.rb
  engines/groups/app/models/groups/group.rb
  engines/groups/app/models/groups/membership.rb
  engines/groups/groups.gemspec
  engines/groups/spec/factories/groups/groups.rb
  engines/groups/spec/models/groups/group_spec.rb
  engines/migrator/lib/migrator/migrations/groups/memberships.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3245: Gracefully return PER_UNIT_TON_CBM_RANGE error (#1679)
  app/classes/excel_data_services/restructurers/local_charges.rb
  app/classes/excel_data_services/validators/insertable_checks/local_charges.rb
  app/classes/excel_data_services/validators/missing_values/local_charges.rb
  app/classes/excel_data_services/validators/validation_errors/missing_values.rb
  spec/classes/excel_data_services/validators/insertable_checks/local_charges_spec.rb
  spec/classes/excel_data_services/validators/missing_values/local_charges_spec.rb
  spec/factories/excel_data_restructured.rb
Owners: @itsmycargo/backend

IMC-3200 - removed old quoted shipments job (#1660)
  app/jobs/quoted_shipments_job.rb
  app/services/quoted_shipments_service.rb
  spec/jobs/quoted_shipments_job_spec.rb
  spec/services/quoted_shipments_service_spec.rb
Owners: @itsmycargo/backend

IMC-3123 - Show mdb metadata on edit organization form (#1683)
  engines/admiralty_tenants/app/views/admiralty_tenants/organizations/_max_dimensions.html.erb
  engines/admiralty_tenants/app/views/admiralty_tenants/organizations/_organization_form.html.erb
Owners: @itsmycargo/backend

IMC-3261: fixed pdf issues (#1685)
  app/mailers/shipment_mailer.rb
  engines/pdf/app/views/shipments/pdfs/shipment_recap.pdf.html.erb
  spec/mailers/previews/shipment_mailer_preview.rb
Owners: @itsmycargo/backend

IMC-3201 - remove old mailer methods (#1661)
  app/mailers/quote_mailer.rb
  spec/classes/shipping_tools_spec.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
  spec/mailers/previews/quote_mailer_preview.rb
Owners: @itsmycargo/backend

IMC-3255 - sort by amount (#1681)
  engines/api/app/decorators/api/v1/quotation_decorator.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/pricings/spec/factories/pricings/pricings.rb
Owners: @itsmycargo/backend

IMC-3310: Missing Flat margins (#1692)
  engines/offer_calculator/app/services/offer_calculator/service/charge_calculator.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/truckings.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charge_calculator_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/fee_spec.rb
  engines/pricings/spec/factories/pricings/manipulator_result.rb
Owners: @itsmycargo/backend

IMC-3315: backfill working (#1694)
  engines/migrator/lib/migrator/migrations/pricings/breakdowns/update.rb
Owners: @itsmycargo/backend

IMC-3309: HubAvailability Constraints (#1688)
  db/schema.rb
  engines/legacy/spec/factories/legacy/itineraries.rb
  engines/legacy/spec/factories/legacy/nexuses.rb
  engines/trucking/app/models/trucking/hub_availability.rb
  engines/trucking/db/migrate/20200911073556_add_deleted_at_to_hub_availabilities.rb
  engines/trucking/db/migrate/20200911073624_add_index_to_hub_availabilities_deleted_at.rb
  engines/trucking/db/migrate/20200911073649_add_constraints_to_hub_availabilities.rb
  engines/trucking/spec/models/trucking/hub_availability_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

IMC-3317: pared down updater (#1696)
  engines/api/spec/api/tenders_spec.rb
  engines/legacy/spec/factories/legacy/charge_breakdowns.rb
  engines/quotations/app/services/quotations/tender_updater.rb
  engines/quotations/spec/services/quotations/tender_updater_spec.rb
Owners: @itsmycargo/backend

IMC-3312: prevent invalid data from going through (#1691)
  app/models/charge.rb
  app/models/charge_breakdown.rb
  app/models/tenant_vehicle.rb
  db/migrate/20200914091714_add_paranoia_to_legacy_charge_models.rb
  db/migrate/20200914091732_add_paranoia_index_to_legacy_charge_models.rb
  db/schema.rb
  engines/legacy/app/models/legacy/charge.rb
  engines/legacy/app/models/legacy/charge_breakdown.rb
  engines/quotations/app/models/quotations/tender.rb
  spec/decorators/quotation_decorator_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3232 - Updated references to duplicated rows (#1670)
  app/models/carrier.rb
  db/schema.rb
  engines/legacy/app/models/legacy/carrier.rb
  engines/legacy/app/models/legacy/tenant_vehicle.rb
  engines/legacy/db/migrate/20200910103015_add_deleted_at_to_carriers.rb
  engines/legacy/db/migrate/20200910103029_add_deleted_at_to_tenant_vehicles.rb
  engines/migrator/db/migrate/20200903121658_create_migrator_unique_carrier_syncs.rb
  engines/migrator/db/migrate/20200904120051_create_migrator_unique_tenant_vehicles_syncs.rb
  engines/migrator/lib/migrator/migrations/legacy/carriers/backup_.rb
  engines/migrator/lib/migrator/migrations/legacy/carriers/delete.rb
  engines/migrator/lib/migrator/migrations/legacy/carriers/update.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/backup.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/delete.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/update.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3308: Trucking::TypeAvailability constraint (#1687)
  .rubocop.yml
  db/schema.rb
  engines/groups/app/models/groups/group.rb
  engines/trucking/app/models/trucking/hub_availability.rb
  engines/trucking/app/models/trucking/location.rb
  engines/trucking/app/models/trucking/type_availability.rb
  engines/trucking/db/migrate/20200911071404_add_deleted_at_to_type_availabilities.rb
  engines/trucking/db/migrate/20200911071456_add_index_to_type_availability_deleted_at.rb
  engines/trucking/db/migrate/20200911071505_add_constraints_to_type_availabilities.rb
  engines/trucking/spec/models/trucking/type_availability_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3323: corrected scope lookup to include org (#1698)
  app/classes/shipping_tools.rb
  spec/classes/shipping_tools_spec.rb
Owners: @itsmycargo/backend

IMC-3262 - show notes on pdf (#1693)
  engines/pdf/app/views/shipments/pdfs/shipment_recap.pdf.html.erb
Owners: @itsmycargo/backend

IMC-3319 - Restore clients if necessary (#1697)
  app/controllers/admin/clients_controller.rb
  db/migrate/20200916105620_add_deleted_at_to_users_settings.rb
  db/migrate/20200916105843_add_deleted_at_index_to_users_settings.rb
  db/schema.rb
  engines/api/app/controllers/api/v1/clients_controller.rb
  engines/api/spec/controllers/api/v1/clients_controller_spec.rb
  engines/users/app/models/users/settings.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3325 - Proper response handling for contact update (#1699)
  app/controllers/contacts_controller.rb
  spec/controllers/contacts_controller_spec.rb
Owners: @itsmycargo/backend

chore: ensure all commits are built (#1700)
  Jenkinsfile
Owners: @itsmycargo/sre

IMC-3178: found actual issue (#1702)
  engines/api/spec/api/charges_spec.rb
  engines/api/spec/controllers/api/v1/charges_controller_spec.rb
  engines/api/spec/serializers/api/v1/quotation_tender_serializer_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/offer.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/offer_spec.rb
  engines/pdf/spec/services/pdf/handler_spec.rb
  engines/pdf/spec/services/pdf/service_spec.rb
  engines/result_formatter/app/services/result_formatter/exchange_rate_service.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/pdf_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_service_spec.rb
  lib/money_cache/lib/money_cache/converter.rb
  spec/classes/shipping_tools_spec.rb
  spec/controllers/quotations_controller_spec.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
  spec/controllers/shipments_controller_spec.rb
  spec/mailers/quote_mailer_spec.rb
  spec/mailers/shipment_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-3146: corrected types on schedule generator (#1703)
  app/classes/excel_data_services/validators/type_validity/schedule_generator.rb
  spec/classes/excel_data_services/restructurers/schedule_generator_spec.rb
  spec/classes/excel_data_services/validators/type_validity/schedule_generator_spec.rb
  spec/factories/excel_data_parsed.rb
Owners: @itsmycargo/backend

IMC-3264 - All notes working (#1695)
  Gemfile.lock
  app/classes/shipping_tools.rb
  app/mailers/quote_mailer.rb
  doc/engines/graph.dot
  doc/engines/graph.pdf
  engines/notes/Gemfile
  engines/notes/Rakefile
  engines/notes/app/services/notes/.keep
  engines/notes/app/services/notes/service.rb
  engines/notes/bin/rails
  engines/notes/bin/rspec
  engines/notes/lib/imc/notes.rb
  engines/notes/lib/notes.rb
  engines/notes/lib/notes/engine.rb
  engines/notes/notes.gemspec
  engines/notes/spec/dummy/Rakefile
  engines/notes/spec/dummy/app/assets/config/manifest.js
  engines/notes/spec/dummy/config.ru
  engines/notes/spec/dummy/config/application.rb
  engines/notes/spec/dummy/config/boot.rb
  engines/notes/spec/dummy/config/cable.yml
  engines/notes/spec/dummy/config/database.yml
  engines/notes/spec/dummy/config/environment.rb
  engines/notes/spec/dummy/config/environments/development.rb
  engines/notes/spec/dummy/config/environments/test.rb
  engines/notes/spec/dummy/lib/assets/.keep
  engines/notes/spec/rails_helper.rb
  engines/notes/spec/services/notes/note_service_spec.rb
  engines/notes/spec/spec_helper.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/legacy_meta.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/legacy_response.rb
  engines/offer_calculator/lib/offer_calculator/engine.rb
  engines/offer_calculator/offer_calculator.gemspec
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/legacy_meta_spec.rb
  engines/pdf/app/services/pdf/handler.rb
  engines/pdf/app/services/pdf/service.rb
  engines/pdf/pdf.gemspec
  engines/pdf/spec/services/pdf/service_spec.rb
  engines/wheelhouse/app/decorators/wheelhouse/tender_decorator.rb
  spec/mailers/quote_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-3341: removed old migrators (#1708)
  engines/migrator/lib/migrator/migrations/groups/memberships.rb
  engines/migrator/lib/migrator/migrations/legacy/carriers/backup_.rb
  engines/migrator/lib/migrator/migrations/legacy/carriers/delete.rb
  engines/migrator/lib/migrator/migrations/legacy/carriers/update.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/backup.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/delete.rb
  engines/migrator/lib/migrator/migrations/legacy/tenant_vehicles/update.rb
  engines/migrator/lib/migrator/migrations/pricings/breakdowns/update.rb
  engines/migrator/lib/migrator/migrations/quotations/line_items.rb
  engines/migrator/lib/migrator/migrations/quotations/tenders.rb
  engines/migrator/lib/migrator/migrations/quotations/without_tenders.rb
  engines/migrator/lib/migrator/migrations/users/profiles.rb
  engines/migrator/lib/migrator/migrations/users/users.rb
Owners: @itsmycargo/backend

IMC-3338: sorting local charges properly (#1706)
  engines/offer_calculator/app/services/offer_calculator/service/finders/local_charges.rb
  engines/offer_calculator/spec/services/offer_calculator/service/finders/local_charges_spec.rb
Owners: @itsmycargo/backend

IMC-3299: Trucking::Locations deduping (#1686)
  Gemfile.lock
  db/schema.rb
  engines/migrator/db/migrate/20200910055552_create_migrator_unique_trucking_location_syncs.rb
  engines/migrator/lib/migrator/migrations/trucking/locations/backup.rb
  engines/migrator/lib/migrator/migrations/trucking/locations/delete.rb
  engines/migrator/lib/migrator/migrations/trucking/locations/prepare.rb
  engines/migrator/lib/migrator/migrations/trucking/locations/update.rb
  engines/trucking/app/models/trucking/location.rb
  engines/trucking/db/migrate/20200910060614_add_deleted_at_to_trucking_locations.rb
  engines/trucking/db/migrate/20200910090520_add_index_to_trucking_location_deleted_at.rb
  engines/trucking/db/migrate/20200911130537_update_location_attributes.rb
  engines/trucking/db/migrate/20200911131000_add_indexes_to_new_location_attributes.rb
  engines/trucking/db/migrate/20200911131226_add_country_to_location.rb
  engines/trucking/lib/trucking/engine.rb
  engines/trucking/trucking.gemspec
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3296: Cleaning Trucking Table (#1682)
  db/schema.rb
  engines/migrator/db/migrate/20200909142452_create_migrator_unique_trucking_syncs.rb
  engines/migrator/lib/migrator/migrations/trucking/truckings/backup.rb
  engines/migrator/lib/migrator/migrations/trucking/truckings/delete.rb
  engines/migrator/lib/migrator/migrations/trucking/truckings/update.rb
  engines/migrator/spec/lib/migrator/runner_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/manipulators/truckings_spec.rb
  engines/trucking/app/models/trucking/trucking.rb
  engines/trucking/db/migrate/20200909144539_add_paranoia_to_trucking_models.rb
  engines/trucking/db/migrate/20200910090332_add_index_to_truckings_deleted_at.rb
  engines/trucking/db/migrate/20200915102722_add_validity_to_trucking.rb
  engines/trucking/db/migrate/20200915103043_add_index_to_trucking_validity.rb
Owners: @itsmycargo/data, @itsmycargo/backend

IMC-3273: sorting offers in response (#1709)
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/legacy_meta.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_sorter.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  engines/pdf/app/services/pdf/service.rb
Owners: @itsmycargo/backend

.github/CODEOWNERS:

# By default, backend team
*               @itsmycargo/backend

# Data related changes
**/db/migrate/* @itsmycargo/data
db/schema.rb    @itsmycargo/data

Dockerfile      @itsmycargo/sre
Jenkinsfile     @itsmycargo/sre
