Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre

POL-2553: change to chargeable density (#2053)
  app/workers/backfill_chargeable_density_worker.rb
  db/data/20210504144921_backfill_chargeable_density.rb
  db/structure.sql
  engines/journey/app/models/journey/line_item.rb
  engines/journey/db/migrate/20210504143455_add_chargeable_density_to_line_item.rb
  engines/journey/factories/journey/line_items.rb
  engines/offer_calculator/app/services/offer_calculator/service/calculators/charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/line_item_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/section_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee.rb
  engines/result_formatter/app/decorators/result_formatter/cargo_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/cargo_decorator_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2598: Proper fix for Exchange Rate issue (#2073)
  app/workers/exchange_rate_update_worker.rb
  gems/money_cache/lib/money_cache/conversion.rb
  gems/money_cache/spec/money_cache/converter_spec.rb
Owners: @itsmycargo/backend

POL-1867: added creator to Quotation#index response (#2071)
  doc/api/swagger.json
  engines/api/app/decorators/api/v1/query_decorator.rb
  engines/api/app/decorators/api/v1/result_decorator.rb
  engines/api/app/serializers/api/v1/query_list_serializer.rb
  engines/api/app/serializers/api/v1/query_serializer.rb
  engines/api/spec/api/api/quotations_spec.rb
  engines/api/spec/serializers/api/v1/query_list_serializer_spec.rb
  engines/pdf/app/views/shipments/pdfs/quotations.pdf.erb
  engines/result_formatter/app/decorators/result_formatter/query_decorator.rb
Owners: @itsmycargo/backend

POL-2607: Colli Type editing fixed (#2075)
  engines/admiralty/app/admin/admiralty/tenant_cargo_item_types_admin.rb
Owners: @itsmycargo/backend

POL-2609: missing creator attribute (#2078)
  doc/api/swagger.json
  engines/api/app/serializers/api/v1/query_serializer.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/serializers/api/v1/query_serializer_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

POL-2606: VM Rate implementation (#2074)
  app/workers/backfill_vm_rate_to_pricings_worker.rb
  db/data/20210512093719_backfill_vm_rate_to_pricings.rb
  db/data_schema.rb
  db/structure.sql
  engines/excel_data_services/app/services/excel_data_services/file_writers/base.rb
  engines/excel_data_services/app/services/excel_data_services/file_writers/pricings_row_data_builder.rb
  engines/excel_data_services/app/services/excel_data_services/inserters/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/restructurers/pricing_one_fee_col_and_ranges.rb
  engines/excel_data_services/app/services/excel_data_services/rows/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/validators/header_checker.rb
  engines/excel_data_services/factories/excel_data_parsed.rb
  engines/excel_data_services/factories/excel_data_restructured.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/pricings_cargo_item_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/pricings_container_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/restructurers/pricing_one_fee_col_and_ranges_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/rows/pricing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/header_checker_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/cargo.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/consolidated.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/unit.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_pricing_aggregated_lcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_pricing_lcl_spec.rb
  engines/pricings/app/models/pricings/pricing.rb
  engines/pricings/app/services/pricings/manipulator_result.rb
  engines/pricings/db/migrate/20210512092712_add_vm_rate_to_pricings.rb
  engines/pricings/factories/pricings/pricings.rb
  spec/controllers/admin/pricings_controller_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2608: Correcting Relay issue (#2077)
  app/workers/correct_relay_backfill_snafu_worker.rb
  db/data/20210514095655_correct_relay_backfill_snafu.rb
  db/data_schema.rb
Owners: @itsmycargo/backend

POL-2610: Locations Controller applying client to search (#2081)
  engines/api/app/controllers/api/v1/locations_controller.rb
  engines/api/spec/controllers/api/v1/locations_controller_spec.rb
Owners: @itsmycargo/backend

POL-2600: Fix deleted data in journey backfill records (#2076)
  app/workers/fix_backfill_data_issues_worker.rb
  db/data/20210511070513_fix_backfill_data_issues.rb
Owners: @itsmycargo/backend

POL-2605: Backfilling Tenders missed due to nil section attributes on LineItems (#2079)
  app/workers/correct_missed_journey_data_worker.rb
  db/data/20210512122825_correct_missed_journey_data.rb
Owners: @itsmycargo/backend

POL-2588: Client Center filtering meeting criteria (#2080)
  app/controllers/admin/clients_controller.rb
  engines/users/app/models/users/client_profile.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend

POL-2611: Fix for LocalCharge upload (berger PER_X_KG) (#2082)
  engines/excel_data_services/app/services/excel_data_services/validators/base.rb
  engines/excel_data_services/app/services/excel_data_services/validators/missing_values/local_charges.rb
  engines/excel_data_services/factories/excel_data_restructured.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/missing_values/local_charges_spec.rb
Owners: @itsmycargo/backend

POL-2612: Returning extra Routing info to allow for better service info display on Bridge (#2084)
  engines/api/app/serializers/api/v1/result_serializer.rb
  engines/api/spec/serializers/api/v1/result_serializer_spec.rb
Owners: @itsmycargo/backend

POL-2599: lclsaco billable correction (#2083)
  app/workers/correct_lcl_saco_billable_worker.rb
  db/data/20210520095314_correct_lcl_saco_billable.rb
  db/data_schema.rb
  spec/workers/correct_lcl_saco_billable_worker_spec.rb
Owners: @itsmycargo/backend

POL-2584: Rescue ArgumentError on cargo creation (#2086)
  engines/offer_calculator/app/services/offer_calculator/service/cargo_creator.rb
  engines/offer_calculator/spec/services/offer_calculator/service/cargo_creator_spec.rb
Owners: @itsmycargo/backend

POL-2583: Correcting table reference for Admins (#2085)
  engines/admiralty/app/admin/admiralty/admins_admin.rb
Owners: @itsmycargo/backend

POL-2587: return 404 when group not found (#2088)
  app/controllers/admin/groups_controller.rb
  spec/controllers/admin/groups_controller_spec.rb
Owners: @itsmycargo/backend

POL-2615: updating docs for Quotations#create (#2091)
  doc/api/swagger.json
  engines/api/spec/api/api/quotations_spec.rb
Owners: @itsmycargo/backend

POL-2614: FileWriter for PER_X_KG (#2090)
  engines/excel_data_services/app/services/excel_data_services/file_writers/local_charges.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/local_charges_spec.rb
  engines/legacy/factories/legacy/local_charges.rb
Owners: @itsmycargo/backend

POL-2579: Reviving Bridge Dashboard with Journey Models (#2087)
  Gemfile.lock
  doc/engines/graph.puml
  engines/analytics/analytics.gemspec
  engines/analytics/app/services/analytics/base.rb
  engines/analytics/app/services/analytics/dashboard/average_booking_value.rb
  engines/analytics/app/services/analytics/dashboard/base.rb
  engines/analytics/app/services/analytics/dashboard/bookings_per_user.rb
  engines/analytics/app/services/analytics/dashboard/mode_of_transport_share.rb
  engines/analytics/app/services/analytics/dashboard/most_active_carriers.rb
  engines/analytics/app/services/analytics/dashboard/most_active_routes.rb
  engines/analytics/spec/services/analytics/base_spec.rb
  engines/analytics/spec/services/analytics/dashboard/active_client_count_spec.rb
  engines/analytics/spec/services/analytics/dashboard/active_company_count_spec.rb
  engines/analytics/spec/services/analytics/dashboard/average_booking_value_spec.rb
  engines/analytics/spec/services/analytics/dashboard/booking_count_spec.rb
  engines/analytics/spec/services/analytics/dashboard/bookings_per_company_spec.rb
  engines/analytics/spec/services/analytics/dashboard/bookings_per_day_spec.rb
  engines/analytics/spec/services/analytics/dashboard/bookings_per_user_spec.rb
  engines/analytics/spec/services/analytics/dashboard/mode_of_transport_share_spec.rb
  engines/analytics/spec/services/analytics/dashboard/most_active_carriers_spec.rb
  engines/analytics/spec/services/analytics/dashboard/most_active_routes_spec.rb
  engines/api/spec/controllers/api/v1/tenders_controller_spec.rb
  engines/api/spec/services/api/dashboard_service_spec.rb
  engines/journey/factories/journey/line_item_sets.rb
  engines/journey/factories/journey/line_items.rb
  engines/journey/factories/journey/queries.rb
  engines/journey/factories/journey/results.rb
  engines/notifications/spec/decorators/notifications/result_decorator_spec.rb
  rubocop_legacy.yml
  spec/workers/back_fill_exchange_rate_onto_line_items_worker_spec.rb
  spec/workers/reapply_correct_exchange_rates_worker_spec.rb
  spec/workers/set_failed_result_sets_worker_spec.rb
Owners: @itsmycargo/backend

POL-2579: Updating the api docs to reflect the different shapes of responses (#2093)
  doc/api/swagger.json
  engines/api/spec/api/api/dashboard_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2569: Cleaning Hubs Table (#2059)
  app/workers/clean_hubs_table_worker.rb
  db/data/20210423075418_clean_hubs_table.rb
Owners: @itsmycargo/backend

POL-2570: Hub Constraints (#2060)
  app/classes/shipping_tools.rb
  app/controllers/shipments/booking_process_controller.rb
  app/models/hub.rb
  config/routes.rb
  db/migrate/20210506103927_add_terminal_to_hubs.rb
  db/migrate/20210506103936_add_constraints_to_hubs.rb
  db/migrate/20210507103512_add_partial_constraint_to_hubs.rb
  db/structure.sql
  engines/excel_data_services/app/services/excel_data_services/base.rb
  engines/excel_data_services/spec/services/excel_data_services/base_spec.rb
  engines/legacy/app/models/legacy/hub.rb
  engines/legacy/factories/legacy/hubs.rb
  engines/pricings/spec/models/pricings/margin_spec.rb
  rubocop_legacy.yml
  spec/classes/shipping_tools_spec.rb
  spec/controllers/admin/hubs_controller_spec.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2582: Raise different error when Carta 503's (#2098)
  engines/carta/app/services/carta/client.rb
  engines/carta/spec/services/carta/client_spec.rb
  engines/offer_calculator/app/services/offer_calculator/errors.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
Owners: @itsmycargo/backend

POL-2595: Clean Nexus Table (#2095)
  app/workers/clean_nexus_table_worker.rb
  db/data/20210506134634_clean_nexus_table.rb
Owners: @itsmycargo/backend

POL-2576: Upgrade Searchkick and Elasticsearch (#2092)
  .github/workflows/main.yml
  Gemfile.lock
  docker-compose.yaml
  engines/excel_data_services/app/services/excel_data_services/extractors/geo_data_preparer.rb
  engines/locations/app/models/locations/name.rb
  engines/locations/app/services/locations/finders/base.rb
  engines/locations/app/services/locations/searchers/city.rb
  engines/locations/locations.gemspec
  engines/locations/spec/services/locations/autocomplete_spec.rb
  engines/locations/spec/services/locations/finders/postal_code_spec.rb
  engines/locations/spec/services/locations/location_searcher_spec.rb
  engines/locations/spec/services/locations/searchers/city_spec.rb
  engines/locations/spec/services/locations/searchers/default_spec.rb
  engines/locations/spec/services/locations/searchers/locode_spec.rb
  engines/locations/spec/services/locations/searchers/nested_city_spec.rb
  engines/locations/spec/services/locations/searchers/point_spec.rb
  engines/locations/spec/services/locations/searchers/postal_city_spec.rb
Owners: @itsmycargo/sre, @itsmycargo/backend

POL-2616: Return empty string if company_name is null (#2100)
  engines/api/app/decorators/api/v1/user_decorator.rb
  engines/api/spec/decorators/api/v1/user_decorator_spec.rb
Owners: @itsmycargo/backend

POL-1864: Change to Committee Rules and corrected docs (#2101)
  config/application.rb
  doc/api/swagger.json
  engines/api/spec/api/api/clients_spec.rb
  engines/api/spec/api/api/queries_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2586: Committee errors fixed for V1 Quotations#create (#2102)
  doc/api/swagger.json
  engines/api/spec/api/api/quotations_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2541: Ignore empty sheets (#2104)
  engines/excel_data_services/app/services/excel_data_services/schemas/validator.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/validator_spec.rb
Owners: @itsmycargo/backend

POL-2631: Tenders were backfilled despite them not having any LineItems attached, due to an error in the backfill logic. (#2103)
  app/workers/set_empty_tenders_as_failed_worker.rb
  db/data/20210607135546_set_empty_tenders_as_failed.rb
  db/data_schema.rb
  spec/workers/set_empty_tenders_as_failed_worker_spec.rb
Owners: @itsmycargo/backend

POL-6: Temp fix for Trucking Writer (#2094)
  app/classes/document_service/trucking_writer.rb
  app/classes/writing_tool.rb
  spec/classes/document_service/trucking_writer_spec.rb
Owners: @itsmycargo/backend

POL-2634: Fixed case of param (#2107)
  app/controllers/admin/margins_controller.rb
  engines/pricings/factories/pricings/margins.rb
  spec/controllers/admin/margins_controller_spec.rb
Owners: @itsmycargo/backend

POL-2636: Properly fixed Margin Editor (#2109)
  app/controllers/admin/margins_controller.rb
  engines/pricings/app/models/pricings/margin.rb
  spec/controllers/admin/margins_controller_spec.rb
Owners: @itsmycargo/backend

POL-2635: fix for company_name sorting error (#2108)
  app/controllers/admin/clients_controller.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend

POL-2641: Return closedShop params (#2112)
  doc/api/swagger.json
  engines/api/app/serializers/api/v2/scope_serializer.rb
  engines/api/spec/controllers/api/v2/scopes_controller_spec.rb
  engines/api/spec/serializers/api/v2/scope_serializer_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2645: increase Exchange Rate rounding from 2 to 5 decimals (#2114)
  engines/pdf/app/views/pdf/partials/breakdowns/exchange_rate_row.html.erb
  engines/result_formatter/app/services/result_formatter/exchange_rate_service.rb
  engines/result_formatter/spec/services/result_formatter/exchange_rate_service_spec.rb
  spec/controllers/shipments_controller_spec.rb
Owners: @itsmycargo/backend

POL-1872: Upgrading preview logic (#2106)
  app/controllers/admin/margins_controller.rb
  engines/offer_calculator/app/services/offer_calculator/preview.rb
  engines/offer_calculator/app/services/offer_calculator/queries/valid_routes.rb
  engines/offer_calculator/app/services/offer_calculator/request.rb
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/offer_calculator/app/services/offer_calculator/service/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/finders/local_charges.rb
  engines/offer_calculator/app/services/offer_calculator/service/finders/truckings.rb
  engines/offer_calculator/app/services/offer_calculator/service/hub_finder.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_sorter.rb
  engines/offer_calculator/app/services/offer_calculator/service/query_generator.rb
  engines/offer_calculator/app/services/offer_calculator/service/schedule_finder.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_validation_service.rb
  engines/offer_calculator/spec/services/offer_calculator/queries/valid_routes_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/request_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/finders/local_charges_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/finders/truckings_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/hub_finder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter/fcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter/lcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/pricing_finder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/pricing_manipulator_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/quote_route_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/schedule_finder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/validations/cargo_item_validation_service_spec.rb
  engines/pricings/app/services/pricings/preview.rb
  engines/pricings/spec/services/pricings/preview_spec.rb
  engines/wheelhouse/app/services/wheelhouse/preview_service.rb
  engines/wheelhouse/spec/services/wheelhouse/preview_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/validation_service_spec.rb
  rubocop_legacy.yml
  spec/controllers/admin/margins_controller_spec.rb
Owners: @itsmycargo/backend

POL-2643: Adding Reference to Journey::LineItemSets (#2110)
  app/workers/backfill_line_item_set_reference_worker.rb
  db/data/20210615095707_backfill_line_item_set_reference.rb
  db/data_schema.rb
  db/structure.sql
  engines/journey/app/models/journey/line_item_set.rb
  engines/journey/db/migrate/20210615093819_add_imc_reference_to_line_item_set.rb
  engines/journey/factories/journey/line_item_sets.rb
  engines/journey/spec/models/journey/line_item_set_spec.rb
  engines/notifications/app/services/notifications/offer_subject_line.rb
  engines/notifications/spec/services/notifications/offer_subject_line_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/line_item_set_builder.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
  spec/workers/backfill_line_item_set_reference_worker_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2640: Added AuthMethods and SamlLoginText to Scope response (#2116)
  doc/api/swagger.json
  engines/api/app/models/api/scope.rb
  engines/api/app/serializers/api/v2/scope_serializer.rb
  engines/api/spec/controllers/api/v2/scopes_controller_spec.rb
  engines/api/spec/serializers/api/v2/scope_serializer_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend
