Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre

POL-2557: Chargeable weight for trucking on pdf and quote card (#2028)
  engines/api/app/decorators/api/v1/legacy_result_decorator.rb
  engines/api/app/decorators/api/v1/result_decorator.rb
  engines/pdf/app/views/pdf/partials/breakdowns/level_x_fee.html.erb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
Owners: @itsmycargo/backend

POL-1918: Always Apply base on fee calculations (#2017)
  engines/offer_calculator/app/services/offer_calculator/service/charge_calculator.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charge_calculator_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/manipulators/local_charges_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

POL-2558: Shipments Controller Bug (#2031)
  app/controllers/shipments_controller.rb
  engines/api/app/controllers/api/api_controller.rb
  spec/controllers/admin/shipments_controller_spec.rb
  spec/controllers/shipments_controller_spec.rb
Owners: @itsmycargo/backend

POL-2559: Support multiple content types for Okargo upload (#2032)
  doc/api/swagger.json
  engines/api/app/controllers/api/v1/uploads_controller.rb
  engines/api/spec/api/api/uploads_spec.rb
  engines/api/spec/controllers/api/v1/uploads_controller_spec.rb
Owners: @itsmycargo/backend

POL-2554: SAML login patch (#2024)
  .rubocop.yml
  config/routes.rb
  db/structure.sql
  engines/companies/app/models/companies/company.rb
  engines/companies/db/migrate/20210420120815_remove_uniqueness_on_company_name.rb
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/requests/idp/saml_controller_spec.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend, @itsmycargo/data

POL-31: Knapsack load meters (#1999)
  gems/cargo_packer/.rspec
  gems/cargo_packer/Gemfile
  gems/cargo_packer/Rakefile
  gems/cargo_packer/bin/console
  gems/cargo_packer/bin/rspec
  gems/cargo_packer/bin/setup
  gems/cargo_packer/cargo_packer.gemspec
  gems/cargo_packer/factories/cargo_packer/items.rb
  gems/cargo_packer/lib/cargo_packer.rb
  gems/cargo_packer/lib/cargo_packer/container.rb
  gems/cargo_packer/lib/cargo_packer/dimensions.rb
  gems/cargo_packer/lib/cargo_packer/errors.rb
  gems/cargo_packer/lib/cargo_packer/item.rb
  gems/cargo_packer/lib/cargo_packer/orientation.rb
  gems/cargo_packer/lib/cargo_packer/packer.rb
  gems/cargo_packer/lib/cargo_packer/packing.rb
  gems/cargo_packer/lib/cargo_packer/placement.rb
  gems/cargo_packer/lib/cargo_packer/position.rb
  gems/cargo_packer/lib/cargo_packer/service.rb
  gems/cargo_packer/lib/cargo_packer/space.rb
  gems/cargo_packer/lib/cargo_packer/space_breaker.rb
  gems/cargo_packer/lib/cargo_packer/space_combiner.rb
  gems/cargo_packer/spec/cargo_packer/packer_spec.rb
  gems/cargo_packer/spec/cargo_packer/service_spec.rb
  gems/cargo_packer/spec/cargo_packer/space_breaker_spec.rb
  gems/cargo_packer/spec/cargo_packer/space_combiner_spec.rb
  gems/cargo_packer/spec/spec_helper.rb
  gems/cargo_packer/spec/support/simplecov.rb
Owners: @itsmycargo/backend

POL-2549: Fix for flaky test in FeeTableService (#2033)
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
Owners: @itsmycargo/backend

POL-1905: removed troublesome method (#2029)
  app/controllers/shipments/booking_process_controller.rb
  engines/analytics/spec/services/analytics/base_spec.rb
  engines/organizations/data/default_scope.yaml
Owners: @itsmycargo/backend

POL-33: New Trucking Limits (#2034)
  Gemfile
  Gemfile.lock
  app/workers/update_saco_load_meterage_worker.rb
  db/data/20210421083826_update_saco_load_meterage.rb
  db/data_schema.rb
  engines/offer_calculator/Gemfile.runtime
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/consolidated.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/engines/unit.rb
  engines/offer_calculator/offer_calculator.gemspec
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_trucking_lcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_trucking_limits_spec.rb
  engines/pricings/app/services/pricings/manipulator_result.rb
  engines/pricings/spec/services/pricings/manipulator_result_spec.rb
  engines/trucking/factories/trucking/truckings.rb
Owners: @itsmycargo/backend

POL-2561: chargeable weight quantity issues (#2036)
  engines/result_formatter/app/decorators/result_formatter/cargo_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/cargo_decorator_spec.rb
Owners: @itsmycargo/backend

POL-2560: File Writer Bug FCL (#2035)
  engines/excel_data_services/app/services/excel_data_services/file_writers/base.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/pricings_cargo_item_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/pricings_container_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/pricings_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

POL-2547: Siren Queries Index (#2038)
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
Owners: @itsmycargo/backend

POL-34: Inserter updates for new load meterage limits (#2037)
  engines/excel_data_services/app/services/excel_data_services/data_frames/data_providers/trucking/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/restructurers/truckings/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/sanitizers/trucking/metadata.rb
  engines/excel_data_services/factories/data_frames/frames/metadata.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/combinators/truckings/rates_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/data_providers/trucking/metadata_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/restructurers/truckings/metadata_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/sanitizers/trucking/metadata_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/coordinates/relative_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/targets/relative_spec.rb
  rubocop_legacy.yml
  spec/fixtures/files/excel/example_trucking.xlsx
  spec/shared/metadata_sheet.rb
Owners: @itsmycargo/backend

POL-2566: Fix for pagination on V2::Queries#index (#2040)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

POL-2540: added margins to trestle (#2026)
  engines/admiralty/app/admin/admiralty/margins_admin.rb
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/models/admiralty/organization.rb
  engines/admiralty/config/routes.rb
Owners: @itsmycargo/backend

POL-2562: Trucking Inserter Upgrade (#2039)
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/trucking/fees.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/trucking/zones.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/coordinators/trucking.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/data_providers/base.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/data_providers/trucking/fees.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/data_providers/trucking/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/restructurers/truckings/fees.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/restructurers/truckings/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/restructurers/truckings/rates.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/sanitizers/trucking/fees.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/sanitizers/trucking/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/schemas/data/trucking_fees.yml
  engines/excel_data_services/spec/services/excel_data_services/data_frames/augmenters/trucking/fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/data_providers/trucking/country_codes_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/data_providers/trucking/fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/data_providers/trucking/zones_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/restructurers/truckings/metadata_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/restructurers/truckings/rates_spec.rb
  spec/fixtures/files/excel/example_trucking.xlsx
Owners: @itsmycargo/backend

POL-2578: Roudning on Chargeable weights (#2044)
  engines/api/app/decorators/api/v1/legacy_result_decorator.rb
  engines/pdf/app/services/pdf/chargeable_weight_row.rb
Owners: @itsmycargo/backend

POL-2588: searching and sorting by first, last and company name (#2047)
  app/controllers/admin/clients_controller.rb
  engines/api/app/controllers/api/v1/clients_controller.rb
  engines/api/spec/controllers/api/v1/clients_controller_spec.rb
  rubocop_legacy.yml
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend

POL-2589: fixed creation error on Polaris (#2048)
  engines/api/app/services/api/client_creation_service.rb
  engines/api/spec/services/api/client_creation_service_spec.rb
Owners: @itsmycargo/backend

POL-1911: Colli Types added to trestle (#2043)
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/admiralty/app/admin/admiralty/tenant_cargo_item_types_admin.rb
  engines/admiralty/app/models/admiralty/organization.rb
  engines/admiralty/config/routes.rb
Owners: @itsmycargo/backend

POL-2585: filtering results for those with route_sections (#2046)
  app/controllers/users_controller.rb
  spec/controllers/users_controller_spec.rb
Owners: @itsmycargo/backend

POL-2577: Trigger Airflow Okargo Ingest pipeline upon upload by Okargo (#2042)
  Gemfile.lock
  config/routes.rb
  config/settings.yml
  config/settings/development.yml
  config/settings/production.yml
  config/settings/test.yml
  db/data_schema.rb
  db/structure.sql
  doc/engines/graph.puml
  doc/engines/graph.svg
  engines/api/api.gemspec
  engines/api/app/controllers/api/v1/uploads_controller.rb
  engines/api/app/jobs/api/airflow_dag_run_job.rb
  engines/api/app/jobs/api/application_job.rb
  engines/api/app/services/api/upload_pipelines/airflow.rb
  engines/api/app/services/api/upload_pipelines/base.rb
  engines/api/app/services/api/upload_pipelines/okargo.rb
  engines/api/factories/api/file_wrapper.rb
  engines/api/lib/api/engine.rb
  engines/api/spec/controllers/api/v1/uploads_controller_spec.rb
  engines/api/spec/jobs/api/airflow_dag_run_job_spec.rb
  engines/api/spec/services/api/upload_pipelines/okargo_spec.rb
  engines/organizations/app/models/organizations/integration_token.rb
  engines/organizations/db/data/20210427180155_backfill_pipeline_to_integration_token.rb
  engines/organizations/db/migrate/20210427175457_add_pipeline_to_integration_token.rb
  engines/organizations/factories/organizations/integration_tokens.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2591: Relay Enum added and backfilled (#2049)
  app/workers/backfill_relay_enum_worker.rb
  db/data/20210504094942_backfill_relay_enum.rb
  db/data_schema.rb
  db/structure.sql
  engines/api/app/decorators/api/v2/line_item_decorator.rb
  engines/api/app/services/api/legacy_quote.rb
  engines/journey/app/models/journey/route_section.rb
  engines/journey/db/migrate/20210504094632_add_relay_to_route_section_mot_enum.rb
  engines/journey/spec/shared/journey_complete_request.rb
  engines/journey/spec/shared/sections.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/relay.rb
  engines/result_formatter/app/decorators/result_formatter/line_item_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2564: Deduping Trucking::Locations (#2041)
  app/workers/dedupe_trucking_locations_worker.rb
  db/data/20210422110857_dedupe_trucking_locations.rb
  db/data_schema.rb
  db/migrate/20210422110801_create_uuid_ossp_extension.rb
  db/structure.sql
  engines/api/spec/api/api/trucking_availabilities_spec.rb
  engines/api/spec/api/api/trucking_counterparts_spec.rb
  engines/api/spec/controllers/api/v1/equipments_controller_spec.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/trucking/zones.rb
  engines/excel_data_services/app/services/excel_data_services/extractors/location.rb
  engines/excel_data_services/factories/data_frames/frames/trucking_zones.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/augmenters/trucking/zones_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/runners/trucking_alphanumeric_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/runners/trucking_city_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/runners/trucking_distance_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/runners/trucking_locode_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/runners/trucking_zipcode_spec.rb
  engines/trucking/app/models/trucking/location.rb
  engines/trucking/db/migrate/20210422110800_add_upsert_id_to_locations.rb
  engines/trucking/factories/trucking/locations.rb
  engines/trucking/spec/models/trucking/location_spec.rb
  engines/trucking/spec/services/trucking/queries/availability_spec.rb
  engines/trucking/spec/services/trucking/queries/base_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_service_spec.rb
  rubocop_legacy.yml
  spec/controllers/trucking_availability_controller_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2565: Trucking Upsert constraint (#2055)
  db/structure.sql
  engines/trucking/app/models/trucking/location.rb
  engines/trucking/db/migrate/20210426104420_remove_location_constraints.rb
  engines/trucking/db/migrate/20210426104428_update_location_constraints.rb
Owners: @itsmycargo/data, @itsmycargo/backend

POL-2594: Fix for flaky test (#2050)
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
Owners: @itsmycargo/backend

POL-2592: Correcting edited prices set in backfill (#2056)
  app/workers/correct_edited_prices_backfill_worker.rb
  db/data/20210504125404_correct_edited_prices_backfill.rb
  db/data_schema.rb
Owners: @itsmycargo/backend

POL-2550: Set Failed ResultSets on empty Queries (#2051)
  app/workers/set_failed_result_sets_worker.rb
  db/data/20210503114121_set_failed_result_sets.rb
  spec/workers/set_failed_result_sets_worker_spec.rb
Owners: @itsmycargo/backend

POL-2593: Fix for content_positions bug (#2054)
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/trucking/fees.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/trucking/zones.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/restructurers/truckings/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/sanitizers/trucking/fees.rb
  engines/excel_data_services/app/services/excel_data_services/schemas/files/base.rb
  engines/excel_data_services/app/services/excel_data_services/schemas/files/trucking.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/files/trucking_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/schemas/sheet/trucking_fees_spec.rb
  engines/trucking/app/models/trucking/location.rb
Owners: @itsmycargo/backend

POL-2575: Backfill Shipments and Shipment Requests (#2052)
  app/workers/backfill_shipments_and_requests_worker.rb
  db/data/20210503144439_backfill_shipments_and_requests.rb
Owners: @itsmycargo/backend

POL-2572: Client info added to Email (#2061)
  engines/notifications/app/mailers/notifications/admin_mailer.rb
  engines/notifications/app/views/notifications/admin_mailer/offer_created.de.html.erb
  engines/notifications/app/views/notifications/admin_mailer/offer_created.de.text.erb
  engines/notifications/app/views/notifications/admin_mailer/offer_created.en.html.erb
  engines/notifications/app/views/notifications/admin_mailer/offer_created.en.text.erb
  engines/notifications/spec/mailers/previews/notifications/admin_preview.rb
Owners: @itsmycargo/backend

POL-2598: Using ResultSet currency (#2062)
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
Owners: @itsmycargo/backend

POL-2580: fixes for Quotations create location schema (#2065)
  doc/api/swagger.json
  engines/api/spec/api/api/quotations_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-1864: Aggregated param no longer needed (#2064)
  doc/api/swagger.json
  engines/api/spec/api/api/queries_spec.rb
Owners: @itsmycargo/backend

POL-2581: nullable phone in user response (#2066)
  doc/api/swagger.json
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2586: allow nil for user_id in Quotations#create (#2068)
  doc/api/swagger.json
  engines/api/spec/api/api/quotations_spec.rb
Owners: @itsmycargo/backend

POL-2597: Display stackability on pdf (#2070)
  engines/pdf/app/views/pdf/partials/quotation/cargo/cargo_item.html.erb
Owners: @itsmycargo/backend

POL-2603: Fixed erroneous logic in conversion class (#2069)
  gems/money_cache/lib/money_cache/conversion.rb
  gems/money_cache/spec/money_cache/converter_spec.rb
Owners: @itsmycargo/backend

POL-2599: Correcting billable based on billing periods (#2067)
  app/workers/correct_backfilled_billables_worker.rb
  db/data/20210510103821_correct_backfilled_billables.rb
  db/data_schema.rb
Owners: @itsmycargo/backend

POL-2604: Removing defunct truckings (#2072)
  app/workers/remove_defunct_truckings_worker.rb
  db/data/20210510151857_remove_defunct_truckings.rb
  db/data_schema.rb
Owners: @itsmycargo/backend
