Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

chore: reviewdog instead super-linter (#2117)
  .github/workflows/lint.yml
  .github/workflows/main.yml
  Gemfile.lock
Owners: @itsmycargo/sre, @itsmycargo/backend

POL-2567: Legacy::Quotation Backfill (#2045)
  app/workers/legacy_quotation_backfill_worker.rb
  db/data/20210422142058_legacy_quotation_backfill.rb
  db/data_schema.rb
  engines/carta/app/services/carta/client.rb
  engines/carta/spec/services/carta/client_spec.rb
  engines/journey/app/models/journey/query.rb
Owners: @itsmycargo/backend

POL-2652: Deduped Itineraries (#2119)
  .rubocop.yml
  app/workers/dedupe_itineraries_worker.rb
  db/data/20210624093925_dedupe_itineraries.rb
  db/data_schema.rb
Owners: @itsmycargo/backend

POL-2652: Correcting backfill to handle nil transshipment (#2123)
  app/workers/properly_dedupe_itineraries_worker.rb
  db/data/20210625125035_properly_dedupe_itineraries.rb
  db/data_schema.rb
Owners: @itsmycargo/backend

POL-2655: Adding upsert_id to Itinerary (#2121)
  app/models/itinerary.rb
  app/workers/backfill_upsert_id_on_itinerary_worker.rb
  db/data/20210624170447_backfill_upsert_id_on_itinerary.rb
  db/data_schema.rb
  db/migrate/20210624093825_add_upsert_id_to_itinerary.rb
  db/structure.sql
  engines/legacy/app/models/legacy/itinerary.rb
  engines/legacy/factories/legacy/hubs.rb
  spec/models/shipment_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2657: Added Paranoia to Pricings::Pricings and Pricings::Fees models (#2122)
  config/routes.rb
  db/structure.sql
  engines/excel_data_services/app/services/excel_data_services/inserters/base.rb
  engines/pricings/app/models/pricings/fee.rb
  engines/pricings/app/models/pricings/pricing.rb
  engines/pricings/db/migrate/20210624143502_add_soft_delete_to_pricings_and_fees.rb
  engines/pricings/db/migrate/20210624143634_add_index_to_pricings_and_fees_deleted_at.rb
  engines/pricings/db/migrate/20210625072154_add_index_to_fees_deleted_at.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2653: Set Itinerary Unique Constraint (#2120)
  app/models/itinerary.rb
  db/data_schema.rb
  db/migrate/20210624095931_add_unique_constraint_to_itinerary.rb
  db/structure.sql
  engines/legacy/app/models/legacy/itinerary.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2658: Adding Upsert ID to pricings and Fees (#2124)
  app/workers/backfill_upsert_id_on_pricings_and_fees_worker.rb
  config/routes.rb
  db/data/20210625075806_backfill_upsert_id_on_pricings_and_fees.rb
  db/structure.sql
  engines/pricings/app/models/pricings/fee.rb
  engines/pricings/app/models/pricings/pricing.rb
  engines/pricings/db/migrate/20210624143755_add_upsert_id_to_pricings_and_fees.rb
  engines/pricings/db/migrate/20210628083535_add_index_to_pricings_upsert_id.rb
  engines/pricings/db/migrate/20210628083553_add_index_to_fees_upsert_id.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2644: Fixing Bug in rover leading to NaN instead of nil (#2111)
  config/initializers/01-ext.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/trucking/zones.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/combinators/base.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/restructurers/base.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/restructurers/truckings/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/extractors/location.rb
  engines/excel_data_services/app/services/excel_data_services/validators/extractions/base.rb
  engines/excel_data_services/factories/data_frames/frames/hubs.rb
  engines/excel_data_services/factories/schemas/file/hubs.rb
  engines/excel_data_services/factories/schemas/sheet/hubs.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/combinators/hubs/hubs_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/combinators/truckings/fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/combinators/truckings/rates_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/restructurers/truckings/metadata_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/runners/blocks_hubs_spec.rb
  lib/ext/rover/vector.rb
  spec/shared/hubs_sheet.rb
Owners: @itsmycargo/backend

POL-2671: Deduping ChargeCategories (#2126)
  app/workers/dedupe_charge_categories_worker.rb
  db/data/20210628093116_dedupe_charge_categories.rb
  db/data_schema.rb
Owners: @itsmycargo/backend

POL-2660: Client Center Search Issues (#2129)
  app/controllers/admin/clients_controller.rb
  engines/users/app/models/users/client.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend

POL-2673: rejecting Relay MOTs (#2130)
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
Owners: @itsmycargo/backend

POL-2656: Soft Delete Pricings that are not valid (#2125)
  app/workers/softdelete_duplicate_pricings_worker.rb
  db/data/20210625084718_softdelete_duplicate_pricings.rb
Owners: @itsmycargo/backend

POL-2672: Added unique constraint to ChargeCategory table (#2127)
  app/models/charge_category.rb
  db/migrate/20210628094743_add_unique_constraint_to_charge_categories.rb
  db/structure.sql
  engines/legacy/app/models/legacy/charge_category.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2646: Upcasing fcl in pdf (#2134)
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
Owners: @itsmycargo/backend

POL-2659: Adding Unique Constraints to Pricings and Fees (#2131)
  db/structure.sql
  engines/excel_data_services/app/services/excel_data_services/inserters/pricing.rb
  engines/offer_calculator/spec/services/offer_calculator/service/finders/pricings_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter/fcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter/lcl_spec.rb
  engines/pricings/app/models/pricings/pricing.rb
  engines/pricings/db/migrate/20210628130133_add_unique_constraint_to_pricings.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_service_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/data, @itsmycargo/backend

POL-2649: Correcting NaN Hubs (#2132)
  app/workers/dedupe_hub_from_inserter_error_worker.rb
  db/data/20210616113729_dedupe_hub_from_inserter_error.rb
Owners: @itsmycargo/backend

POL-2650: explicitly defined table for created_at (#2133)
  engines/analytics/app/services/analytics/base.rb
  engines/analytics/app/services/analytics/dashboard/base.rb
  engines/analytics/app/services/analytics/dashboard/bookings_per_day.rb
  engines/analytics/spec/services/analytics/dashboard/bookings_per_day_spec.rb
Owners: @itsmycargo/backend

POL-2648: Fixed to handle value as a string (#2135)
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/offer.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/offer_spec.rb
Owners: @itsmycargo/backend

POL-2679: updated to use correct uuid generator (#2137)
  Gemfile.lock
  app/workers/correct_upsert_ids_worker.rb
  db/data/20210630153432_correct_upsert_ids.rb
  db/data_schema.rb
  engines/legacy/app/models/legacy/itinerary.rb
  engines/legacy/legacy.gemspec
  engines/pricings/app/models/pricings/fee.rb
  engines/pricings/app/models/pricings/pricing.rb
  engines/pricings/pricings.gemspec
  engines/trucking/app/models/trucking/location.rb
  engines/trucking/trucking.gemspec
Owners: @itsmycargo/backend

POL-2675: Cleaning Location::Location table (#2139)
  app/workers/clean_locations_locations_table_worker.rb
  db/data/20210629151014_clean_locations_locations_table.rb
Owners: @itsmycargo/backend

POL-2680: Solving conflict issue created by uuid mismatch (#2138)
  app/workers/clean_upsert_id_conflicts_worker.rb
  db/data/20210702074144_clean_upsert_id_conflicts.rb
  db/data_schema.rb
  engines/locations/app/models/locations/location.rb
Owners: @itsmycargo/backend

POL-2682: guard clause for correction backfill (#2140)
  app/workers/clean_upsert_id_conflicts_worker.rb
Owners: @itsmycargo/backend

POL-2676: Added Unique Constraint to Locations::Location table (#2136)
  config/routes.rb
  db/structure.sql
  engines/locations/app/models/locations/location.rb
  engines/locations/db/migrate/20210630075906_add_unique_constraint_to_locations_locations.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2681: Deduping Pricings::Fee's (#2143)
  app/workers/dedupe_pricings_fees_worker.rb
  db/data/20210702100953_dedupe_pricings_fees.rb
  db/data_schema.rb
  spec/workers/dedupe_pricings_fees_worker_spec.rb
Owners: @itsmycargo/backend

POL-2659: Added Unique Constraint to Pricings Fee (#2144)
  config/routes.rb
  db/structure.sql
  engines/pricings/app/models/pricings/fee.rb
  engines/pricings/db/migrate/20210702094000_remove_default_upsert_index_from_pricings_fee.rb
  engines/pricings/db/migrate/20210702094008_add_unique_constraint_to_pricings_fee.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-2684: Missing attributes for V2::Queries#index (#2145)
  doc/api/swagger.json
  engines/api/app/decorators/api/v2/client_decorator.rb
  engines/api/app/decorators/api/v2/query_decorator.rb
  engines/api/app/serializers/api/v2/client_serializer.rb
  engines/api/app/serializers/api/v2/query_serializer.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/decorators/api/v2/client_decorator_spec.rb
  engines/api/spec/serializers/api/v2/client_serializer_spec.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
  engines/wheelhouse/app/services/wheelhouse/offer_builder.rb
Owners: @itsmycargo/backend

POL-2684: correction for mots and issue at date missing plus more specs added (#2146)
  engines/api/app/decorators/api/v2/query_decorator.rb
  engines/api/app/serializers/api/v2/query_serializer.rb
  engines/api/spec/decorators/api/v2/query_decorator_spec.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
Owners: @itsmycargo/backend

POL-2651: Missing Country on Address (#2147)
  engines/legacy/app/models/legacy/hub.rb
Owners: @itsmycargo/backend

POL-2685: explicitly check for presence of validity period (#2149)
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/offer.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/offer_spec.rb
  engines/organizations/app/models/concerns/content_setter.rb
  engines/organizations/spec/models/organizations/scope_spec.rb
Owners: @itsmycargo/backend

POL-2677: Trestle page for importing Location data (#2141)
  config/settings/development.yml
  config/settings/production.yml
  engines/admiralty/app/admin/admiralty/countries_admin.rb
  engines/admiralty/app/models/admiralty/country.rb
  engines/admiralty/app/services/admiralty/location_importer.rb
  engines/admiralty/config/routes.rb
  engines/admiralty/spec/services/admiralty/location_importer_spec.rb
Owners: @itsmycargo/backend

POL-2574: Verify Quotations Backfill (#2148)
  app/workers/verify_backfills_worker.rb
  db/data/20210429101809_verify_backfills.rb
Owners: @itsmycargo/backend

POL-2687: correcting profiles update params (#2150)
  app/controllers/users_controller.rb
  config/routes.rb
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/profiles_controller.rb
  engines/api/spec/api/api/profiles_spec.rb
  engines/api/spec/controllers/api/v2/profiles_controller_spec.rb
  engines/idp/spec/requests/idp/saml_controller_spec.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
Owners: @itsmycargo/backend

POL-2691: Wrong ChargeCategory being used for Flat margins (#2152)
  engines/pricings/app/services/pricings/manipulator.rb
  engines/pricings/spec/services/pricings/manipulator/helpers_spec.rb
  engines/pricings/spec/services/pricings/manipulator/trucking_spec.rb
  rubocop_legacy.yml
Owners: @itsmycargo/backend

POL-2700: Prioritizing locode over name and country (#2158)
  engines/excel_data_services/app/services/excel_data_services/base.rb
  engines/excel_data_services/spec/services/excel_data_services/base_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/pricing_edge_cases_spec.rb
Owners: @itsmycargo/backend

POL-2701: added docs for V2::Queries#show (#2159)
  doc/api/swagger.json
  engines/api/spec/api/api/queries_spec.rb
Owners: @itsmycargo/backend

POL-2661: Added Logo to Routing::Carrier model (#2160)
  app/workers/backfill_routing_carriers_worker.rb
  db/data/20210722093330_backfill_routing_carriers.rb
  db/data_schema.rb
  engines/legacy/factories/legacy/carriers.rb
  engines/routing/app/models/routing/carrier.rb
  engines/routing/factories/routing/carriers.rb
  spec/workers/backfill_routing_carriers_worker_spec.rb
Owners: @itsmycargo/backend

POL-2709: Fixed response to be in line with V2 (#2163)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/cargo_units_controller.rb
  engines/api/app/decorators/api/v2/cargo_unit_decorator.rb
  engines/api/app/serializers/api/v2/cargo_unit_serializer.rb
  engines/api/spec/api/api/cargo_units_spec.rb
  engines/api/spec/decorators/api/v2/cargo_unit_decorator_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-2712: Fixing bug when charge category is nil (#2165)
  engines/pricings/app/models/pricings/fee.rb
Owners: @itsmycargo/backend

CHORE: bump Rover-df (#2166)
  Gemfile.lock
  config/initializers/01-ext.rb
  engines/excel_data_services/excel_data_services.gemspec
Owners: @itsmycargo/backend

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre
