Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

IMC-3513: fixed typo in SamlDataBuilder (#1835)
  engines/idp/app/decorators/idp/saml_response_decorator.rb
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
Owners: @itsmycargo/backend

IMC-3519: Bookings fixed for Gateway and Fivestar (#1837)
  engines/offer_calculator/app/services/offer_calculator/request.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/lcl_door_to_door_spec.rb
Owners: @itsmycargo/backend

IMC-3521: returning trucking writer (#1839)
  app/classes/document_service/trucking_writer.rb
Owners: @itsmycargo/backend

IMC-3516: corrected doorkeeper token source (#1836)
  engines/api/app/controllers/api/api_controller.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3550: Saml login fix (#1842)
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/requests/idp/saml_controller_spec.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
Owners: @itsmycargo/backend

FIX - reek issues
  app/classes/document_service/trucking_writer.rb
Owners: @itsmycargo/backend

IMC-3522: OCS::Request properly taking load_type from Query (#1840)
  engines/offer_calculator/app/services/offer_calculator/request.rb
  engines/offer_calculator/spec/services/offer_calculator/request_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/request_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/validation_service_spec.rb
Owners: @itsmycargo/backend

IMC-3520: update default currency assignment and backfill (#1838)
  app/workers/correct_invalid_users_client_settings_worker.rb
  db/data/20210202103515_correct_invalid_users_client_settings.rb
  db/data_schema.rb
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
  engines/users/app/models/users/client.rb
  spec/workers/correct_invalid_users_client_settings_worker_spec.rb
Owners: @itsmycargo/backend

IMC-3526: fix to shipments pagination (#1841)
  app/controllers/shipments_controller.rb
  app/controllers/users_controller.rb
  engines/api/app/controllers/api/api_controller.rb
  engines/api/app/decorators/api/v1/result_decorator.rb
  spec/controllers/admin/shipments_controller_spec.rb
  spec/controllers/shipments_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3458 IMC-3547/IMC-3458: Siren Offer Controller Update (#1843)
  engines/api/app/controllers/api/v2/offers_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/controllers/api/v2/offers_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3554: Siren Query controller mocked (#1844)
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
Owners: @itsmycargo/backend

fix(build): withCache
  Jenkinsfile
Owners: @itsmycargo/sre

fix(build): failing app stage
  Jenkinsfile
Owners: @itsmycargo/sre

Chore: Jenkins Fixes (#1853)
  Jenkinsfile
Owners: @itsmycargo/sre

IMC-3561: 7conn fix (#1849)
  engines/legacy/app/models/legacy/local_charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/finders/local_charges.rb
  engines/offer_calculator/spec/services/offer_calculator/service/finders/local_charges_spec.rb
Owners: @itsmycargo/backend

IMC-3558: Subscription to OfferCreated (#1845)
  app/workers/subscribe_orgs_to_offer_created_worker.rb
  db/data/20210204085349_subscribe_orgs_to_offer_created.rb
  db/data_schema.rb
  spec/workers/subscribe_orgs_to_offer_created_worker_spec.rb
Owners: @itsmycargo/backend

IMC-3553: nil user requests on Dipper (#1847)
  app/controllers/shipments/booking_process_controller.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
  spec/support/rails/request_spec_helpers.rb
Owners: @itsmycargo/backend

IMC-3567: incorrect load type set on dipper (#1856)
  app/controllers/shipments/booking_process_controller.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3560: String Pdf fix (#1848)
  app/controllers/shipments/booking_process_controller.rb
  engines/notifications/app/mailers/notifications/client_mailer.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3568: TransitTime duration cannot be 0 (#1857)
  db/data/20210205143307_remove_zero_duration_transit_times.rb
  engines/legacy/app/models/legacy/itinerary.rb
  engines/legacy/app/models/legacy/tenant_vehicle.rb
  engines/legacy/app/models/legacy/transit_time.rb
  engines/legacy/spec/models/legacy/transit_time_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/quote_route_builder.rb
Owners: @itsmycargo/backend

IMC-3570: Siren query patch (#1858)
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/query_generator.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
Owners: @itsmycargo/backend

IMC-3566: Doorkeeper Resource update (#1855)
  engines/api_auth/lib/api_auth/resource_helper.rb
  engines/api_auth/spec/lib/api_auth/resource_helper_spec.rb
  engines/api_auth/spec/requests/api_auth/tokens_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3563: RFQ mailer (#1851)
  app/workers/create_request_subscriptions_worker.rb
  db/data/20210205081421_create_request_subscriptions.rb
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/controllers/api/v2/requests_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/controllers/api/v2/requests_controller_spec.rb
  engines/journey/app/events/journey/request_created.rb
  engines/notifications/app/decorators/notifications/cargo_unit_decorator.rb
  engines/notifications/app/jobs/notifications/request_created_job.rb
  engines/notifications/app/mailers/notifications/request_mailer.rb
  engines/notifications/app/views/notifications/admin_mailer/offer_created.de.text.erb
  engines/notifications/app/views/notifications/admin_mailer/offer_created.en.text.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.de.html.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.de.text.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.en.html.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.en.text.erb
  engines/notifications/config/locales/de.yml
  engines/notifications/config/locales/en.yml
  engines/notifications/lib/notifications/engine.rb
  engines/notifications/spec/mailers/notifications/request_spec.rb
  engines/notifications/spec/mailers/previews/notifications/request_preview.rb
  spec/workers/create_request_subscriptions_worker_spec.rb
Owners: @itsmycargo/backend

chore: ease timeouts
  Jenkinsfile
Owners: @itsmycargo/sre

IMC-3512 - delete clients from users table (#1854)
  app/workers/remove_clients_from_users_worker.rb
Owners: @itsmycargo/backend

IMC-3559: Misc fixes for admin shipments (#1846)
  app/controllers/admin/shipments_controller.rb
  engines/api/app/decorators/api/v1/result_decorator.rb
  engines/api/spec/decorators/api/v1/legacy_result_decorator_spec.rb
  engines/api/spec/decorators/api/v1/result_decorator_spec.rb
  spec/controllers/admin/shipments_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3562: fix for admin clients creator (#1850)
  app/controllers/admin/clients_controller.rb
  engines/api/app/services/api/client_creation_service.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3577: fix for fcl in siren (#1861)
  engines/offer_calculator/app/services/offer_calculator/request.rb
  engines/offer_calculator/app/services/offer_calculator/service/cargo_creator.rb
  engines/offer_calculator/app/services/offer_calculator/service/route_filter.rb
  engines/offer_calculator/factories/request.rb
  engines/offer_calculator/spec/services/offer_calculator/service/cargo_creator_spec.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
  engines/wheelhouse/spec/services/wheelhouse/query_service_spec.rb
Owners: @itsmycargo/backend

fix: return podSpec format
  Jenkinsfile
Owners: @itsmycargo/sre

IMC-3596: removed incorrect method from inherited class (#1867)
  engines/api/app/decorators/api/v1/legacy_result_decorator.rb
  engines/api/spec/decorators/api/v1/legacy_result_decorator_spec.rb
Owners: @itsmycargo/backend

IMC-3597: login fix pt 2 (#1868)
  engines/api/app/decorators/api/v1/result_decorator.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/decorators/api/v1/result_decorator_spec.rb
  engines/journey/factories/journey/queries.rb
  engines/journey/spec/shared/journey_pdf_setup.rb
  engines/notifications/app/mailers/notifications/application_mailer.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  spec/controllers/admin/shipments_controller_spec.rb
  spec/controllers/shipments_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3579 - backfill wrong locodes and hub codes (#1862)
  app/workers/backfill_wrong_locodes_and_hub_codes_worker.rb
  db/data/20210208144218_backfill_wrong_locodes_and_hub_codes.rb
  db/data_schema.rb
  spec/workers/backfill_wrong_locodes_and_hub_codes_worker_spec.rb
Owners: @itsmycargo/backend

IMC-3589: correct custom charge category labels (#1864)
  engines/api/app/services/api/legacy_quote.rb
  engines/api/spec/decorators/api/v1/legacy_query_decorator_spec.rb
  engines/api/spec/decorators/api/v1/legacy_result_decorator_spec.rb
  engines/api/spec/decorators/api/v1/result_decorator_spec.rb
  engines/api/spec/services/api/legacy_quote_spec.rb
  spec/controllers/admin/shipments_controller_spec.rb
  spec/controllers/shipments_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3586: Republish missed events (#1866)
  app/workers/trigger_missed_offer_created_events_worker.rb
  db/data/20210210113418_trigger_missed_offer_created_events.rb
  db/data_schema.rb
  engines/notifications/app/jobs/notifications/offer_created/admin_notifier_job.rb
  engines/notifications/app/mailers/notifications/admin_mailer.rb
  engines/notifications/app/services/notifications/offer_subject_line.rb
  engines/notifications/spec/mailers/notifications/admin_spec.rb
  engines/wheelhouse/app/services/wheelhouse/offer_builder.rb
  spec/workers/trigger_missed_offer_created_events_worker_spec.rb
Owners: @itsmycargo/backend

chore: switch to GitHub Actions (#1869)
  .github/workflows/ci.yml
  .github/workflows/danger.yaml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  .github/workflows/sentry.yml
  .github/workflows/stale.yaml
  .github/workflows/test.yml
  Jenkinsfile
  gems/measured-itsmycargo/spec/spec_helper.rb
  gems/measured-itsmycargo/spec/support/simplecov.rb
  gems/money_cache/spec/spec_helper.rb
  gems/money_cache/spec/support/simplecov.rb
  spec/spec_helper.rb
Owners: @itsmycargo/backend, @itsmycargo/sre

IMC-3511 - Fix scope saving (#1852)
  engines/admiralty/app/admin/admiralty/organizations/organizations_admin.rb
  engines/organization_manager/spec/services/organization_manager/scope_service_spec.rb
  engines/organizations/app/models/concerns/content_setter.rb
  engines/organizations/data/default_scope.yaml
  engines/organizations/spec/models/organizations/scope_spec.rb
Owners: @itsmycargo/backend

IMC-3569: Stablize trucking tests (#1870)
  engines/api/spec/services/api/routing/trucking/countries_service_spec.rb
  engines/legacy/app/models/legacy/country.rb
  engines/legacy/app/models/legacy/hub.rb
  engines/legacy/factories/legacy/addresses.rb
  engines/legacy/factories/legacy/nexuses.rb
  engines/legacy/spec/models/legacy/address_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  engines/trucking/factories/trucking/hub_availabilities.rb
  engines/trucking/factories/trucking/locations.rb
  engines/trucking/factories/trucking/type_availabilities.rb
  engines/trucking/spec/services/trucking/queries/availability_spec.rb
  engines/trucking/spec/services/trucking/queries/find_by_hub_ids_spec.rb
  spec/controllers/trucking_counterparts_controller_spec.rb
  spec/shared/complete_route_with_trucking.rb
Owners: @itsmycargo/backend

IMC-3587: Fix for shipments search (#1865)
  app/controllers/shipments_controller.rb
  engines/api/app/models/api/query.rb
  engines/journey/app/models/journey/query.rb
  spec/controllers/shipments_controller_spec.rb
Owners: @itsmycargo/backend

feat: shipit deployments (#1872)
  .github/.dockerfilelintrc
  .github/workflows/ci.yml
  .github/workflows/linter.yml
  .github/workflows/test.yml
  Dockerfile
  config/deploy/production/deployment-web.yaml.erb
  config/deploy/production/deployment-worker-critical.yaml.erb
  config/deploy/production/deployment-worker.yaml.erb
  config/deploy/production/ingress.yaml
  config/deploy/production/job-migrate.yaml.erb
  config/deploy/production/pdb-web.yaml
  config/deploy/production/pdb-worker-critical.yaml
  config/deploy/production/pdb-worker.yaml
  config/deploy/production/service.yaml
  shipit.yml
Owners: @itsmycargo/backend, @itsmycargo/sre

IMC-3578: uploads controller first pass (#1863)
  app/controllers/admin/admin_base_controller.rb
  config/credentials.yml.enc
  config/settings.yml
  config/settings/development.yml
  config/settings/production.yml
  config/settings/test.yml
  engines/api/app/controllers/api/v2/uploads_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/controllers/api/v2/uploads_controller_spec.rb
  engines/quotations/spec/models/quotations/quotation_spec.rb
Owners: @itsmycargo/backend

.github/CODEOWNERS:

# By default, backend team
*               @itsmycargo/backend

# Data related changes
**/db/migrate/* @itsmycargo/data
db/schema.rb    @itsmycargo/data

Dockerfile      @itsmycargo/sre
Jenkinsfile     @itsmycargo/sre
