Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

.github/CODEOWNERS:

# By default, backend team
*               @itsmycargo/backend

# Data related changes
**/db/migrate/* @itsmycargo/data
db/schema.rb    @itsmycargo/data

Dockerfile      @itsmycargo/sre
Jenkinsfile     @itsmycargo/sre

IMC-3060: notes for organizations only (#1615)
  engines/legacy/app/models/legacy/note.rb
  engines/pdf/app/services/pdf/service.rb
  engines/pdf/spec/services/pdf/service_spec.rb
Owners: @itsmycargo/backend

IMC-3046 - Dedicated pricings (#1621)
  db/schema.rb
  engines/rate_extractor/app/services/rate_extractor/discount_filter.rb
  engines/rate_extractor/app/services/rate_extractor/margin_filter.rb
  engines/rate_extractor/app/services/rate_extractor/section.rb
  engines/rate_extractor/app/services/rate_extractor/tender_fees.rb
  engines/rate_extractor/spec/services/rate_extractor/discount_filter_spec.rb
  engines/rate_extractor/spec/services/rate_extractor/margin_filter_spec.rb
  engines/rate_extractor/spec/services/rate_extractor/section_spec.rb
  engines/rate_extractor/spec/services/rate_extractor/tender_fees_spec.rb
  engines/rates/app/models/rates/section.rb
  engines/rates/db/migrate/20200812152430_add_applicable_to_section_rates.rb
  engines/rates/spec/factories/rates/sections.rb
Owners: @itsmycargo/data, @itsmycargo/backend

IMC-3010 - Booking Offer (#1622)
  db/schema.rb
  engines/booking/app/models/booking/offer.rb
  engines/booking/db/migrate/20200817063118_create_booking_offers.rb
  engines/booking/spec/factories/booking/offers.rb
  engines/booking/spec/models/booking/offer_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

IMC-3135 - downcase mot uploader (#1624)
  app/classes/excel_data_services/restructurers/margins.rb
  app/classes/excel_data_services/restructurers/pricing_dynamic_fee_cols_no_ranges.rb
  spec/classes/excel_data_services/restructurers/margins_spec.rb
  spec/classes/excel_data_services/restructurers/pricing_dynamic_fee_cols_no_ranges_spec.rb
  spec/factories/excel_data_parsed.rb
Owners: @itsmycargo/backend

IMC-3145 - Remove email from pricings column (#1626)
  app/classes/excel_data_services/file_writers/base.rb
  app/classes/excel_data_services/file_writers/pricings_row_data_builder.rb
  app/classes/excel_data_services/restructurers/base.rb
  app/classes/excel_data_services/rows/base.rb
  app/classes/excel_data_services/validators/header_checker.rb
  app/classes/excel_data_services/validators/insertable_checks/pricing.rb
  spec/classes/excel_data_services/file_writers/pricings_spec.rb
  spec/classes/excel_data_services/validators/header_checker_spec.rb
  spec/classes/excel_data_services/validators/insertable_checks/pricing_spec.rb
  spec/factories/excel_data_parsed.rb
  spec/factories/excel_data_restructured.rb
Owners: @itsmycargo/backend

IMC-3160: disable infinite_precision for formatting (#1629)
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
Owners: @itsmycargo/backend

IMC-3026 - Range Filters (#1623)
  engines/rate_extractor/app/services/rate_extractor/discount_filter.rb
  engines/rate_extractor/app/services/rate_extractor/fee_filter.rb
  engines/rate_extractor/app/services/rate_extractor/margin_filter.rb
Owners: @itsmycargo/backend

IMC-3158: quotation serializer bug (#1628)
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/app/serializers/api/v1/quotation_serializer.rb
  engines/api/spec/api/quotations_spec.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/serializers/api/v1/quotation_serializer_spec.rb
Owners: @itsmycargo/backend

IMC-3156: Uniting validations (#1627)
  config/routes.rb
  engines/legacy/app/validators/legacy/max_aggregate_dimensions_validator.rb
  engines/offer_calculator/app/services/offer_calculator/service/route_filter.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_item_validation_service.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_validation_service.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/container_validation_service.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/error.rb
  engines/offer_calculator/spec/services/offer_calculator/service/route_filter_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/validations/cargo_item_validation_service_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/validations/container_validation_service_spec.rb
  engines/wheelhouse/app/services/wheelhouse/validation_service.rb
  engines/wheelhouse/app/services/wheelhouse/validations/cargo_item_validation_service.rb
  engines/wheelhouse/app/services/wheelhouse/validations/cargo_validation_service.rb
  engines/wheelhouse/app/services/wheelhouse/validations/container_validation_service.rb
  engines/wheelhouse/app/services/wheelhouse/validations/error.rb
  engines/wheelhouse/spec/services/wheelhouse/validations/cargo_item_validation_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/validations/container_validation_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/validations_service_spec.rb
  spec/services/quoted_shipments_service_spec.rb
Owners: @itsmycargo/backend

IMC-3152: limited trucking by distance (#1625)
  engines/legacy/app/models/legacy/hub.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/cargo.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/schedule_finder.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/lcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo/pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo/trucking_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/unit/local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/unit/pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/quote_route_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/schedule_finder_spec.rb
  engines/pricings/app/services/pricings/manipulator_result.rb
  engines/trucking/app/services/trucking/google_directions.rb
  engines/trucking/app/services/trucking/queries/base.rb
  engines/trucking/spec/factories/trucking/google_directions_response.rb
  engines/trucking/spec/services/trucking/google_directions_spec.rb
  engines/trucking/spec/services/trucking/queries/availability_spec.rb
  engines/trucking/spec/services/trucking/queries/hubs_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_service_spec.rb
Owners: @itsmycargo/backend

IMC-3161 - Possible quote mailer fix (#1631)
  app/mailers/quote_mailer.rb
  spec/mailers/quote_mailer_spec.rb
Owners: @itsmycargo/backend

CHORE: IMC-3001 - Siren Widget Management (#1605)
  engines/api/app/controllers/api/v1/widgets_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/widgets_spec.rb
  engines/api/spec/controllers/api/v1/widgets_controller_spec.rb
  engines/api/spec/swagger_helper.rb
Owners: @itsmycargo/backend

IMC-3169: distance trucking fix (#1633)
  engines/trucking/app/services/trucking/queries/base.rb
  engines/trucking/spec/services/trucking/queries/availability_spec.rb
Owners: @itsmycargo/backend

IMC-3165: remove upcase from inserter, add it to restructurer (#1632)
  app/classes/excel_data_services/inserters/pricing.rb
  app/classes/excel_data_services/restructurers/base.rb
  app/classes/excel_data_services/restructurers/pricing_dynamic_fee_cols_no_ranges.rb
  app/classes/excel_data_services/restructurers/pricing_one_fee_col_and_ranges.rb
  spec/classes/excel_data_services/restructurers/pricing_dynamic_fee_cols_no_ranges_spec.rb
  spec/classes/excel_data_services/restructurers/pricing_one_fee_col_and_ranges_spec.rb
  spec/factories/excel_data_parsed.rb
Owners: @itsmycargo/backend

IMC-3171 - Add lat and lng to wheelhouse open struct (#1634)
  engines/api/app/services/api/routing/routing_service.rb
  engines/trucking/spec/services/trucking/queries/base_spec.rb
  engines/wheelhouse/app/services/wheelhouse/equipment_service.rb
  engines/wheelhouse/app/services/wheelhouse/route_finder_service.rb
Owners: @itsmycargo/backend

IMC-3146 - Async Uploaders By Default (#1630)
  app/controllers/admin/admin_base_controller.rb
  spec/controllers/admin/charge_categories_controller_spec.rb
  spec/controllers/admin/clients_controller_spec.rb
  spec/controllers/admin/hubs_controller_spec.rb
  spec/controllers/admin/local_charges_controller_spec.rb
  spec/controllers/admin/margins_controller_spec.rb
  spec/controllers/admin/notes_controller_spec.rb
  spec/controllers/admin/pricings_controller_spec.rb
  spec/controllers/admin/schedules_controller_spec.rb
  spec/jobs/uploader_job_spec.rb
  spec/support/active_job.rb
  spec/support/shared_examples/shared_examples_for_uploaders.rb
Owners: @itsmycargo/backend

IMC-3153 - Terminal & Terminal code on hub uploads sheet (#1637)
  app/classes/excel_data_services/inserters/hubs.rb
  app/classes/excel_data_services/restructurers/hubs.rb
  app/classes/excel_data_services/validators/header_checker.rb
  app/classes/excel_data_services/validators/missing_values/hubs.rb
  app/classes/excel_data_services/validators/type_validity/hubs.rb
  spec/classes/excel_data_services/inserters/hubs_spec.rb
  spec/factories/excel_data_parsed.rb
  spec/factories/excel_data_restructured.rb
Owners: @itsmycargo/backend

IMC-3179 - fix flaky tests (#1638)
  spec/controllers/admin/hubs_controller_spec.rb
  spec/controllers/admin/local_charges_controller_spec.rb
  spec/controllers/admin/pricings_controller_spec.rb
  spec/controllers/admin/schedules_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3176 - Migration for adding the website to theme (#1636)
  app/controllers/organizations_controller.rb
  db/migrate/20200820155821_add_websites_to_organizations_theme.rb
  db/migrate/20200820163636_backfill_add_websites_to_organizations_theme.rb
  db/schema.rb
  engines/organizations/app/models/organizations/theme.rb
Owners: @itsmycargo/backend, @itsmycargo/data

IMC-3174: short fix version (#1640)
  engines/offer_calculator/app/services/offer_calculator/service/measurements/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/cargo.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo/trucking_spec.rb
  engines/pricings/app/services/pricings/manipulator_result.rb
  engines/pricings/spec/services/pricings/manipulator/trucking_spec.rb
  engines/pricings/spec/services/pricings/manipulator_result_spec.rb
Owners: @itsmycargo/backend

IMC-3180: unit validations (#1641)
  engines/cargo/app/services/cargo/creator.rb
  engines/cargo/spec/services/cargo/creator_spec.rb
  engines/legacy/app/models/legacy/cargo_item.rb
  engines/legacy/spec/models/legacy/cargo_item_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/shipment_update_handler.rb
  engines/offer_calculator/spec/services/offer_calculator/service/shipment_update_handler_spec.rb
Owners: @itsmycargo/backend

IMC-3167 - Filtration/pagination on pricings controller for groups (#1639)
  app/controllers/admin/pricings_controller.rb
  engines/pricings/app/models/pricings/pricing.rb
  spec/controllers/admin/pricings_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3189: properly working load meterage limit (#1648)
  Gemfile.lock
  engines/offer_calculator/app/services/offer_calculator/service/measurements/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/cargo.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/consolidated.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/unit.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo/pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/consolidated_spec.rb
Owners: @itsmycargo/backend

IMC-3190 - no profiles without users (#1647)
  app/controllers/admin/clients_controller.rb
  app/controllers/users_controller.rb
  engines/idp/app/controllers/idp/saml_controller.rb
  engines/idp/spec/controllers/idp/saml_controller_spec.rb
  engines/migrator/lib/migrator/migrations/users/profiles.rb
  engines/profiles/app/services/profiles/profile_service.rb
  engines/profiles/spec/services/profiles/profile_service_spec.rb
  spec/controllers/admin/clients_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3108 - Login Specs (#1644)
  engines/api_auth/spec/lib/api_auth/resource_helper_spec.rb
  engines/api_auth/spec/requests/api_auth/tokens_controller_spec.rb
Owners: @itsmycargo/backend

IMC-3197 - fix already enqueued quote jobs (#1650)
  app/jobs/quoted_shipments_job.rb
  app/services/quoted_shipments_service.rb
  spec/jobs/quoted_shipments_job_spec.rb
  spec/services/quoted_shipments_service_spec.rb
Owners: @itsmycargo/backend

IMC-3173 - Fix nil Quotation for quote mailer (#1635)
  app/classes/shipping_tools.rb
  app/mailers/quote_mailer.rb
  db/schema.rb
  engines/integrations/app/models/integrations/chain_io/tender.rb
  engines/legacy/app/models/legacy/shipment.rb
  engines/migrator/lib/migrator/migrations/quotations/tenders.rb
  engines/migrator/spec/lib/migrator/runner_spec.rb
  engines/offer_calculator/app/services/offer_calculator/quoted_shipments_service.rb
  engines/offer_calculator/spec/services/offer_calculator/quoted_shipments_service_spec.rb
  engines/pdf/app/services/pdf/service.rb
  engines/pdf/spec/services/pdf/service_spec.rb
  engines/quotations/app/models/quotations/tender.rb
  engines/quotations/db/migrate/20200821101543_add_imc_reference_to_tenders.rb
  spec/classes/shipping_tools_spec.rb
  spec/mailers/quote_mailer_spec.rb
  spec/mailers/shipment_mailer_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

chore: add sidekiq for skylight (#1649)
  Gemfile.lock
  config/application.rb
  config/skylight.yml
Owners: @itsmycargo/backend

IMC-3175: safely fail cloning (#1643)
  engines/offer_calculator/app/services/offer_calculator/quoted_shipments_base.rb
Owners: @itsmycargo/backend

IMC-3205: corrected finder equality (#1653)
  engines/offer_calculator/app/services/offer_calculator/service/finders/pricings.rb
  engines/offer_calculator/spec/services/offer_calculator/service/finders/pricings_spec.rb
  engines/pricings/app/models/pricings/pricing.rb
Owners: @itsmycargo/backend

IMC-3202: setting same value for charge breakdown as tender (#1654)
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/legacy_charge_breakdown.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/legacy_charge_breakdown_spec.rb
Owners: @itsmycargo/backend

IMC-3207: added stacking param to trucking loadmeterage (#1655)
  engines/offer_calculator/app/services/offer_calculator/service/measurements/base.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo/trucking_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/consolidated_spec.rb
  engines/pricings/app/services/pricings/manipulator_result.rb
  engines/pricings/spec/services/pricings/manipulator_result_spec.rb
Owners: @itsmycargo/backend

IMC-3136 - backfilling memberships (#1652)
  engines/admiralty_reports/spec/models/stat_spec.rb
  engines/admiralty_reports/spec/services/admiralty_reports/excel_generator_spec.rb
  engines/companies/app/models/companies/company.rb
  engines/companies/spec/factories/companies/companies.rb
  engines/migrator/lib/migrator/migrations/companies/companies.rb
Owners: @itsmycargo/backend

IMC-3055 - type validity (#1646)
  app/classes/excel_data_services/validators/type_validity/base.rb
  app/classes/excel_data_services/validators/type_validity/charge_categories.rb
  app/classes/excel_data_services/validators/type_validity/companies.rb
  app/classes/excel_data_services/validators/type_validity/employees.rb
  app/classes/excel_data_services/validators/type_validity/local_charges.rb
  app/classes/excel_data_services/validators/type_validity/margins.rb
  app/classes/excel_data_services/validators/type_validity/notes.rb
  app/classes/excel_data_services/validators/type_validity/pricing_dynamic_fee_cols_no_ranges.rb
  app/classes/excel_data_services/validators/type_validity/pricing_one_fee_col_and_ranges.rb
  app/classes/excel_data_services/validators/type_validity/saco_shipping.rb
  app/classes/excel_data_services/validators/type_validity/schedule_generator.rb
  app/classes/excel_data_services/validators/type_validity/schedules.rb
  app/classes/excel_data_services/validators/type_validity/type_validators/cargo_class_validator.rb
  app/classes/excel_data_services/validators/type_validity/type_validators/integer_validator.rb
  app/classes/excel_data_services/validators/type_validity/type_validators/numeric_validator.rb
  app/classes/excel_data_services/validators/type_validity/type_validators/optional_boolean_validator.rb
  app/classes/excel_data_services/validators/type_validity/type_validators/optional_integer_validator.rb
  app/classes/excel_data_services/validators/type_validity/type_validators/optional_internal_validator.rb
  app/classes/excel_data_services/validators/type_validity/type_validators/optional_locode_validator.rb
  app/classes/excel_data_services/validators/type_validity/type_validators/optional_numeric_validator.rb
  app/classes/excel_data_services/validators/validation_errors/type_validity.rb
  spec/classes/excel_data_services/validators/type_validity/max_dimensions_spec.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/cargo_class_validator_spec.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/integer_validator_spec.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/internal_validator_spec.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/load_type_validator_spec.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/numeric_validator_spec.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/optional_boolean_validator_spec.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/optional_integer_validator_spec.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/optional_internal_validator_spec.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/optional_locode_validator_spec.rb
  spec/classes/excel_data_services/validators/type_validity/type_validators/optional_numeric_validator_spec.rb
Owners: @itsmycargo/backend

IMC-3178 - Consistent rates when rendering post dated tenders (#1642)
  engines/api/spec/api/charges_spec.rb
  engines/api/spec/controllers/api/v1/charges_controller_spec.rb
  engines/api/spec/serializers/api/v1/quotation_tender_serializer_spec.rb
  engines/pdf/spec/services/pdf/handler_spec.rb
  engines/pdf/spec/services/pdf/service_spec.rb
  engines/result_formatter/app/services/result_formatter/exchange_rate_service.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/pdf_service_spec.rb
  spec/classes/shipping_tools_spec.rb
  spec/controllers/quotations_controller_spec.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
  spec/mailers/quote_mailer_spec.rb
  spec/mailers/shipment_mailer_spec.rb
Owners: @itsmycargo/backend

IMC-3216: bridge validations fix (#1657)
  engines/api/app/controllers/api/v1/validations_controller.rb
  engines/api/spec/controllers/api/v1/validations/port_to_port_spec.rb
  engines/wheelhouse/app/services/wheelhouse/validation_service.rb
  engines/wheelhouse/spec/services/wheelhouse/validations_service_spec.rb
Owners: @itsmycargo/backend

IMC-3236 - ALIGHT TEXT TO THE LEFT (#1658)
  app/assets/stylesheets/pdfs.scss.erb
Owners: @itsmycargo/backend

IMC-3203 - Create admin/shipper/agent after shop is created (#1651)
  Gemfile.lock
  config/settings.yml
  config/settings/development.yml
  config/settings/production.yml
  config/settings/review.yml
  config/settings/staging.yml
  config/settings/test.yml
  doc/engines/graph.dot
  engines/admiralty_tenants/admiralty_tenants.gemspec
  engines/admiralty_tenants/app/controllers/admiralty_tenants/organizations_controller.rb
  engines/admiralty_tenants/lib/admiralty_tenants/engine.rb
  engines/admiralty_tenants/spec/controllers/admiralty_tenants/organizations_controller_spec.rb
  engines/organization_manager/app/services/organization_manager/creator_service.rb
  engines/organization_manager/organization_manager.gemspec
  engines/organization_manager/spec/services/organization_manager/creator_service_spec.rb
Owners: @itsmycargo/backend

chore: update swagger json (#1666)
  doc/swagger/v1/swagger.json
Owners: @itsmycargo/backend

IMC-3186 - Backend for user check on trucking availabilities (#1656)
  doc/swagger/v1/swagger.json
  engines/api/app/controllers/api/v1/trucking_availabilities_controller.rb
  engines/api/app/controllers/api/v1/trucking_counterparts_controller.rb
  engines/api/app/services/api/routing/trucking/availability_service.rb
  engines/api/app/services/api/routing/trucking/counterpart_service.rb
  engines/api/app/services/api/routing/trucking/details_service.rb
  engines/api/spec/api/trucking_availabilities_spec.rb
  engines/api/spec/api/trucking_counterparts_spec.rb
  engines/api/spec/controllers/api/v1/trucking_availabilities_controller_spec.rb
  engines/api/spec/controllers/api/v1/trucking_counterparts_controller_spec.rb
  engines/api/spec/services/api/routing/trucking/availability_service_spec.rb
  engines/api/spec/services/api/routing/trucking/counterpart_service_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/finders/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/finders/truckings.rb
  engines/trucking/app/services/trucking/queries/base.rb
  engines/trucking/spec/services/trucking/queries/availability_spec.rb
  engines/wheelhouse/app/services/wheelhouse/route_finder_service.rb
  engines/wheelhouse/app/services/wheelhouse/validation_service.rb
  engines/wheelhouse/spec/services/wheelhouse/route_finder_service_spec.rb
Owners: @itsmycargo/backend
