Repository romikoops/polaris_clone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @itsmycargo/backend, @itsmycargo/data, @itsmycargo/sre

.github/CODEOWNERS:

# By default, backend team
*                 @itsmycargo/backend

# Data related changes
**/db/migrate/*   @itsmycargo/data
db/structure.sql  @itsmycargo/data

.github           @itsmycargo/sre
Dockerfile        @itsmycargo/sre

[POL-3047] Shipment requests should by sortable by origin and destination (#2454)
  doc/api/swagger.json
  engines/api/app/models/api/shipment_request.rb
  engines/api/spec/api/api/shipment_requests_spec.rb
  engines/api/spec/models/api/shipment_request_spec.rb
Owners: @itsmycargo/backend

[POL-3048] Shipment requests should be searchable (#2455)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/shipment_requests_controller.rb
  engines/api/app/models/api/shipment_request.rb
  engines/api/spec/api/api/shipment_requests_spec.rb
  engines/api/spec/models/api/shipment_request_spec.rb
Owners: @itsmycargo/backend

POL-3022: Trucking Validators PR (#2453)
  engines/excel_data_services/app/services/excel_data_services/v3/validators/base.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/carrier.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/carta_locode_data.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/charge_category.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/charge_fees.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/hub.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/itinerary.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/locations_location.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/mandatory_charge.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/query_method.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/query_type.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/rate_basis.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/sequential_dates.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/tenant_vehicle.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/trucking_location.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/trucking_sheet.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/type_availability.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_schedules_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/carrier_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/charge_fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/locations_location_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/query_method_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/query_type_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/trucking_location_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/trucking_sheet_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/type_availability_spec.rb
Owners: @itsmycargo/backend

POL-3056: Formatter classes (#2458)
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/hub_availability.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/row_fees_hash.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/trucking.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/trucking_location.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/type_availability.rb
  engines/excel_data_services/factories/section_data.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/hub_availability_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/trucking_location_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/trucking_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/type_availability_spec.rb
Owners: @itsmycargo/backend

[POL-3038] Enable more control when enabling v2 up-loaders (#2456)
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/excel_data_services/app/services/excel_data_services/loaders/uploader.rb
  engines/excel_data_services/app/services/excel_data_services/v2/upload.rb
  engines/excel_data_services/app/services/excel_data_services/v3/upload.rb
  engines/excel_data_services/spec/services/excel_data_services/loaders/uploader_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/upload_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/upload_spec.rb
  engines/organizations/data/default_scope.yaml
Owners: @itsmycargo/backend

POL-3057: overlaps handler catching too many records (#2460)
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/extends_before_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v2/overlaps/extends_past_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v3/overlaps/extends_before_existing.rb
  engines/excel_data_services/app/services/excel_data_services/v3/overlaps/extends_past_existing.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/overlaps/extends_before_existing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/overlaps/extends_past_existing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/overlaps/extends_before_existing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/overlaps/extends_past_existing_spec.rb
Owners: @itsmycargo/backend

[POL-3058] Enabling v2 uploader for specific sheet types fails the uploaders (#2461)
  engines/excel_data_services/app/services/excel_data_services/validators/header_checker.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/locations_location_spec.rb
Owners: @itsmycargo/backend

Adding links to admiralty so that the links can be changed (#2464)
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
Owners: @itsmycargo/backend

POL-2995: return 422 with error code when cargoClass is missing (#2457)
  Gemfile.lock
  doc/api/swagger.json
  engines/api/api.gemspec
  engines/api/app/contracts/api/query_params_contract.rb
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/lib/api/engine.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/contracts/api/query_params_contract_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
Owners: @itsmycargo/backend

Making commodity and quantity optional params (#2467)
  doc/api/swagger.json
  engines/api/app/contracts/api/query_params_contract.rb
  engines/api/spec/contracts/api/query_params_contract_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

[POL-2990] Adding transshipment to shipment request pdf (#2463)
  app/assets/stylesheets/pdfs.scss.erb
  engines/pdf/app/views/shipments/pdfs/shipment_request.pdf.erb
Owners: @itsmycargo/backend

POL-3064: removed stackable from fcl item doc (#2466)
  doc/api/swagger.json
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-3063: using internal sanitizer (#2469)
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/local_charges
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/pricings
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/saco_pricings
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/internal.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/local_charges
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/pricings
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/saco_pricings
  engines/excel_data_services/app/services/excel_data_services/v3/sanitizers/internal.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/section_saco_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/sanitizers/internal_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_saco_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/sanitizers/internal_spec.rb
  spec/fixtures/files/excel/example_saco_pricings.xlsx
Owners: @itsmycargo/backend

POL-3062: Multipath calculations (#2465)
  config/routes.rb
  db/structure.sql
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/app/controllers/api/v1/validations_controller.rb
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/journey/app/models/journey/error.rb
  engines/journey/app/models/journey/query_calculation.rb
  engines/journey/db/migrate/20220209070931_create_journey_query_calculations.rb
  engines/journey/db/migrate/20220209071249_add_query_calculation_to_error.rb
  engines/journey/factories/journey/query_calculations.rb
  engines/journey/spec/models/journey/query_calculation_spec.rb
  engines/journey/spec/shared/query.rb
  engines/offer_calculator/app/jobs/offer_calculator/async_calculation_job.rb
  engines/offer_calculator/app/services/offer_calculator/calculator.rb
  engines/offer_calculator/app/services/offer_calculator/request.rb
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/rate_overview.rb
  engines/offer_calculator/factories/request.rb
  engines/offer_calculator/factories/request_params.rb
  engines/offer_calculator/spec/jobs/offer_calculator/async_calculation_job_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/async_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/request_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/results_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/finders/truckings_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/hub_finder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/request_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/result_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter/fcl_spec.rb
  engines/trucking/app/services/trucking/queries/base.rb
  engines/wheelhouse/app/services/wheelhouse/quotation_service.rb
  spec/shared/complete_route_with_trucking.rb
  spec/shared/full_offer.rb
Owners: @itsmycargo/backend, @itsmycargo/data

[POL-3071] Adding origin and destination to supported sort (#2472)
  engines/api/app/models/api/shipment_request.rb
  engines/api/app/services/api/filter_param_validator.rb
  engines/api/spec/models/api/shipment_request_spec.rb
Owners: @itsmycargo/backend

POL-3035: LocationGroup Model (#2470)
  db/structure.sql
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/organizations/data/default_scope.yaml
  engines/pricings/app/models/pricings/location_group.rb
  engines/pricings/db/migrate/20220216103614_create_pricings_location_groups.rb
  engines/pricings/factories/pricings/location_groups.rb
  engines/pricings/spec/models/pricings/location_group_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

[POL-3054] Failed quotation does not set originId and destinationId (#2471)
  db/structure.sql
  engines/api/app/models/api/query.rb
  engines/api/app/serializers/api/v2/query_serializer.rb
  engines/api/spec/api/api/quotations_spec.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/controllers/api/v1/validations/door_to_door_spec.rb
  engines/api/spec/controllers/api/v1/validations/port_to_port_spec.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
  engines/journey/app/models/journey/query.rb
  engines/journey/db/migrate/20220203123435_add_geo_ids_to_query.rb
  engines/journey/factories/journey/queries.rb
  engines/offer_calculator/app/services/offer_calculator/service/query_generator.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/async_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/lcl_door_to_door_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/preview_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_service_spec.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
Owners: @itsmycargo/data, @itsmycargo/backend

POL-3030: Using LocationGroups in OCS (#2473)
  engines/offer_calculator/app/services/offer_calculator/service/hub_finder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/hub_finder_spec.rb
Owners: @itsmycargo/backend

POL-3090: removed Ledger engine and tables (#2475)
  Gemfile.lock
  config/routes.rb
  db/migrate/20220223104305_remove_ledger_tables.rb
  db/structure.sql
  doc/engines/graph.puml
  engines/helmsman/Gemfile.runtime
  engines/helmsman/app/services/helmsman/validator.rb
  engines/helmsman/helmsman.gemspec
  engines/helmsman/spec/services/helmsman/validator_spec.rb
  engines/ledger/Gemfile
  engines/ledger/Gemfile.runtime
  engines/ledger/app/models/ledger/application_record.rb
  engines/ledger/app/models/ledger/delta.rb
  engines/ledger/app/models/ledger/fee.rb
  engines/ledger/app/models/ledger/rate.rb
  engines/ledger/bin/rails
  engines/ledger/db/migrate/20190822113257_create_ledger_rates.rb
  engines/ledger/db/migrate/20190822113322_create_ledger_fees.rb
  engines/ledger/db/migrate/20190822120515_create_ledger_delta.rb
  engines/ledger/db/migrate/20190911080743_adding_indexes_to_models.rb
  engines/ledger/factories/ledger/delta.rb
  engines/ledger/factories/ledger/fees.rb
  engines/ledger/factories/ledger/rates.rb
  engines/ledger/ledger.gemspec
  engines/ledger/lib/ledger.rb
  engines/ledger/lib/ledger/engine.rb
  engines/ledger/spec/models/ledger/delta_spec.rb
  engines/ledger/spec/models/ledger/fee_spec.rb
  engines/ledger/spec/models/ledger/rate_spec.rb
Owners: @itsmycargo/backend, @itsmycargo/data

POL-3091: Password reset controller split (#2476)
  doc/api/swagger.json
  engines/api/app/controllers/api/api_controller.rb
  engines/api/app/controllers/api/v2/admin/passwords_controller.rb
  engines/api/app/controllers/api/v2/passwords_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/passwords_spec.rb
  engines/api/spec/controllers/api/api_controller_spec.rb
  engines/api/spec/controllers/api/v2/admin/passwords_controller_spec.rb
Owners: @itsmycargo/backend

POL-3095: UUIDTools fix (#2480)
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/base.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/itinerary.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/local_charge.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/pricing.rb
  engines/legacy/app/models/legacy/itinerary.rb
  engines/legacy/app/models/legacy/local_charge.rb
  engines/pricings/app/models/pricings/fee.rb
  engines/pricings/app/models/pricings/pricing.rb
  engines/trucking/app/models/trucking/location.rb
Owners: @itsmycargo/backend

POL-3095: renaming uuidtools (#2481)
  Gemfile
  Gemfile.lock
  engines/excel_data_services/Gemfile.runtime
  engines/excel_data_services/lib/excel_data_services/engine.rb
  engines/legacy/Gemfile.runtime
Owners: @itsmycargo/backend

[POL-2996] Direct Transhipment should be represented as NULL value (#2462)
  app/workers/backfill_transshipment_direct_with_itinerary_dedup_worker.rb
  app/workers/backfill_transshipment_direct_with_null_worker.rb
  db/data/20220208062759_backfill_transshipment_direct_with_null.rb
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/itinerary
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/pricings
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/base.rb
  engines/excel_data_services/app/services/excel_data_services/v2/sanitizers/transshipment.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/itinerary
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/pricings
  engines/excel_data_services/app/services/excel_data_services/v3/sanitizers/base.rb
  engines/excel_data_services/app/services/excel_data_services/v3/sanitizers/transshipment.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/sanitizers/transshipment_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/sanitizers/transshipment_spec.rb
  spec/workers/backfill_transshipment_direct_with_itinerary_dedup_worker_spec.rb
  spec/workers/backfill_transshipment_direct_with_null_worker_spec.rb
Owners: @itsmycargo/backend

POL-3094: Error in polling logic for bridge (#2478)
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
Owners: @itsmycargo/backend

POL-3088: LocalCharge Formatter fix (#2474)
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/local_charges
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/local_charge.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/local_charges
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/local_charge.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/local_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/local_charge_spec.rb
Owners: @itsmycargo/backend

POL-3098: uploader issues with bad data plus filtering issue (#2482)
  engines/excel_data_services/app/services/excel_data_services/v3/files/section.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/sheet_parser.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/dynamic_columns.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/local_charge.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/pricing.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/sheet_parser_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/local_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/pricing_spec.rb
  spec/fixtures/files/excel/empty.xlsx
Owners: @itsmycargo/backend

POL-3100: fixed local charges for good (#2485)
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/itinerary
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/pricings
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/local_charge.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/local_charge_spec.rb
Owners: @itsmycargo/backend

POL-3096: bug fixed (#2490)
  engines/notifications/app/jobs/notifications/request_for_quotation_job.rb
  engines/notifications/spec/jobs/notifications/request_for_quotation_job_spec.rb
Owners: @itsmycargo/backend

POL-3104: persistent issues with json manipulator (#2489)
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/json_fee_structure.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/local_charge.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/trucking.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/trucking_sheet.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/json_fee_structure_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/local_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/trucking_spec.rb
  engines/pricings/app/services/pricings/manipulator.rb
  engines/pricings/spec/services/pricings/manipulator/local_charges_spec.rb
Owners: @itsmycargo/backend

POL-3097: currency endpoint (#2487)
  doc/api/swagger.json
  engines/api/app/contracts/api/profile_update_contract.rb
  engines/api/app/controllers/api/v2/profiles_controller.rb
  engines/api/app/serializers/api/v2/profile_serializer.rb
  engines/api/spec/api/api/profiles_spec.rb
  engines/api/spec/contracts/api/profile_update_contract_spec.rb
  engines/api/spec/controllers/api/v2/profiles_controller_spec.rb
  engines/users/app/models/users/client_profile.rb
Owners: @itsmycargo/backend

POL-3074: Refactor of Section class (#2477)
  Gemfile
  Gemfile.lock
  engines/excel_data_services/app/services/excel_data_services/v3/files/action_executor.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/data_framer.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/pipeline_executor.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/section.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/hubs
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/local_charges
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/saco_pricings
  engines/excel_data_services/app/services/excel_data_services/v3/files/sheet_parser.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/sheet_validator.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/spreadsheet_data.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/column.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/dynamic_columns.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/matrix.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/options.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/sheet.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/action_executor_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/data_framer_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/pipeline_executor_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_clients_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_hubs_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_local_charges_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_schedules_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/sheet_type_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/sheet_validator_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/spreadsheet_data_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/tables/dynamic_columns_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/tables/sheet_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/upload_spec.rb
Owners: @itsmycargo/backend

POL-3105: newSirenUser flag (#2491)
  doc/api/swagger.json
  engines/api/app/controllers/api/api_controller.rb
  engines/api/app/controllers/api/v2/profiles_controller.rb
  engines/api/app/decorators/api/v2/client_decorator.rb
  engines/api/app/decorators/api/v2/profile_decorator.rb
  engines/api/app/models/api/client.rb
  engines/api/app/serializers/api/v2/profile_serializer.rb
  engines/api/spec/api/api/profiles_spec.rb
  engines/api/spec/controllers/api/v2/profiles_controller_spec.rb
  engines/api/spec/decorators/api/v2/client_decorator_spec.rb
  engines/api/spec/decorators/api/v2/profile_decorator_spec.rb
  engines/api/spec/serializers/api/v2/client_serializer_spec.rb
  spec/swagger_helper.rb
Owners: @itsmycargo/backend

POL-3111: adjusted Carta::Result to handle function argument (#2494)
  engines/carta/app/services/carta/result.rb
  engines/carta/factories/carta/result.rb
  engines/carta/spec/services/carta/result_spec.rb
Owners: @itsmycargo/backend

POL-3108: add fallback doorkeeper application for guest queries (#2493)
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
Owners: @itsmycargo/backend

POL-3060: no upcase on status (#2495)
  doc/api/swagger.json
  engines/api/app/decorators/api/v2/shipment_request_decorator.rb
  engines/api/spec/decorators/api/v2/shipment_request_decorator_spec.rb
Owners: @itsmycargo/backend

POL-3106: fix for mailer and why cargo items arent persisted properly (#2492)
  Gemfile.lock
  doc/api/swagger.json
  engines/api/spec/api/api/request_for_quotations_spec.rb
  engines/cargo/cargo.gemspec
  engines/journey/journey.gemspec
  engines/notifications/app/decorators/notifications/cargo_unit_decorator.rb
  engines/notifications/config/locales/de.yml
  engines/notifications/config/locales/en.yml
  engines/notifications/spec/decorators/notifications/cargo_unit_decorator_spec.rb
  engines/offer_calculator/app/services/offer_calculator/request.rb
  engines/offer_calculator/offer_calculator.gemspec
  engines/offer_calculator/spec/services/offer_calculator/request_spec.rb
  engines/pricings/pricings.gemspec
  engines/shipments/shipments.gemspec
  gems/measured-itsmycargo/measured-itsmycargo.gemspec
Owners: @itsmycargo/backend

POL-3007: remove aggregated attribute from response (#2501)
  .github/workflows/lint.yml
  Gemfile
  Gemfile.lock
  doc/api/swagger.json
  engines/api/app/serializers/api/v2/query_serializer.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
Owners: @itsmycargo/sre, @itsmycargo/backend

[POL-3061] Backfill all queries with missing geo ids (#2488)
  app/workers/backfill_geo_ids_on_query_worker.rb
  db/data/20220203123801_backfill_geo_ids_on_query.rb
  db/data_schema.rb
  spec/workers/backfill_geo_ids_on_query_worker_spec.rb
Owners: @itsmycargo/backend

POL-3115: Corrected carrier_code schema config for Pricing upload (#2502)
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/carrier
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/routing_carrier
  engines/excel_data_services/spec/services/excel_data_services/v3/files/spreadsheet_data_carrier_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/spreadsheet_data_routing_carrier_spec.rb
  spec/fixtures/files/excel/example_pricings_no_carrier.xlsx
Owners: @itsmycargo/backend

POL-3112: Fee min missing in pricings config (#2504)
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/pricings
  engines/excel_data_services/spec/services/excel_data_services/v3/files/spreadsheet_data_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/pricing_spec.rb
  spec/fixtures/files/excel/example_pricings_slim.xlsx
Owners: @itsmycargo/backend
