Repository romikoops/polaris_clone, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, translations

IMC-3567: incorrect load type set on dipper (#1856)
  app/controllers/shipments/booking_process_controller.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
Labels: none

IMC-3560: String Pdf fix (#1848)
  app/controllers/shipments/booking_process_controller.rb
  engines/notifications/app/mailers/notifications/client_mailer.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
Labels: none

IMC-3568: TransitTime duration cannot be 0 (#1857)
  db/data/20210205143307_remove_zero_duration_transit_times.rb
  engines/legacy/app/models/legacy/itinerary.rb
  engines/legacy/app/models/legacy/tenant_vehicle.rb
  engines/legacy/app/models/legacy/transit_time.rb
  engines/legacy/spec/models/legacy/transit_time_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/quote_route_builder.rb
Labels: none

IMC-3570: Siren query patch (#1858)
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/query_generator.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
Labels: none

IMC-3566: Doorkeeper Resource update (#1855)
  engines/api_auth/lib/api_auth/resource_helper.rb
  engines/api_auth/spec/lib/api_auth/resource_helper_spec.rb
  engines/api_auth/spec/requests/api_auth/tokens_controller_spec.rb
Labels: none

IMC-3563: RFQ mailer (#1851)
  app/workers/create_request_subscriptions_worker.rb
  db/data/20210205081421_create_request_subscriptions.rb
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/controllers/api/v2/requests_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/controllers/api/v2/requests_controller_spec.rb
  engines/journey/app/events/journey/request_created.rb
  engines/notifications/app/decorators/notifications/cargo_unit_decorator.rb
  engines/notifications/app/jobs/notifications/request_created_job.rb
  engines/notifications/app/mailers/notifications/request_mailer.rb
  engines/notifications/app/views/notifications/admin_mailer/offer_created.de.text.erb
  engines/notifications/app/views/notifications/admin_mailer/offer_created.en.text.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.de.html.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.de.text.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.en.html.erb
  engines/notifications/app/views/notifications/request_mailer/request_created.en.text.erb
  engines/notifications/config/locales/de.yml
  engines/notifications/config/locales/en.yml
  engines/notifications/lib/notifications/engine.rb
  engines/notifications/spec/mailers/notifications/request_spec.rb
  engines/notifications/spec/mailers/previews/notifications/request_preview.rb
  spec/workers/create_request_subscriptions_worker_spec.rb
Labels: translations

chore: ease timeouts
  Jenkinsfile
Labels: none

IMC-3512 - delete clients from users table (#1854)
  app/workers/remove_clients_from_users_worker.rb
Labels: none

IMC-3559: Misc fixes for admin shipments (#1846)
  app/controllers/admin/shipments_controller.rb
  engines/api/app/decorators/api/v1/result_decorator.rb
  engines/api/spec/decorators/api/v1/legacy_result_decorator_spec.rb
  engines/api/spec/decorators/api/v1/result_decorator_spec.rb
  spec/controllers/admin/shipments_controller_spec.rb
Labels: none

IMC-3562: fix for admin clients creator (#1850)
  app/controllers/admin/clients_controller.rb
  engines/api/app/services/api/client_creation_service.rb
  spec/controllers/admin/clients_controller_spec.rb
Labels: none

IMC-3577: fix for fcl in siren (#1861)
  engines/offer_calculator/app/services/offer_calculator/request.rb
  engines/offer_calculator/app/services/offer_calculator/service/cargo_creator.rb
  engines/offer_calculator/app/services/offer_calculator/service/route_filter.rb
  engines/offer_calculator/factories/request.rb
  engines/offer_calculator/spec/services/offer_calculator/service/cargo_creator_spec.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
  engines/wheelhouse/spec/services/wheelhouse/query_service_spec.rb
Labels: none

fix: return podSpec format
  Jenkinsfile
Labels: none

IMC-3596: removed incorrect method from inherited class (#1867)
  engines/api/app/decorators/api/v1/legacy_result_decorator.rb
  engines/api/spec/decorators/api/v1/legacy_result_decorator_spec.rb
Labels: none

IMC-3597: login fix pt 2 (#1868)
  engines/api/app/decorators/api/v1/result_decorator.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/decorators/api/v1/result_decorator_spec.rb
  engines/journey/factories/journey/queries.rb
  engines/journey/spec/shared/journey_pdf_setup.rb
  engines/notifications/app/mailers/notifications/application_mailer.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  spec/controllers/admin/shipments_controller_spec.rb
  spec/controllers/shipments_controller_spec.rb
Labels: none

IMC-3579 - backfill wrong locodes and hub codes (#1862)
  app/workers/backfill_wrong_locodes_and_hub_codes_worker.rb
  db/data/20210208144218_backfill_wrong_locodes_and_hub_codes.rb
  db/data_schema.rb
  spec/workers/backfill_wrong_locodes_and_hub_codes_worker_spec.rb
Labels: none

IMC-3589: correct custom charge category labels (#1864)
  engines/api/app/services/api/legacy_quote.rb
  engines/api/spec/decorators/api/v1/legacy_query_decorator_spec.rb
  engines/api/spec/decorators/api/v1/legacy_result_decorator_spec.rb
  engines/api/spec/decorators/api/v1/result_decorator_spec.rb
  engines/api/spec/services/api/legacy_quote_spec.rb
  spec/controllers/admin/shipments_controller_spec.rb
  spec/controllers/shipments_controller_spec.rb
Labels: none

IMC-3586: Republish missed events (#1866)
  app/workers/trigger_missed_offer_created_events_worker.rb
  db/data/20210210113418_trigger_missed_offer_created_events.rb
  db/data_schema.rb
  engines/notifications/app/jobs/notifications/offer_created/admin_notifier_job.rb
  engines/notifications/app/mailers/notifications/admin_mailer.rb
  engines/notifications/app/services/notifications/offer_subject_line.rb
  engines/notifications/spec/mailers/notifications/admin_spec.rb
  engines/wheelhouse/app/services/wheelhouse/offer_builder.rb
  spec/workers/trigger_missed_offer_created_events_worker_spec.rb
Labels: none

chore: switch to GitHub Actions (#1869)
  .github/workflows/ci.yml
  .github/workflows/danger.yaml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  .github/workflows/sentry.yml
  .github/workflows/stale.yaml
  .github/workflows/test.yml
  Jenkinsfile
  gems/measured-itsmycargo/spec/spec_helper.rb
  gems/measured-itsmycargo/spec/support/simplecov.rb
  gems/money_cache/spec/spec_helper.rb
  gems/money_cache/spec/support/simplecov.rb
  spec/spec_helper.rb
Labels: none

IMC-3511 - Fix scope saving (#1852)
  engines/admiralty/app/admin/admiralty/organizations/organizations_admin.rb
  engines/organization_manager/spec/services/organization_manager/scope_service_spec.rb
  engines/organizations/app/models/concerns/content_setter.rb
  engines/organizations/data/default_scope.yaml
  engines/organizations/spec/models/organizations/scope_spec.rb
Labels: none

IMC-3569: Stablize trucking tests (#1870)
  engines/api/spec/services/api/routing/trucking/countries_service_spec.rb
  engines/legacy/app/models/legacy/country.rb
  engines/legacy/app/models/legacy/hub.rb
  engines/legacy/factories/legacy/addresses.rb
  engines/legacy/factories/legacy/nexuses.rb
  engines/legacy/spec/models/legacy/address_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  engines/trucking/factories/trucking/hub_availabilities.rb
  engines/trucking/factories/trucking/locations.rb
  engines/trucking/factories/trucking/type_availabilities.rb
  engines/trucking/spec/services/trucking/queries/availability_spec.rb
  engines/trucking/spec/services/trucking/queries/find_by_hub_ids_spec.rb
  spec/controllers/trucking_counterparts_controller_spec.rb
  spec/shared/complete_route_with_trucking.rb
Labels: none

IMC-3587: Fix for shipments search (#1865)
  app/controllers/shipments_controller.rb
  engines/api/app/models/api/query.rb
  engines/journey/app/models/journey/query.rb
  spec/controllers/shipments_controller_spec.rb
Labels: none

feat: shipit deployments (#1872)
  .github/.dockerfilelintrc
  .github/workflows/ci.yml
  .github/workflows/linter.yml
  .github/workflows/test.yml
  Dockerfile
  config/deploy/production/deployment-web.yaml.erb
  config/deploy/production/deployment-worker-critical.yaml.erb
  config/deploy/production/deployment-worker.yaml.erb
  config/deploy/production/ingress.yaml
  config/deploy/production/job-migrate.yaml.erb
  config/deploy/production/pdb-web.yaml
  config/deploy/production/pdb-worker-critical.yaml
  config/deploy/production/pdb-worker.yaml
  config/deploy/production/service.yaml
  shipit.yml
Labels: none

IMC-3578: uploads controller first pass (#1863)
  app/controllers/admin/admin_base_controller.rb
  config/credentials.yml.enc
  config/settings.yml
  config/settings/development.yml
  config/settings/production.yml
  config/settings/test.yml
  engines/api/app/controllers/api/v2/uploads_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/controllers/api/v2/uploads_controller_spec.rb
  engines/quotations/spec/models/quotations/quotation_spec.rb
Labels: none

IMC-3599: Fix Lefthook template checker (#1871)
  .lefthook/commit-msg/template-checker
Labels: none

IMC-3637: changing expectation (#1876)
  engines/excel_data_services/spec/services/inserters/pricing_spec.rb
Labels: none

IMC-3614: fixing show method (#1874)
  app/controllers/shipments_controller.rb
  spec/controllers/shipments_controller_spec.rb
Labels: none

IMC-3636: Fee editing in Bridge (#1878)
  engines/api/app/controllers/api/v1/tenders_controller.rb
  engines/api/app/services/api/result_updater.rb
  engines/api/spec/controllers/api/v1/tenders_controller_spec.rb
  engines/api/spec/services/api/result_updater_spec.rb
  engines/quotations/app/services/quotations/tender_updater.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
Labels: none

chore: optimise GitHub Actions Runs (#1882)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/linter.yml
  .github/workflows/main.yml
  .github/workflows/sentry.yml
  .github/workflows/test.yml
  .lefthook/prepare-commit-msg/jira-ticket-info
  shipit.yml
Labels: none

chore: fix danger to altering only numbers in pr title (#1879)
  danger/jira/Dangerfile
Labels: none

IMC-3640: validating cargo class (#1880)
  engines/journey/app/models/journey/cargo_unit.rb
  engines/journey/spec/models/journey/cargo_unit_spec.rb
Labels: none

IMC-3643: pdf attachments (#1884)
  engines/journey/factories/journey/offers.rb
  engines/notifications/app/mailers/notifications/admin_mailer.rb
  engines/notifications/spec/mailers/notifications/admin_spec.rb
Labels: none

IMC-3638: CargoUnits endpoints (#1877)
  .github/workflows/linter.yml
  engines/api/app/controllers/api/v2/cargo_units_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/cargo_units_spec.rb
  engines/api/spec/controllers/api/v2/cargo_units_controller_spec.rb
Labels: none

IMC-3650: fix and specs for SubjectLine (#1886)
  engines/notifications/app/services/notifications/offer_subject_line.rb
  engines/notifications/spec/services/notifications/offer_subject_line_spec.rb
Labels: none

IMC-3645: Correcting Offer models (#1885)
  .github/workflows/linter.yml
  app/workers/backfill_offer_line_item_sets_worker.rb
  config/routes.rb
  db/data/20210216122512_backfill_offer_line_item_sets.rb
  db/data_schema.rb
  db/structure.sql
  engines/api/spec/controllers/api/v2/offers_controller_spec.rb
  engines/journey/app/models/journey/line_item_set.rb
  engines/journey/app/models/journey/offer.rb
  engines/journey/app/models/journey/offer_line_item_set.rb
  engines/journey/app/models/journey/result.rb
  engines/journey/db/migrate/20210216115737_create_journey_offer_line_item_sets.rb
  engines/journey/factories/journey/offer_line_item_sets.rb
  engines/journey/factories/journey/offers.rb
  engines/journey/spec/models/journey/offer_line_item_set_spec.rb
  engines/notifications/spec/services/notifications/offer_subject_line_spec.rb
  engines/pdf/spec/services/pdf/quotation/admin_spec.rb
  engines/pdf/spec/services/pdf/quotation/client_spec.rb
  engines/wheelhouse/app/services/wheelhouse/offer_builder.rb
  engines/wheelhouse/spec/services/wheelhouse/offer_builder_spec.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
  spec/workers/backfill_offer_line_item_sets_worker_spec.rb
Labels: migrations

IMC-3657: GHA settings for linter (#1889)
  .github/workflows/linter.yml
Labels: none

IMC-3657 IMC-3657: Fixed ticket number for GHA rubocop fix (#1892)
  .rubocop.yml
Labels: none

IMC-3564 - remove bad quotations (#1888)
  app/workers/remove_quotations_without_nexuses_worker.rb
  db/data/20210217092609_remove_quotations_without_nexuses.rb
  db/data_schema.rb
  engines/cargo/app/models/cargo/cargo.rb
  engines/quotations/app/models/quotations/quotation.rb
Labels: none

IMC-3590: Cloning Fivestar users (#1873)
  Gemfile.lock
  app/workers/clone_fivestar_clients_worker.rb
  db/data/20210210154920_clone_fivestar_clients.rb
  doc/engines/graph.puml
  engines/organization_manager/Gemfile.runtime
  engines/organization_manager/app/services/organization_manager/client_synchronizer_service.rb
  engines/organization_manager/organization_manager.gemspec
  engines/organization_manager/spec/services/organization_manager/client_synchronizer_service_spec.rb
  engines/users/app/models/users/client.rb
Labels: none

IMC-3653 - Backfill bad addresses (#1887)
  db/data/20210216114121_backfill_geocoded_addresses.rb
Labels: none

IMC-3660: Params fix for trucking upload (#1893)
  app/controllers/admin/admin_base_controller.rb
  app/controllers/admin/trucking_controller.rb
  app/controllers/concerns/response.rb
  spec/controllers/admin/trucking_controller_spec.rb
Labels: none

.github/labeler.yml:

migrations:
  - '**/db/migrate/*'
  - 'db/schema.rb'

translations:
  - '**/config/locales/*'
  - 'config/locales/*'
