Repository romikoops/polaris_clone, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, translations

.github/labeler.yml:

migrations:
  - '**/db/migrate/*'
  - 'db/structure.sql'

translations:
  - '**/config/locales/*'
  - 'config/locales/*'

[POL-2686] Moving User::ClientProfile null object to serialiser (#2251)
  app/controllers/users_controller.rb
  engines/api/app/decorators/api/v1/client_decorator.rb
  engines/api/app/decorators/api/v1/query_decorator.rb
  engines/api/app/decorators/api/v1/result_decorator.rb
  engines/api/app/decorators/api/v2/query_decorator.rb
  engines/api/app/models/api/client.rb
  engines/api/app/models/api/query.rb
  engines/api/factories/api/query.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/models/api/query_spec.rb
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/journey/app/models/journey/query.rb
  engines/offer_calculator/app/services/offer_calculator/request.rb
  engines/result_formatter/app/decorators/result_formatter/client_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/query_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/client_decorator_spec.rb
  engines/users/app/models/users/client.rb
Labels: none

[POL-2719] User Services engine to manage the lifecycle of users_clients (#2231)
  engines/api/Gemfile.runtime
  engines/api/api.gemspec
  engines/api/app/controllers/api/v1/clients_controller.rb
  engines/api/app/services/api/user_restoration_service.rb
  engines/api/spec/controllers/api/v1/clients_controller_spec.rb
  engines/api/spec/services/api/user_restoration_service_spec.rb
  engines/user_services/Gemfile
  engines/user_services/Gemfile.runtime
  engines/user_services/app/services/user_services/client.rb
  engines/user_services/bin/rails
  engines/user_services/factories/user_services/client.rb
  engines/user_services/lib/user_services.rb
  engines/user_services/lib/user_services/engine.rb
  engines/user_services/spec/internal/config/database.yml
  engines/user_services/spec/user_services/client_spec.rb
  engines/user_services/user_services.gemspec
  engines/users/app/models/users/client.rb
  engines/users/app/models/users/client_profile.rb
Labels: none

[POL-2817] Ignore pricing which are soft deleted (#2255)
  engines/offer_calculator/app/services/offer_calculator/queries/full_attributes_from_itinerary_ids.rb
  engines/offer_calculator/spec/services/offer_calculator/queries/full_attributes_from_itinerary_ids_spec.rb
  rubocop_legacy.yml
Labels: none

CHORE : Updating Gemfile.lock after adding user services engine (#2256)
  Gemfile.lock
  engines/offer_calculator/spec/services/offer_calculator/queries/full_attributes_from_itinerary_ids_spec.rb
Labels: none

[POL-2775] Write query id result in addition to result_set_id (#2257)
  doc/engines/index.rst
  doc/engines/journey/index.rst
  engines/api/app/serializers/api/v1/detailed_result_serializer.rb
  engines/api/app/serializers/api/v2/result_serializer.rb
  engines/api/spec/serializers/api/v2/result_serializer_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/result_builder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/result_builder_spec.rb
Labels: none

SRE-34 Better Infra (#2258)
  .github/workflows/lint.yml
  .github/workflows/production.yml
  .github/workflows/stale.yaml
  .github/workflows/tests.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  chart/Chart.yaml
  chart/templates/_helpers.tpl
  chart/templates/jobs/migrate-job.yaml
  chart/templates/jobs/migrate-serviceaccount.yaml
  chart/templates/secretproviderclass.yaml
  chart/templates/securitygrouppolicy.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/webserver/webserver-hpa.yaml
  chart/templates/webserver/webserver-ingress.yaml
  chart/templates/webserver/webserver-service.yaml
  chart/templates/webserver/webserver-serviceaccount.yaml
  chart/templates/worker/critical-deployment.yaml
  chart/templates/worker/worker-deployment.yaml
  chart/templates/worker/worker-hpa.yaml
  chart/templates/worker/worker-serviceaccount.yaml
  chart/values.yaml
  config/deploy/production/deployment-redoc.yaml.erb
  config/deploy/production/deployment-web.yaml.erb
  config/deploy/production/deployment-worker-critical.yaml.erb
  config/deploy/production/deployment-worker.yaml.erb
  config/deploy/production/ingress.yaml
  config/deploy/production/job-migrate.yaml.erb
  config/deploy/production/pdb-web.yaml
  config/deploy/production/pdb-worker-critical.yaml
  config/deploy/production/pdb-worker.yaml
  config/deploy/production/service-redoc.yaml
  config/deploy/production/service-web.yaml
  config/initializers/prometheus.rb
  config/initializers/sidekiq.rb
  config/puma.rb
  shipit.yml
Labels: none

fix: extra branch filter
  .github/workflows/production.yml
Labels: none

fix: correct dimension for sidekiq
  config/initializers/sidekiq.rb
Labels: none

POL-2828: Fix for mailer when error occurs (#2259)
  doc/engines/graph.puml
  engines/excel_data_services/app/services/excel_data_services/inserters/pricing.rb
Labels: none

[POL-2825] Introduce query to journey errors model (#2261)
  db/structure.sql
  doc/engines/journey/index.rst
  engines/api/app/serializers/api/v2/error_serializer.rb
  engines/journey/app/models/journey/error.rb
  engines/journey/db/migrate/20210906173157_add_query_to_error.rb
  engines/journey/factories/journey/errors.rb
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/ranges/fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/route_filter.rb
Labels: migrations

POL-2835: temporarily disable Airflow DAGRun in production, until new solution is done (#2263)
  engines/api/app/services/api/upload_pipelines/okargo.rb
Labels: none

POL-2833: reverted git issues (#2262)
  engines/trucking/app/services/trucking/queries/base.rb
Labels: none

POL-2833_v2: missed code from cherry pick (#2268)
  engines/trucking/app/services/trucking/queries/base.rb
Labels: none

POL-2799: clear Memberships before creating or restoring (#2246)
  app/controllers/admin/clients_controller.rb
  app/controllers/admin/companies_controller.rb
  engines/user_services/app/services/user_services/company_membership.rb
  engines/user_services/spec/user_services/company_membership_spec.rb
  spec/controllers/admin/companies_controller_spec.rb
Labels: none

[POL-2810] Creating backfill for result set query id to errors query id (#2266)
  app/workers/backfill_query_id_to_errors_worker.rb
  db/data/20210906184902_backfill_query_id_to_errors.rb
  spec/workers/backfill_query_id_to_errors_worker_spec.rb
Labels: none

[POL-2772] Backfill query_id to result from result_set (#2267)
  app/workers/backfill_query_id_to_result_worker.rb
  db/data/20210907174431_backfill_query_id_to_result.rb
  spec/workers/backfill_query_id_to_result_worker_spec.rb
Labels: none

POL-2789 - Bring back code coverage checks - Round two (#2269)
  .github/workflows/tests.yml
  .reviewdog.yml
  lib/diff_cover_to_reviewdog_format.rb
Labels: none

POL-2834: Suggested Local Charges (#2265)
  engines/offer_calculator/app/services/offer_calculator/service/offer_sorter.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter_spec.rb
  rubocop_legacy.yml
  spec/shared/complete_route_with_trucking.rb
Labels: none

[POL-2840] Adding currency and status to query (#2271)
  db/structure.sql
  engines/api/app/models/api/query.rb
  engines/journey/app/models/journey/query.rb
  engines/journey/db/migrate/20210909101042_add_currency_and_status_to_query.rb
  engines/journey/factories/journey/queries.rb
  engines/journey/spec/models/journey/query_spec.rb
  engines/offer_calculator/app/services/offer_calculator/results.rb
  engines/offer_calculator/app/services/offer_calculator/service/query_generator.rb
Labels: migrations

Update tests.yml (#2274)
  .github/workflows/tests.yml
Labels: none

POL-2844: removed hack from null object pattern to allow nil user pdf downloads (#2275)
  engines/pdf/app/views/pdf/partials/quotation/_client.html.erb
  engines/pdf/spec/services/pdf/quotation/client_spec.rb
Labels: none

POL-2798: Activate V2 uploaders (#2272)
  engines/excel_data_services/app/jobs/excel_data_services/uploader_job.rb
  engines/excel_data_services/app/services/excel_data_services/loaders/legacy_uploader.rb
  engines/excel_data_services/app/services/excel_data_services/loaders/processor.rb
  engines/excel_data_services/app/services/excel_data_services/loaders/uploader.rb
  engines/excel_data_services/app/services/excel_data_services/v2/import.rb
  engines/excel_data_services/app/services/excel_data_services/v2/state.rb
  engines/excel_data_services/app/services/excel_data_services/v2/stats.rb
  engines/excel_data_services/app/services/excel_data_services/v2/upload.rb
  engines/excel_data_services/app/services/excel_data_services/validators/header_checker.rb
  engines/excel_data_services/factories/v2/stats.rb
  engines/excel_data_services/spec/services/excel_data_services/loaders/legacy_uploader_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/loaders/uploader_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/upload_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/header_checker_spec.rb
  engines/journey/app/models/journey/error.rb
  engines/organizations/data/default_scope.yaml
Labels: none

We want Rubocop to stop spamming us with PR comments. (#2280)
  .github/workflows/lint.yml
Labels: none

POL-2841: Fee minimum patch for trucking fees (#2273)
  db/data_schema.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee_builder.rb
  engines/offer_calculator/factories/component_builder_fees.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/fee_builder_spec.rb
  rubocop_legacy.yml
Labels: none

POL-2821 - Two endpoints for the Shipment request (GET, POST) (#2276)
  config/routes.rb
  doc/api/swagger.json
  doc/engines/api/index.rst
  doc/engines/index.rst
  engines/api/app/controllers/api/v2/shipment_requests_controller.rb
  engines/api/app/serializers/api/v2/shipment_request_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/shipment_requests_spec.rb
  engines/api/spec/controllers/api/v2/shipment_requests_controller_spec.rb
  spec/swagger_helper.rb
Labels: none

POL-2851: fixed trucking upload through new upload path (#2282)
  engines/excel_data_services/app/services/excel_data_services/loaders/legacy_uploader.rb
  engines/excel_data_services/spec/services/excel_data_services/loaders/legacy_uploader_spec.rb
Labels: none

chore: added missing docker build step
  .github/workflows/review.yml
Labels: none

POL-2842: Admin itineraries endpoint upgrade (#2278)
  app/controllers/admin/dashboard_controller.rb
  app/controllers/admin/hubs_controller.rb
  app/controllers/admin/itineraries_controller.rb
  engines/api/app/decorators/api/v1/itinerary_decorator.rb
  engines/api/spec/decorators/api/v1/itinerary_decorator_spec.rb
  engines/legacy/app/models/legacy/itinerary.rb
  engines/result_formatter/app/decorators/result_formatter/hub_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/hub_decorator_spec.rb
  rubocop_legacy.yml
  spec/controllers/admin/itineraries_controller_spec.rb
Labels: none

POL-2803: fix for password reset (#2281)
  app/controllers/password_resets_controller.rb
  engines/notifications/app/mailers/notifications/application_mailer.rb
  engines/notifications/app/mailers/notifications/client_mailer.rb
  engines/notifications/app/mailers/notifications/user_mailer.rb
  engines/notifications/app/views/notifications/client_mailer/activation_needed_email.de.html.erb
  engines/notifications/app/views/notifications/client_mailer/activation_needed_email.de.text.erb
  engines/notifications/app/views/notifications/client_mailer/activation_needed_email.en.html.erb
  engines/notifications/app/views/notifications/client_mailer/activation_needed_email.en.text.erb
  engines/notifications/app/views/notifications/client_mailer/reset_password_email.de.html.erb
  engines/notifications/app/views/notifications/client_mailer/reset_password_email.de.text.erb
  engines/notifications/app/views/notifications/client_mailer/reset_password_email.en.html.erb
  engines/notifications/app/views/notifications/client_mailer/reset_password_email.en.text.erb
  engines/notifications/app/views/notifications/partials/_activation_needed_email.de.html.erb
  engines/notifications/app/views/notifications/partials/_activation_needed_email.de.text.erb
  engines/notifications/app/views/notifications/partials/_activation_needed_email.en.html.erb
  engines/notifications/app/views/notifications/partials/_activation_needed_email.en.text.erb
  engines/notifications/app/views/notifications/partials/_reset_password_email.de.html.erb
  engines/notifications/app/views/notifications/partials/_reset_password_email.de.text.erb
  engines/notifications/app/views/notifications/partials/_reset_password_email.en.html.erb
  engines/notifications/app/views/notifications/partials/_reset_password_email.en.text.erb
  engines/notifications/config/locales/en.yml
  engines/notifications/spec/mailers/notifications/client_spec.rb
  engines/notifications/spec/mailers/previews/notifications/client_preview.rb
  engines/notifications/spec/mailers/previews/notifications/user_preview.rb
  spec/requests/password_resets_request_spec.rb
Labels: translations

Chore: Exclude Admiralty from code coverage (#2290)
  spec/spec_helper.rb
Labels: none

[POL-2847] Add ability to edit query to controllers (#2286)
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/decorators/api/v1/legacy_query_decorator.rb
  engines/api/app/serializers/api/v1/query_serializer.rb
  engines/api/app/serializers/api/v2/query_serializer.rb
  engines/api/spec/api/api/quotations_spec.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/query_generator.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
  engines/wheelhouse/app/services/wheelhouse/quotation_service.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_service_spec.rb
  rubocop_legacy.yml
  spec/controllers/shipments/booking_process_controller_spec.rb
Labels: none

POL-2857: Fix for note uploader (#2291)
  engines/excel_data_services/app/services/excel_data_services/inserters/notes.rb
  engines/excel_data_services/app/services/excel_data_services/restructurers/notes.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/notes_spec.rb
Labels: none

POL-2830 - Export to email functionality fix (#2293)
  engines/notifications/app/mailers/notifications/application_mailer.rb
  engines/notifications/app/mailers/notifications/client_mailer.rb
  engines/notifications/spec/mailers/notifications/client_spec.rb
Labels: none

POL-2850: fetch load type from proper place (#2292)
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_validation_service.rb
  engines/offer_calculator/spec/services/offer_calculator/service/validations/container_validation_service_spec.rb
  rubocop_legacy.yml
Labels: none

[POL-2785] Rename result_set_id from results (#2294)
  db/structure.sql
  engines/journey/app/models/journey/result.rb
  engines/journey/db/migrate/20210920071806_rename_result_set_id_to_time_stamp_in_results.rb
Labels: migrations

[POL-2856] Fixing admiralty clients page issue (#2297)
  engines/admiralty/app/admin/admiralty/clients_admin.rb
Labels: none

POL-2765 shipment requests migration (#2299)
  config/routes.rb
  db/structure.sql
  engines/journey/app/models/journey/error.rb
  engines/journey/app/models/journey/shipment_request.rb
  engines/journey/db/migrate/20210920145722_add_shipment_request_attributes.rb
Labels: migrations

CHORE: change admiralty spec filter (#2298)
  spec/spec_helper.rb
Labels: none

POL-2826: Finer control for Trucking Fees (#2284)
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/base.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/trucking/fee_metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/trucking/fees.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/augmenters/trucking/zone_row.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/combinators/truckings/fees.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/coordinators/trucking.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/data_providers/trucking/fee_metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/data_providers/trucking/fees.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/extractions/trucking/fee_metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/processors/trucking/fee_metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/processors/trucking/zone_row.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/restructurers/truckings/fees.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/sanitizers/trucking/fee_metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/sanitizers/trucking/fees.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/sanitizers/trucking/metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/validators/trucking/fee_metadata.rb
  engines/excel_data_services/app/services/excel_data_services/data_frames/validators/trucking/fees.rb
  engines/excel_data_services/app/services/excel_data_services/extractors/tenant_vehicle.rb
  engines/excel_data_services/app/services/excel_data_services/schemas/data/trucking_fees.yml
  engines/excel_data_services/factories/data_frames/frames/fee_metadata_frame.rb
  engines/excel_data_services/factories/data_frames/frames/trucking_fees.rb
  engines/excel_data_services/factories/data_frames/frames/trucking_zones.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/combinators/truckings/fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/coordinators/trucking_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/data_providers/trucking/fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/data_providers/trucking/zones_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/restructurers/truckings/fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/runners/blocks_trucking_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/extractors/tenant_vehicle_spec.rb
  guides/data/trucking.rst
  spec/fixtures/files/excel/example_trucking.xlsx
  spec/shared/fee_metadata_sheet.rb
  spec/shared/fees_sheet.rb
  spec/shared/trucking_sheet.rb
Labels: none

POL-2859 - API: Shipment Request Endpoint - Part 1 (#2300)
  db/structure.sql
  engines/journey/app/models/journey/contact.rb
  engines/journey/db/migrate/20210922115034_remove_constraints_on_journey_contact_attributes.rb
Labels: migrations
