Repository romikoops/polaris_clone, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, translations

POL-3087: Refresh Query (#2500)
  .rubocop.yml
  doc/api/swagger.json
  engines/api/app/contracts/api/query_params_contract.rb
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/contracts/api/query_params_contract_spec.rb
  engines/api/spec/controllers/api/v2/companies_controller_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
  engines/journey/app/models/journey/query.rb
  engines/offer_calculator/app/services/offer_calculator/errors.rb
  engines/offer_calculator/app/services/offer_calculator/recalculate.rb
  engines/offer_calculator/app/services/offer_calculator/request.rb
  engines/offer_calculator/app/services/offer_calculator/service/finders/truckings.rb
  engines/offer_calculator/app/services/offer_calculator/service/hub_finder.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/query_generator.rb
  engines/offer_calculator/app/services/offer_calculator/service/schedule_finder.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/fcl_door_to_door_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/recalculate_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/request_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/results_spec.rb
  spec/workers/backfill_geo_ids_on_query_worker_spec.rb
Labels: none

POL-3116: Double CargoUnits with multipath Siren queries (#2506)
  engines/api/app/contracts/api/query_params_contract.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/legacy/factories/legacy/addresses.rb
  engines/offer_calculator/app/services/offer_calculator/service/query_generator.rb
  engines/offer_calculator/spec/services/offer_calculator/service/query_generator_spec.rb
  spec/shared/complete_route_with_trucking.rb
Labels: none

POL-3113: Trucking issues resolved for v2 (#2507)
  engines/excel_data_services/app/services/excel_data_services/v3/files/coordinates/parser.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/hub_availability
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/nexus
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/trucking_locations
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/truckings
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/type_availability
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/matrix.rb
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/trucking.rb
  engines/excel_data_services/app/services/excel_data_services/v3/sanitizers/distance.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/locations_location.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/coordinates/parser_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/tables/matrix_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/trucking_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/sanitizers/distance_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/upload_truckings_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/results_spec.rb
  spec/fixtures/files/excel/example_alphanumeric_trucking.xlsx
  spec/fixtures/files/excel/example_distance_trucking.xlsx
Labels: none

POL-3107: Admiralty Users::Client creation/editing (#2510)
  engines/admiralty/app/admin/admiralty/clients_admin.rb
Labels: none

POL-3120: Return pre/on carriage booleans for Result response (#2508)
  doc/api/swagger.json
  engines/api/app/serializers/api/v2/result_serializer.rb
  engines/api/spec/serializers/api/v2/result_serializer_spec.rb
  engines/journey/factories/journey/route_points.rb
  engines/journey/factories/journey/route_sections.rb
  spec/swagger_helper.rb
Labels: none

POL-3130: percentage bug fix (#2513)
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee_component_builder.rb
  engines/offer_calculator/factories/component_builder_fees.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/fee_component_builder_spec.rb
Labels: none

POL-3089: The Purge: Trucking edition (#2509)
  app/workers/purge_trucking_table_worker.rb
  db/data/20220314161627_purge_trucking_table.rb
  db/data_schema.rb
  spec/workers/purge_trucking_table_worker_spec.rb
Labels: none

POL-3125: Parser refactor (#2512)
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/base.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/columns.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/connected_actions.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/framer.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/operations.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/ordered_connected_actions.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/requirements.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/schema.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/validators.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/columns_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/connected_actions_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/framer_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/operations_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/ordered_connected_actions_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/requirements_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/schema_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/validators_spec.rb
Labels: none

POL-3129: Seeding Pricings::LocationGroup for all Organizations (#2514)
  app/workers/generate_location_groups_worker.rb
  db/data/20220317105121_generate_location_groups.rb
  db/data_schema.rb
  spec/workers/generate_location_groups_worker_spec.rb
Labels: none

POL-3121: add currency to V2 Query response (#2516)
  doc/api/swagger.json
  engines/api/app/serializers/api/v2/query_serializer.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
Labels: none

POL-3118: Return LineItem in custom currency if provided (#2518)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/charges_controller.rb
  engines/api/app/decorators/api/v2/line_item_decorator.rb
  engines/api/app/serializers/api/v2/charge_serializer.rb
  engines/api/spec/api/api/charges_spec.rb
  engines/api/spec/controllers/api/v2/charges_controller_spec.rb
  engines/api/spec/decorators/api/v2/line_item_decorator_spec.rb
  engines/api/spec/serializers/api/v2/charge_serializer_spec.rb
  spec/swagger_helper.rb
Labels: none

POL-3131: Only return stop count if transshipment is present (#2519)
  engines/api/app/decorators/api/v2/result_decorator.rb
  engines/api/spec/decorators/api/v2/result_decorator_spec.rb
Labels: none

POL-3127: Adding missing error codes to Locales (#2520)
  config/locales/en.yml
  spec/controllers/shipments/booking_process_controller_spec.rb
Labels: translations

POL-3119: added space where needed (#2521)
  engines/notifications/app/views/notifications/admin_mailer/user_created.de.html.erb
  engines/notifications/app/views/notifications/admin_mailer/user_created.en.html.erb
Labels: none

POL-3134: Use Client currency when recalculating a Query (#2522)
  engines/offer_calculator/app/services/offer_calculator/recalculate.rb
  engines/offer_calculator/spec/services/offer_calculator/recalculate_spec.rb
Labels: none

POL-3126: Completion of Section refactor (#2515)
  engines/excel_data_services/app/services/excel_data_services/v3/files/connected_actions.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/data_framer.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/base.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/columns.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/ordered_connected_actions.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/pipeline_executor.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/prerequisite_extractor.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/section.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_parser.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/sheet_parser.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/sheet_type.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/sheet_validator.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/spreadsheet_data.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/tables/sheet.rb
  engines/excel_data_services/app/services/excel_data_services/v3/framers/base.rb
  engines/excel_data_services/app/services/excel_data_services/v3/framers/sheet_framer.rb
  engines/excel_data_services/app/services/excel_data_services/v3/framers/table.rb
  engines/excel_data_services/app/services/excel_data_services/v3/framers/trucking_fees.rb
  engines/excel_data_services/app/services/excel_data_services/v3/framers/trucking_rates.rb
  engines/excel_data_services/app/services/excel_data_services/v3/operations/trucking_fees.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/data_framer_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/pipeline_executor_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/sheet_parser_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/sheet_validator_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/spreadsheet_data_carrier_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/spreadsheet_data_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/spreadsheet_data_routing_carrier_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/spreadsheet_data_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/tables/dynamic_columns_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/tables/sheet_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/framers/table_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/framers/trucking_rates_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/upload_pricings_spec.rb
  spec/fixtures/files/excel/example_pricings_dynamic.xlsx
Labels: none

Locking debase version to be the latest released version (#2524)
  Gemfile
  Gemfile.lock
Labels: none

POL-3140: V2 Operation missing from V3 (#2526)
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/local_charges
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/pricings
  engines/excel_data_services/app/services/excel_data_services/v3/operations/base.rb
  engines/excel_data_services/app/services/excel_data_services/v3/operations/counterpart_hub_expander.rb
  engines/excel_data_services/app/services/excel_data_services/v3/operations/expanded_dates.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/operations_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/schema_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/operations/expanded_dates_spec.rb
Labels: none

POL-3135: Registration issue catch AR error when raised from postgres (#2523)
  app/controllers/users_controller.rb
  engines/api/spec/services/api/client_creation_service_spec.rb
  spec/controllers/users_controller_spec.rb
Labels: none

POL-3139: Correcting SACO locodes (#2528)
  app/workers/correct_saco_locodes_worker.rb
  db/data/20220328125509_correct_saco_locodes.rb
  db/data_schema.rb
  spec/workers/correct_saco_locodes_worker_spec.rb
Labels: none

POL-3142: gem fixes for apple silicon (#2527)
  Gemfile
  Gemfile.lock
  engines/routing/routing.gemspec
Labels: none

POL-3110: Legacy Admin Clients search fix (#2525)
  app/controllers/admin/clients_controller.rb
  spec/controllers/admin/clients_controller_spec.rb
Labels: none

POL-3143: Insert TransitTimes (#2532)
  engines/excel_data_services/app/services/excel_data_services/v3/extractors/transit_time.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/parsers/connected_actions.rb
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/pricings
  engines/excel_data_services/app/services/excel_data_services/v3/files/section_data/transit_time
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/transit_time.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/section_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/section_saco_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/tables/sheet_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/transit_time_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/connected_actions_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/parsers/schema_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/prerequisite_extractor_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/section_saco_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/files/spreadsheet_data_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/transit_time_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/upload_pricings_spec.rb
  spec/fixtures/files/excel/example_pricings.xlsx
Labels: none

POL-3138: Stricter Hub finding (#2531)
  engines/excel_data_services/app/services/excel_data_services/v3/extractors/hub.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/hub_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/counterpart_hub_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/hub_spec.rb
  spec/fixtures/files/excel/example_pricings_dynamic.xlsx
Labels: none

POL-3152: fix for LocalChargeWriter (#2535)
  engines/excel_data_services/app/services/excel_data_services/file_writers/local_charges.rb
  engines/legacy/factories/legacy/local_charges.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/local_charges_spec.rb
  engines/pricings/spec/services/pricings/manipulator/local_charges_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/preview_service_spec.rb
Labels: none

POL-3152: Second attempt at fixing LC downloader (#2538)
  engines/excel_data_services/app/services/excel_data_services/file_writers/local_charges.rb
  engines/excel_data_services/app/services/excel_data_services/v3/validators/charge_fees.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/local_charges_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/charge_fees_spec.rb
Labels: none

POL-3144: V2 Validation endpoint (#2539)
  doc/api/swagger.json
  engines/api/app/contracts/api/validation_contract.rb
  engines/api/app/controllers/api/v2/validations_controller.rb
  engines/api/app/decorators/api/v2/validation_error_decorator.rb
  engines/api/app/serializers/api/v2/validation_error_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/validation_spec.rb
  engines/api/spec/contracts/api/validation_contract_spec.rb
  engines/api/spec/controllers/api/v2/validations/door_to_door_spec.rb
  engines/api/spec/controllers/api/v2/validations/port_to_port_spec.rb
  engines/api/spec/decorators/api/v2/validation_error_decorator_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_item_validation_service.rb
  engines/offer_calculator/spec/services/offer_calculator/service/validations/cargo_item_validation_service_spec.rb
  engines/wheelhouse/app/services/wheelhouse/query_param_transformation_service.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
  engines/wheelhouse/spec/services/wheelhouse/query_param_transformation_service_spec.rb
  spec/swagger_helper.rb
Labels: none

[POL-3072] Endpoint to store synced files. (#2537)
  Gemfile.lock
  config/routes.rb
  db/structure.sql
  doc/api/swagger.json
  engines/api/api.gemspec
  engines/api/app/controllers/api/v2/file_descriptors_controller.rb
  engines/api/app/models/api/file_descriptor.rb
  engines/api/app/serializers/api/v2/file_descriptor_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/file_descriptors_spec.rb
  engines/api/spec/controllers/api/v2/file_descriptors_controller_spec.rb
  engines/files/Gemfile
  engines/files/Gemfile.runtime
  engines/files/app/models/files/application_record.rb
  engines/files/app/models/files/file_descriptor.rb
  engines/files/bin/rails
  engines/files/db/migrate/20220324010131_create_files_file_descriptors.rb
  engines/files/factories/files/file_descriptors.rb
  engines/files/files.gemspec
  engines/files/lib/files.rb
  engines/files/lib/files/engine.rb
  engines/files/spec/models/files/file_descriptor_spec.rb
  spec/swagger_helper.rb
Labels: migrations

POL-3159: Fix for mixed create and update in active record update (#2541)
  engines/excel_data_services/app/services/excel_data_services/v3/import.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/import_spec.rb
Labels: none

POL-3157: Reject N/A pricings entirely from SACO uploader (#2540)
  engines/excel_data_services/app/services/excel_data_services/v3/extractors/primary_fee_code.rb
  engines/excel_data_services/app/services/excel_data_services/v3/operations/dynamic/data_column.rb
  engines/excel_data_services/app/services/excel_data_services/v3/operations/dynamic_fees.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/extractors/primary_fee_code_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/operations/dynamic/data_column_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/operations/dynamic_fees_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/validators/primary_fee_code_spec.rb
  spec/fixtures/files/excel/example_saco_pricings.xlsx
Labels: none

POL-3155: Formatting error for complex fee structures (#2542)
  engines/excel_data_services/app/services/excel_data_services/v3/formatters/json_fee_structure.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/json_fee_structure_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/local_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/formatters/trucking_spec.rb
Labels: none

POL-3147: Query Data and specs (#2533)
  engines/legacy/factories/legacy/charge_categories.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/local_charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/pricing.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/trucking.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/relation_data.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/charge_category_data.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/date_limiter.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/expanded_fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/fee_expansion.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/rate_basis_data.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/value_extractor.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/value_keys.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/trucking_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_pricing_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_trucking_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/support/charge_category_data_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/support/date_limiter_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/support/expanded_fee_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/support/rate_basis_data_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/support/value_extractor_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/support/value_keys_spec.rb
Labels: none

POL-3162: Money gem rounding behaviour (#2549)
  engines/offer_calculator/app/services/offer_calculator/service/calculators/charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/line_item_builder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/calculators/charge_spec.rb
Labels: none

POL-3161: Validation validations too strict (#2543)
  config/routes.rb
  doc/api/swagger.json
  engines/api/app/contracts/api/validation_contract.rb
  engines/api/app/controllers/api/v2/validations_controller.rb
  engines/api/spec/api/api/validation_spec.rb
  engines/api/spec/contracts/api/validation_contract_spec.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/controllers/api/v1/validations/port_to_port_spec.rb
  engines/api/spec/controllers/api/v2/validations/door_to_door_spec.rb
  engines/api/spec/controllers/api/v2/validations/port_to_port_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_validation_service.rb
  engines/offer_calculator/spec/services/offer_calculator/service/validations/container_validation_service_spec.rb
Labels: none

POL-3148: Range finding and Fee Structs (#2550)
  config/locales/en.yml
  engines/offer_calculator/app/services/offer_calculator/errors.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/range_finder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/fee_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/range_finder_spec.rb
Labels: translations

POL-3165: Persist Terminal and return in Route Section and Result responses (#2551)
  db/structure.sql
  doc/api/swagger.json
  engines/api/app/decorators/api/v2/route_point_decorator.rb
  engines/api/app/decorators/api/v2/route_section_decorator.rb
  engines/api/app/serializers/api/v2/result_serializer.rb
  engines/api/spec/decorators/api/v2/route_point_decorator_spec.rb
  engines/api/spec/decorators/api/v2/route_section_decorator_spec.rb
  engines/api/spec/serializers/api/v2/result_serializer_spec.rb
  engines/api/spec/serializers/api/v2/route_section_serializer_spec.rb
  engines/journey/app/models/journey/route_point.rb
  engines/journey/db/migrate/20220414062616_add_terminal_to_route_point.rb
  engines/journey/factories/journey/route_points.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/location_as_route_point.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/routing/base_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/routing/freight_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/routing/location_as_route_point_spec.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/route_point_decorator.rb
  spec/swagger_helper.rb
Labels: migrations

POL-3171: Margin Extraction (#2554)
  engines/offer_calculator/app/services/offer_calculator/service/charges/applicable_margins.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/margins.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/applicable_margins_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/margins_spec.rb
  engines/pricings/app/models/pricings/margin.rb
  engines/pricings/factories/pricings/margins.rb
  lib/ext/rover/data_frame.rb
Labels: none

[POL-3176] Update file descriptor Polaris API to authenticate with integration token (#2562)
  app/workers/add_integration_key_to_wwa_worker.rb
  db/data/20220425122737_add_integration_key_to_wwa.rb
  db/structure.sql
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/file_descriptors_controller.rb
  engines/api/spec/api/api/file_descriptors_spec.rb
  engines/api/spec/controllers/api/v2/file_descriptors_controller_spec.rb
  spec/workers/add_integration_key_to_wwa_worker_spec.rb
Labels: migrations

POL-3055: Upgrade Doorkeeper to latest version (#2555)
  Gemfile.lock
  doc/api/swagger.json
  engines/api/spec/api/api/oauth_spec.rb
  engines/api_auth/api_auth.gemspec
  engines/api_auth/spec/requests/api_auth/tokens_controller_spec.rb
Labels: none

POL-3179: use 1 when shipment level rate basis (#2558)
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/fee_spec.rb
Labels: none

.github/labeler.yml:

migrations:
  - '**/db/migrate/*'
  - 'db/structure.sql'

translations:
  - '**/config/locales/*'
  - 'config/locales/*'
