Repository romikoops/polaris_clone, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, translations

IMC-3030: fixed pdf section currency (#1543)
  engines/api/spec/serializers/api/v1/quotation_tender_serializer_spec.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
Labels: none

IMC-3035: handle nil Users::Settings (#1545)
  app/classes/shipping_tools.rb
  spec/classes/shipping_tools_spec.rb
Labels: none

IMC-3023: liquid upgrade (#1539)
  app/mailers/application_mailer.rb
  app/mailers/shipment_mailer.rb
  engines/legacy/app/decorators/legacy/shipment_decorator.rb
  spec/mailers/quote_mailer_spec.rb
Labels: none

FIX: Chore: Better IDP/SAML (#1535)
  Gemfile.lock
  app/controllers/admin/clients_controller.rb
  config/routes.rb
  doc/engines/graph.dot
  doc/engines/graph.pdf
  engines/api/app/controllers/api/api_controller.rb
  engines/api/spec/controllers/api/v1/clients_controller_spec.rb
  engines/idp/Gemfile
  engines/idp/Rakefile
  engines/idp/app/controllers/idp/application_controller.rb
  engines/idp/app/controllers/idp/saml_controller.rb
  engines/idp/bin/rails
  engines/idp/bin/rspec
  engines/idp/config/routes.rb
  engines/idp/idp.gemspec
  engines/idp/lib/idp.rb
  engines/idp/lib/idp/engine.rb
  engines/idp/lib/imc/idp.rb
  engines/idp/spec/controllers/idp/saml_controller_spec.rb
  engines/idp/spec/dummy/Rakefile
  engines/idp/spec/dummy/app/assets/config/manifest.js
  engines/idp/spec/dummy/config.ru
  engines/idp/spec/dummy/config/application.rb
  engines/idp/spec/dummy/config/boot.rb
  engines/idp/spec/dummy/config/cable.yml
  engines/idp/spec/dummy/config/database.yml
  engines/idp/spec/dummy/config/environment.rb
  engines/idp/spec/dummy/config/environments/development.rb
  engines/idp/spec/dummy/config/environments/test.rb
  engines/idp/spec/dummy/config/initializers/doorkeeper.rb
  engines/idp/spec/dummy/lib/assets/.keep
  engines/idp/spec/factories/idp/saml_response.rb
  engines/idp/spec/rails_helper.rb
  engines/idp/spec/spec_helper.rb
  engines/organizations/app/models/organizations/domain.rb
  engines/users/app/models/users/user.rb
  spec/controllers/saml_controller_spec.rb
Labels: none

IMC-3041: updates user after registration (#1552)
  app/classes/shipping_tools.rb
  spec/classes/shipping_tools_spec.rb
Labels: none

IMC-3017: include soft deleted shipments (#1550)
  engines/api/app/decorators/api/v1/quotation_decorator.rb
  engines/api/app/serializers/api/v1/quotation_serializer.rb
  engines/api/spec/api/quotations_spec.rb
  engines/api/spec/decorators/api/v1/quotation_decorator_spec.rb
  engines/api/spec/serializers/api/v1/quotation_serializer_spec.rb
  engines/legacy/spec/factories/legacy/shipments.rb
  engines/quotations/app/models/quotations/quotation.rb
Labels: none

IMC-3044: global notes fix (#1554)
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/legacy_response.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/legacy_response_spec.rb
Labels: none

IMC-3024: speed up api call (#1551)
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/app/serializers/api/v1/quotation_list_serializer.rb
  engines/api/app/serializers/api/v1/quotation_serializer.rb
  engines/api/spec/api/quotations_spec.rb
  engines/api/spec/serializers/api/v1/quotation_list_serializer_spec.rb
Labels: none

IMC-3032: fixed result to properly limit by load type (#1553)
  engines/api/app/services/api/routing/legacy_routing_service.rb
  engines/offer_calculator/app/services/offer_calculator/queries/full_attributes_from_itinerary_ids.rb
  engines/offer_calculator/app/services/offer_calculator/route.rb
  engines/offer_calculator/spec/services/offer_calculator/queries/full_attributes_from_itinerary_ids_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/route_spec.rb
Labels: none

IMC-3045: quotation pdf download (#1555)
  app/classes/shipping_tools.rb
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/pdf/app/services/pdf/service.rb
  engines/pdf/spec/services/pdf/service_spec.rb
  engines/wheelhouse/app/services/wheelhouse/pdf_service.rb
  engines/wheelhouse/spec/services/wheelhouse/pdf_service_spec.rb
Labels: none

IMC-3048: return not found if shipment deleted (#1556)
  app/controllers/shipments_controller.rb
  spec/controllers/shipments_controller_spec.rb
Labels: none

IMC-3050: fix rate detection in legacy json (#1559)
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee_component_builder.rb
  engines/offer_calculator/spec/factories/component_builder_fees.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/fee_component_builder_spec.rb
Labels: none

chore: cleanup IdP and logging (#1558)
  .rubocop_todo.yml
  config/coverband.rb
  config/environments/production.rb
  config/initializers/lograge.rb
  config/routes.rb
  engines/idp/app/controllers/idp/saml_controller.rb
Labels: none

IMC-3052: Load type on mdbs (#1560)
  app/classes/shipping_tools.rb
  app/controllers/max_dimensions_controller.rb
  spec/controllers/max_dimensions_controller_spec.rb
Labels: none

FIX: CHORE: IMC-2994 - Discounts (#1541)
  db/schema.rb
  engines/rate_extractor/app/services/rate_extractor/discount_filter.rb
  engines/rate_extractor/spec/services/rate_extractor/discount_filter_spec.rb
  engines/rates/app/models/rates/discount.rb
  engines/rates/app/models/rates/margin.rb
  engines/rates/db/migrate/20200722085901_create_rates_discounts.rb
  engines/rates/spec/factories/rates/discounts.rb
  engines/rates/spec/factories/rates/fees.rb
  engines/rates/spec/models/rates/discount_spec.rb
  engines/tender_calculator/app/models/tender_calculator/addition_map.rb
  engines/tender_calculator/app/models/tender_calculator/discount.rb
  engines/tender_calculator/app/models/tender_calculator/tender_line_items.rb
  engines/tender_calculator/app/services/tender_calculator/discounts/addition.rb
  engines/tender_calculator/app/services/tender_calculator/discounts/multiplication.rb
  engines/tender_calculator/app/services/tender_calculator/rate_basis/calculator/percentage.rb
  engines/tender_calculator/spec/models/tender_calculator/tender_line_items_spec.rb
  engines/tender_calculator/spec/services/tender_calculator/rate_basis/calculator/percentage_spec.rb
  engines/tender_calculator/spec/services/tender_calculator/rate_basis/calculator/shipment_spec.rb
Labels: migrations

IMC-3053: misc fixes for saco (#1561)
  app/views/quote_mailer/quotation_admin_email.mjml
  app/views/quote_mailer/quotation_email.mjml
  engines/pdf/app/services/pdf/service.rb
  engines/pdf/app/views/shipments/pdfs/quotations.pdf.erb
  spec/mailers/previews/quote_mailer_preview.rb
Labels: none

IMC-2850 - fee code is required (#1563)
  app/classes/excel_data_services/validators/type_validity/local_charges.rb
Labels: none

CHORE: IMC-3037: missing trucking rate basis (#1567)
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/lookups.rb
Labels: none

IMC-3063 - assign organization for theme (#1569)
  app/controllers/password_resets_controller.rb
Labels: none

IMC-3056: correctly handles parallel routes (#1565)
  engines/offer_calculator/app/services/offer_calculator/schedule.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_sorter.rb
  engines/offer_calculator/spec/factories/trip_generator.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter/fcl_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter/lcl_spec.rb
Labels: none

IMC-3061: encoding and postal code fix (#1566)
  app/mailers/application_mailer.rb
  engines/legacy/app/decorators/legacy/shipment_decorator.rb
  engines/legacy/spec/decorators/legacy/shipment_decorator_spec.rb
  spec/mailers/quote_mailer_spec.rb
Labels: none

IMC-3006 - Asynchronous Upload Handler (#1564)
  .pronto.yml
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/mailers/notifications_mailer.css
  app/classes/excel_data_services/loaders/uploader.rb
  app/controllers/admin/admin_base_controller.rb
  app/controllers/admin/charge_categories_controller.rb
  app/controllers/admin/clients_controller.rb
  app/controllers/admin/hubs_controller.rb
  app/controllers/admin/local_charges_controller.rb
  app/controllers/admin/margins_controller.rb
  app/controllers/admin/notes_controller.rb
  app/controllers/admin/pricings_controller.rb
  app/controllers/admin/schedules_controller.rb
  app/controllers/admin/trucking_controller.rb
  app/jobs/uploader_job.rb
  app/mailers/upload_mailer.rb
  app/views/layouts/notification.html.erb
  app/views/upload_mailer/complete_email.html.erb
  config/environments/development.rb
  config/initializers/assets.rb
  config/initializers/prometheus.rb
  config/initializers/sidekiq.rb
  config/routes.rb
  engines/users/spec/factories/users/users.rb
  spec/classes/excel_data_services/inserters/employees_spec.rb
  spec/classes/excel_tool/agents_overwriter_spec.rb
  spec/classes/excel_tool/clients_overwriter_spec.rb
  spec/controllers/admin/clients_controller_spec.rb
  spec/controllers/users_controller_spec.rb
  spec/jobs/upload_job_spec.rb
  spec/mailers/new_user_mailer_spec.rb
  spec/mailers/previews/upload_mailer_preview.rb
  spec/mailers/quote_mailer_spec.rb
  spec/mailers/shipment_mailer_spec.rb
  spec/mailers/upload_mailer_spec.rb
  spec/requests/password_resets_request_spec.rb
Labels: none

IMC-3068: saco email pains (#1575)
  engines/legacy/app/decorators/legacy/shipment_decorator.rb
  engines/legacy/spec/decorators/legacy/shipment_decorator_spec.rb
Labels: none

IMC-3070: freightright fixes (#1577)
  app/classes/excel_data_services/inserters/schedule_generator.rb
  app/classes/excel_data_services/validators/insertable_checks/schedule_generator.rb
  app/controllers/admin/dashboard_controller.rb
  app/controllers/admin/schedules_controller.rb
  spec/classes/excel_data_services/validators/insertable_checks/schedule_generator_spec.rb
  spec/mailers/upload_mailer_spec.rb
Labels: none

FIX: CHORE: IMC-3022: Trucking inserter properly brought up to code (#1574)
  engines/trucking/app/services/trucking/excel/inserter.rb
Labels: none

IMC-3065: paswordless login for unsworth (#1568)
  engines/api_auth/config/initializers/doorkeeper.rb
  engines/api_auth/lib/api_auth/resource_authenticator.rb
  engines/api_auth/lib/api_auth/resource_helper.rb
  engines/api_auth/spec/lib/api_auth/resource_authenticator_spec.rb
  engines/api_auth/spec/lib/api_auth/resource_helper_spec.rb
Labels: none

IMC-3069: mailer queue bug (#1576)
  app/classes/shipping_tools.rb
  app/mailers/quote_mailer.rb
  app/views/quote_mailer/quotation_email.mjml
  spec/mailers/quote_mailer_spec.rb
Labels: none

IMC-3072: default args added (#1579)
  app/mailers/quote_mailer.rb
  spec/mailers/quote_mailer_spec.rb
Labels: none

CHORE: IMC-3067 IMC-3067: missing index for speed (#1570)
  app/models/charge.rb
  db/migrate/20200728145139_add_index_to_charge_parent.rb
  db/schema.rb
Labels: migrations

IMC-3074: adjusted logic for admin bug (#1580)
  doc/engines/graph.dot
  doc/engines/graph.pdf
  engines/api_auth/lib/api_auth/resource_authenticator.rb
  engines/api_auth/spec/lib/api_auth/resource_authenticator_spec.rb
Labels: none

IMC-2360 - Download offers as xlsx (#1562)
  Gemfile.lock
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/app/serializers/api/v1/xlsx_serializer.rb
  engines/api/spec/api/quotations_spec.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
  engines/api/spec/serializers/api/v1/xlsx_serializer_spec.rb
  engines/wheelhouse/app/services/wheelhouse/excel_writer_service.rb
  engines/wheelhouse/app/services/wheelhouse/quotation_download_service.rb
  engines/wheelhouse/config/locales/en.yml
  engines/wheelhouse/lib/wheelhouse/engine.rb
  engines/wheelhouse/spec/services/wheelhouse/excel_writer_service_spec.rb
  engines/wheelhouse/spec/services/wheelhouse/quotation_download_service_spec.rb
  engines/wheelhouse/wheelhouse.gemspec
Labels: translations

IMC-3091: Geocoder caching (#1586)
  config/initializers/geocoder.rb
Labels: none

IMC-3092: resolving conflicts (#1588)
  config/initializers/geocoder.rb
Labels: none

IMC-3090 - shipment from quotation (#1585)
  engines/wheelhouse/app/services/wheelhouse/pdf_service.rb
  engines/wheelhouse/spec/services/wheelhouse/pdf_service_spec.rb
Labels: none

IMC-3078 - Compact on cut off dates (#1584)
  app/classes/excel_data_services/validators/type_validity/pricing_dynamic_fee_cols_no_ranges.rb
  app/classes/excel_data_services/validators/type_validity/pricing_one_fee_col_and_ranges.rb
Labels: none

IMC-3077: disable saml metadatum editing as it is causing issues (#1581)
  app/jobs/quoted_shipments_job.rb
  engines/admiralty_tenants/app/controllers/admiralty_tenants/organizations_controller.rb
  engines/organizations/app/models/organizations/saml_metadatum.rb
Labels: none

IMC-3095 - Create user without password (#1589)
  app/controllers/users_controller.rb
  config/routes.rb
  engines/api_auth/config/initializers/doorkeeper.rb
  engines/api_auth/lib/api_auth/resource_authenticator.rb
  engines/api_auth/spec/lib/api_auth/resource_authenticator_spec.rb
  spec/controllers/users_controller_spec.rb
Labels: none

IMC-3102: removed rails_helper (#1593)
  app/jobs/quoted_shipments_job.rb
Labels: none

IMC-3100: handle no mdbs in wheelhouse (#1592)
  engines/wheelhouse/app/services/wheelhouse/validations/cargo_validation_service.rb
  engines/wheelhouse/spec/services/wheelhouse/validations/container_validation_service_spec.rb
Labels: none

chore(fix): removed arg (#1594)
  engines/api_auth/config/initializers/doorkeeper.rb
Labels: none

.github/labeler.yml:

migrations:
  - '**/db/migrate/*'
  - 'db/schema.rb'

translations:
  - '**/config/locales/*'
  - 'config/locales/*'
