Repository romikoops/polaris_clone, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, translations

IMC-2912: handle no max dimensions (#1498)
  engines/offer_calculator/app/services/offer_calculator/service/route_filter.rb
  engines/offer_calculator/spec/services/offer_calculator/service/route_filter_spec.rb
Labels: none

IMC-2969: cleared up naming and check for destryoed charge-breakdowns (#1500)
  app/services/quoted_shipments_service.rb
Labels: none

IMC-2970: fixing download pdf and email button (#1501)
  app/classes/shipping_tools.rb
  spec/classes/shipping_tools_spec.rb
Labels: none

IMC-2971: corrected max dimensions call (#1502)
  app/controllers/max_dimensions_controller.rb
  spec/controllers/max_dimensions_controller_spec.rb
Labels: none

IMC-2972 - Endpoint for Client deletion (#1505)
  config/routes.rb
  doc/swagger/v1/swagger.json
  engines/api/app/controllers/api/v1/clients_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/clients_spec.rb
  engines/api/spec/controllers/api/v1/clients_controller_spec.rb
  engines/authentication/app/models/authentication/user.rb
Labels: none

IMC-2974: log in issues part 2 (#1504)
  app/controllers/users_controller.rb
  engines/api/app/controllers/api/api_controller.rb
  engines/api/app/controllers/api/v1/clients_controller.rb
  engines/api/spec/controllers/api/v1/clients_controller_spec.rb
  engines/profiles/app/models/profiles/profile.rb
  spec/controllers/users_controller_spec.rb
Labels: none

chore(hotfix): migration job and query fix
  app/jobs/trucking_migration_job.rb
  engines/trucking/app/services/trucking/queries/base.rb
Labels: none

chore(fix): handle mailer error (#1509)
  app/mailers/quote_mailer.rb
Labels: none

IMC-2973: final shipment address json issue (#1503)
  app/controllers/contacts_controller.rb
  engines/legacy/spec/factories/legacy/shipments.rb
  spec/controllers/contacts_controller_spec.rb
Labels: none

IMC-2981: remove legacy code (#1512)
  engines/offer_calculator/app/services/offer_calculator/pricing_tools.rb
Labels: none

IMC-2982: error typo (#1513)
  config/locales/en.yml
Labels: translations

IMC-2980: fee render issues (#1511)
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
Labels: none

chore: traffic control (#1515)
  Gemfile
  Gemfile.lock
  app/jobs/quoted_shipments_job.rb
  app/jobs/trucking_migration_job.rb
  config/initializers/sidekiq.rb
  config/sidekiq.yml
Labels: none

IMC-2976: missing scope in default mdb call (#1507)
  app/controllers/max_dimensions_controller.rb
  spec/controllers/max_dimensions_controller_spec.rb
Labels: none

IMC-2979: Displaying trucking service info (#1514)
  app/assets/stylesheets/pdfs.scss.erb
  app/classes/shipping_tools.rb
  engines/legacy/spec/factories/legacy/charge_breakdowns.rb
  engines/offer_calculator/app/services/offer_calculator/service/calculators/charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/finders/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/legacy_meta.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/offer.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/legacy_meta_spec.rb
  engines/organizations/data/default_scope.yaml
  engines/pdf/app/services/pdf/handler.rb
  engines/pdf/app/services/pdf/service.rb
  engines/pdf/app/views/shipments/pdfs/quotations.pdf.erb
  engines/pdf/spec/services/pdf/handler_spec.rb
  engines/pdf/spec/services/pdf/service_spec.rb
  engines/pricings/app/services/pricings/manipulator_result.rb
  engines/pricings/spec/services/pricings/manipulator_result_spec.rb
Labels: none

chore: fix database reloader (#1506)
  lib/database_reloader.rb
Labels: none

fix: missing organization_id
  app/controllers/saml_controller.rb
Labels: none

fix: set search order for domains
  app/controllers/saml_controller.rb
  engines/api/app/controllers/api/api_controller.rb
Labels: none

IMC-2984 - fix scope default currency (#1516)
  Gemfile.lock
  doc/engines/graph.dot
  doc/engines/graph.pdf
  engines/cargo/app/services/cargo/creator.rb
  engines/cargo/cargo.gemspec
  engines/cargo/lib/cargo/engine.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/base.rb
Labels: none

IMC-2986: removed sandbox (#1521)
  app/controllers/admin/maps_controller.rb
Labels: none

IMC-2977: uniform results (#1518)
  engines/legacy/spec/factories/legacy/charge_breakdowns.rb
  engines/legacy/spec/factories/legacy/charge_categories.rb
  engines/legacy/spec/models/legacy/charge_breakdown_spec.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/legacy_charge_breakdown.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/truckings.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/truckings_spec.rb
  engines/result_formatter/app/decorators/result_formatter/line_item_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/line_item_decorator_spec.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
Labels: none

chore(fix): added referer to lograge (#1523)
  config/initializers/lograge.rb
Labels: none

IMC-2429: Persist truck types (#1517)
  config/routes.rb
  db/schema.rb
  engines/api/app/decorators/api/v1/tender_decorator.rb
  engines/api/app/serializers/api/v1/quotation_tender_serializer.rb
  engines/api/app/serializers/api/v1/tender_serializer.rb
  engines/api/spec/decorators/api/v1/tender_decorator_spec.rb
  engines/integrations/app/models/integrations/chain_io/tender.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creator.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/legacy_meta.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/tender.rb
  engines/quotations/app/models/quotations/tender.rb
  engines/quotations/db/migrate/20200717141554_adding_truck_types_to_tender.rb
  engines/wheelhouse/app/decorators/wheelhouse/tender_decorator.rb
  engines/wheelhouse/spec/decorators/wheelhouse/tender_decorator_spec.rb
Labels: migrations

IMC-3014: percentage fees as decimals (#1528)
  engines/offer_calculator/app/services/offer_calculator/service/charge_calculator.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee_component.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee_component_builder.rb
  engines/offer_calculator/spec/factories/rate_builder_fee.rb
  engines/offer_calculator/spec/factories/rate_builder_fee_component.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charge_calculator_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/fee_component_builder_spec.rb
Labels: none

IMC-3016: fixed result hash (#1529)
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/base.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/pricings_spec.rb
Labels: none

chore(fix): saml quick hack (#1524)
  app/controllers/saml_controller.rb
  config/initializers/lograge.rb
  engines/api/app/controllers/api/api_controller.rb
  engines/organizations/spec/factories/organizations/saml_metadata.rb
  spec/controllers/saml_controller_spec.rb
Labels: none

IMC-3021: thread confusion (#1532)
  app/mailers/quote_mailer.rb
Labels: none

IMC-3025: pdf diff issue (#1538)
  engines/pdf/app/services/pdf/handler.rb
Labels: none

FIX: CHORE: IMC-2856 - Margins (#1493)
  db/schema.rb
  doc/engines/graph.pdf
  engines/cargo/spec/factories/cargo/cargos.rb
  engines/groups/spec/factories/groups/groups.rb
  engines/rate_extractor/app/services/rate_extractor/margin_filter.rb
  engines/rate_extractor/spec/services/rate_extractor/margin_filter_spec.rb
  engines/rates/app/models/rates/margin.rb
  engines/rates/db/migrate/20200713153005_create_rates_margins.rb
  engines/rates/spec/factories/rates/margins.rb
  engines/rates/spec/models/rates/margin_spec.rb
  engines/tender_calculator/app/models/tender_calculator/addition.rb
  engines/tender_calculator/app/models/tender_calculator/margin.rb
  engines/tender_calculator/app/models/tender_calculator/node.rb
  engines/tender_calculator/app/models/tender_calculator/tender_line_items.rb
  engines/tender_calculator/app/models/tender_calculator/value.rb
  engines/tender_calculator/spec/models/tender_calculator/tender_line_items_spec.rb
Labels: migrations

IMC-3018: nil user shipments excluded (#1534)
  app/controllers/admin/shipments_controller.rb
  engines/legacy/app/models/legacy/shipment.rb
  spec/controllers/admin/shipments_controller_spec.rb
Labels: none

IMC-3028: custom validity period returned (#1540)
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/offer.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/offer_spec.rb
Labels: none

chore: remove tenatns references (#1536)
  engines/pricings/app/services/pricings/manipulator.rb
  engines/pricings/spec/services/pricings/manipulator/helpers_spec.rb
Labels: none

IMC-3022: (#1537)
  engines/legacy/app/models/legacy/tenant_vehicle.rb
  engines/trucking/app/services/trucking/excel/inserter.rb
Labels: none

IMC-3029: deduplication and filtering corrected (#1542)
  engines/offer_calculator/app/services/offer_calculator/calculator.rb
  engines/offer_calculator/app/services/offer_calculator/service/calculators/charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_sorter.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/fee.rb
  engines/offer_calculator/spec/services/offer_calculator/calculator/lcl_door_to_door_spec.rb
  engines/pricings/app/services/pricings/manipulator_result.rb
  engines/pricings/spec/services/pricings/manipulator_result_spec.rb
  engines/quotations/app/models/quotations/tender.rb
Labels: none

IMC-3015 - Paginate quotations (#1531)
  engines/api/app/controllers/api/v1/quotations_controller.rb
  engines/api/app/controllers/concerns/api/pagination.rb
  engines/api/spec/controllers/api/v1/quotations_controller_spec.rb
Labels: none

CHORE: fixed flaky test (#1544)
  engines/pricings/spec/services/pricings/manipulator/helpers_spec.rb
Labels: none

IMC-3039: readding the sandbox argument to clear mailer queue (#1549)
  app/mailers/quote_mailer.rb
Labels: none

IMC-3038: handles nil user (#1548)
  app/classes/profile_tools.rb
  app/controllers/admin/companies_controller.rb
  app/mailers/new_user_mailer.rb
  app/mailers/quote_mailer.rb
  app/mailers/shipment_mailer.rb
  engines/profiles/app/services/profiles/profile_service.rb
  spec/classes/profile_tools_spec.rb
Labels: none

IMC-3037: handle invalid metadata gracefully (#1547)
  app/services/quoted_shipments_service.rb
  engines/pricings/app/models/pricings/metadatum.rb
  engines/pricings/spec/models/pricings/metadatum_spec.rb
Labels: none

IMC-3034: using all charge categories (#1546)
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
Labels: none

.github/labeler.yml:

migrations:
  - '**/db/migrate/*'
  - 'db/schema.rb'

translations:
  - '**/config/locales/*'
  - 'config/locales/*'
