Repository romikoops/polaris_clone, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, translations

[POL-3245] Addendum model to hold dynamic attributes for shipment request (#2615)
  config/routes.rb
  db/structure.sql
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/shipment_requests_controller.rb
  engines/api/app/serializers/api/v2/shipment_request_index_serializer.rb
  engines/api/app/serializers/api/v2/shipment_request_serializer.rb
  engines/api/spec/controllers/api/v2/shipment_requests_controller_spec.rb
  engines/api/spec/services/api/shipment_request_creation_service_spec.rb
  engines/journey/app/models/journey/addendum.rb
  engines/journey/app/models/journey/shipment_request.rb
  engines/journey/db/migrate/20220627171157_create_journey_addendums.rb
  engines/journey/factories/journey/addendums.rb
  engines/journey/factories/journey/shipment_requests.rb
  engines/journey/spec/models/journey/addendum_spec.rb
  spec/swagger_helper.rb
Labels: migrations

POL-3252: workers to insert map data (#2616)
  app/workers/add_dutch_municipalities_worker.rb
  app/workers/add_french_postal_codes_worker.rb
  db/data/20220629152528_add_french_postal_codes.rb
  db/data/20220629175900_add_dutch_municipalities.rb
  db/data_schema.rb
  db/structure.sql
Labels: migrations

POL-3250: Fix for breakdown data structure (#2617)
  engines/offer_calculator/app/services/offer_calculator/service/charges/breakdown.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/margin.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/range_finder.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/breakdown_builder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/breakdown_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/fee_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/ranges/fee_spec.rb
Labels: none

POL-3208: GRDB Excel Sheet (#2611)
  engines/excel_data_services/app/services/excel_data_services/v4/files/parsers/requirements.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/sections/grdb_excel.yml
  engines/excel_data_services/app/services/excel_data_services/v4/framers/grdb_excel.rb
  engines/excel_data_services/app/services/excel_data_services/v4/operations/grdb.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/files/parsers/requirements_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/framers/grdb_excel_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/operations/grdb_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/upload_grdb_excel_spec.rb
  spec/fixtures/files/excel/example_grdb.xlsx
Labels: none

[POL-3170] Engine for User Tracking (#2619)
  Gemfile.lock
  config/routes.rb
  db/structure.sql
  doc/api/swagger.json
  engines/admiralty/Gemfile.runtime
  engines/admiralty/admiralty.gemspec
  engines/admiralty/app/admin/admiralty/interactions_admin.rb
  engines/admiralty/config/routes.rb
  engines/api/Gemfile.runtime
  engines/api/api.gemspec
  engines/api/app/controllers/api/v2/interactions_controller.rb
  engines/api/app/controllers/api/v2/users_interactions_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/interactions_spec.rb
  engines/api/spec/api/api/users_interactions_spec.rb
  engines/api/spec/controllers/api/v2/interactions_controller_spec.rb
  engines/api/spec/controllers/api/v2/users_interactions_controller_spec.rb
  engines/tracker/Gemfile
  engines/tracker/Gemfile.runtime
  engines/tracker/app/models/tracker/application_record.rb
  engines/tracker/app/models/tracker/interaction.rb
  engines/tracker/app/models/tracker/users_interaction.rb
  engines/tracker/bin/rails
  engines/tracker/db/migrate/20220629172559_create_tracker_interactions.rb
  engines/tracker/db/migrate/20220629174735_create_tracker_users_interactions.rb
  engines/tracker/lib/tracker.rb
  engines/tracker/lib/tracker/engine.rb
  engines/tracker/spec/internal/config/database.yml
  engines/tracker/spec/models/tracker/interaction_spec.rb
  engines/tracker/spec/models/tracker/users_interaction_spec.rb
  engines/tracker/tracker.gemspec
  engines/trucking/app/models/trucking/location.rb
Labels: migrations

POL-3210: Send email to ops when error is caught inside of Import class (#2622)
  engines/excel_data_services/app/jobs/excel_data_services/uploader_job.rb
  engines/excel_data_services/app/services/excel_data_services/v3/import.rb
  engines/excel_data_services/app/services/excel_data_services/v3/stats.rb
  engines/excel_data_services/app/services/excel_data_services/v3/upload.rb
  engines/excel_data_services/app/services/excel_data_services/v4/import.rb
  engines/excel_data_services/app/services/excel_data_services/v4/stats.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/import_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/upload_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/import_spec.rb
Labels: none

POL-3270: uniq nl postal codes prior to joining (#2623)
  engines/excel_data_services/app/services/excel_data_services/v4/operations/zone_ranges/single_zone_range_expanded.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/operations/trucking_zones_spec.rb
Labels: none

POL-3172: fix for code detection (#2624)
  engines/excel_data_services/app/services/excel_data_services/v4/operations/dynamic/data_column.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/operations/dynamic/data_column_spec.rb
Labels: none

[POL-3273] [UserInteraction] Interactions not to be scoped for an organisation (#2626)
  db/structure.sql
  doc/api/swagger.json
  engines/admiralty/app/admin/admiralty/interactions_admin.rb
  engines/api/app/controllers/api/v2/interactions_controller.rb
  engines/api/app/controllers/api/v2/users_interactions_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/interactions_spec.rb
  engines/api/spec/api/api/users_interactions_spec.rb
  engines/api/spec/controllers/api/v2/interactions_controller_spec.rb
  engines/api/spec/controllers/api/v2/users_interactions_controller_spec.rb
  engines/tracker/app/models/tracker/interaction.rb
  engines/tracker/app/models/tracker/users_interaction.rb
  engines/tracker/db/migrate/20220707092136_remove_organization_from_interaction.rb
  engines/tracker/spec/models/tracker/interaction_spec.rb
  engines/tracker/spec/models/tracker/users_interaction_spec.rb
Labels: migrations

POL-3246: Move CBM ratio down to fees (#2625)
  app/views/upload_mailer/complete_email.html.erb
  app/workers/backfill_conversion_ratios_worker.rb
  db/data/20220626154930_backfill_conversion_ratios.rb
  db/structure.sql
  engines/excel_data_services/app/services/excel_data_services/file_writers/pricings_row_data_builder.rb
  engines/excel_data_services/app/services/excel_data_services/v4/extractors/cbm_ratio_from_mode_of_transport.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/sections/local_charge.yml
  engines/excel_data_services/app/services/excel_data_services/v4/files/sections/pricings.yml
  engines/excel_data_services/app/services/excel_data_services/v4/files/sections/saco_pricings.yml
  engines/excel_data_services/app/services/excel_data_services/v4/formatters/json_fee_structure.rb
  engines/excel_data_services/app/services/excel_data_services/v4/formatters/local_charge.rb
  engines/excel_data_services/app/services/excel_data_services/v4/formatters/pricing.rb
  engines/excel_data_services/app/services/excel_data_services/v4/operations/saco_import.rb
  engines/excel_data_services/app/services/excel_data_services/v4/sanitizers/base.rb
  engines/excel_data_services/app/services/excel_data_services/v4/sanitizers/vm_scale.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/pricings_cargo_item_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/pricings_container_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/files/spreadsheet_data_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/formatters/json_fee_structure_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/formatters/local_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/formatters/pricing_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/operations/saco_import_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/sanitizers/vm_scale_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/upload_local_charges_spec.rb
  engines/legacy/Gemfile.runtime
  engines/legacy/factories/legacy/local_charges.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/local_charge.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/record_data/pricing.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/relation_data_local_charge_spec.rb
  engines/pricings/app/models/pricings/fee.rb
  engines/pricings/db/migrate/20220626154743_add_conversion_ratios_to_fees.rb
  spec/workers/backfill_conversion_ratios_worker_spec.rb
Labels: migrations

POL-3282: patch for unknown bug (#2630)
  engines/offer_calculator/app/services/offer_calculator/service/rate_builders/ranges/fee.rb
  engines/offer_calculator/spec/services/offer_calculator/service/rate_builders/ranges/fee_spec.rb
Labels: none

[POL-3223] Endpoint for Creating/Listing/deleting groups and memberships for a company (#2628)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/admin/groups_controller.rb
  engines/api/app/controllers/api/v2/admin/groups_memberships_controller.rb
  engines/api/app/decorators/api/v2/admin/groups_membership_decorator.rb
  engines/api/app/models/api/group.rb
  engines/api/app/models/api/groups_membership.rb
  engines/api/app/serializers/api/v2/admin/group_membership_serializer.rb
  engines/api/app/serializers/api/v2/admin/group_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/admin/groups_memberships_spec.rb
  engines/api/spec/api/api/admin/groups_spec.rb
  engines/api/spec/controllers/api/v2/admin/groups_controllers_spec.rb
  engines/api/spec/controllers/api/v2/admin/groups_memberships_controller_spec.rb
  engines/api/spec/decorators/api/v2/admin/groups_membership_decorator_spec.rb
  engines/api/spec/models/api/group_spec.rb
  engines/api/spec/models/api/groups_membership_spec.rb
Labels: none

POL-3259: GRDB XML pricings (#2627)
  engines/excel_data_services/app/services/excel_data_services/v3/upload.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/parsers/base.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/parsers/requirements.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/sections/grdb_xml.yml
  engines/excel_data_services/app/services/excel_data_services/v4/files/spreadsheet_data.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/tables/xml.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/tables/xml_column.rb
  engines/excel_data_services/app/services/excel_data_services/v4/files/xml_data.rb
  engines/excel_data_services/app/services/excel_data_services/v4/formatters/base.rb
  engines/excel_data_services/app/services/excel_data_services/v4/state.rb
  engines/excel_data_services/app/services/excel_data_services/validators/type_validity/types/optional_numeric_like_type.rb
  engines/excel_data_services/app/services/excel_data_services/validators/validation_errors/type_validity.rb
  engines/excel_data_services/spec/services/excel_data_services/v3/upload_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/files/tables/xml_column_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/files/tables/xml_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/upload_grdb_xml_pricings_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/type_validity/types/optional_numeric_like_type_spec.rb
  spec/fixtures/files/xml/example_grdb.xml
Labels: none

POL-3283: Generate ledger engine and add basic dependencies (#2629)
  Gemfile.lock
  config/routes.rb
  db/structure.sql
  doc/engines/graph.puml
  engines/excel_data_services/lib/excel_data_services/engine.rb
  engines/ledger/Gemfile
  engines/ledger/Gemfile.runtime
  engines/ledger/app/models/ledger/application_record.rb
  engines/ledger/app/models/ledger/upload.rb
  engines/ledger/bin/rails
  engines/ledger/config/locales/en.yml
  engines/ledger/config/schemas/processing_errors.json
  engines/ledger/db/migrate/20220712141456_create_ledger_uploads.rb
  engines/ledger/factories/ledger/upload.rb
  engines/ledger/ledger.gemspec
  engines/ledger/lib/ledger.rb
  engines/ledger/lib/ledger/engine.rb
  engines/ledger/spec/internal/config/.keep
  engines/ledger/spec/internal/config/database.yml
  engines/ledger/spec/models/ledger/upload_spec.rb
Labels: migrations, translations

POL-3284: Bug Sweep (#2631)
  config/initializers/scientist.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/applicable_margins.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/builder.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/margin_filter.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/margined_rate.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/range_finder.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/expanded_fee.rb
  engines/offer_calculator/app/services/offer_calculator/service/charges/support/value_keys.rb
  engines/offer_calculator/app/services/offer_calculator/service/measurements/cargo.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/applicable_margins_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/fee_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/margins_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/range_finder_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/record_data/local_charge_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/charges/support/expanded_fee_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/measurements/cargo_local_charge_aggregated_lcl_spec.rb
Labels: none

POL-3102: Country via Nexus bug fix (#2633)
  engines/excel_data_services/app/services/excel_data_services/file_writers/pricings_row_data_builder.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/pricings_cargo_item_spec.rb
Labels: none

POL-3287: margin fix for trucking (#2634)
  engines/pricings/app/services/pricings/manipulator.rb
  engines/pricings/spec/services/pricings/manipulator/trucking_spec.rb
  engines/trucking/factories/trucking/truckings.rb
Labels: none

POL-3260: XML LocalCharges (#2632)
  engines/excel_data_services/app/services/excel_data_services/v4/files/sections/grdb_xml_destination_charge.yml
  engines/excel_data_services/app/services/excel_data_services/v4/files/sections/grdb_xml_origin_charge.yml
  engines/excel_data_services/spec/services/excel_data_services/v4/upload_grdb_xml_export_local_charges_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v4/upload_grdb_xml_import_local_charges_spec.rb
Labels: none

add changes based on pr, reek fails and enum refactoring
  .reek.yml
  db/structure.sql
  engines/ledger/app/models/ledger/book_routing.rb
  engines/ledger/app/models/ledger/conflict.rb
  engines/ledger/app/models/ledger/location.rb
  engines/ledger/app/models/ledger/rate.rb
  engines/ledger/app/models/ledger/service.rb
  engines/ledger/db/migrate/20220714045408_create_ledger_services.rb
  engines/ledger/db/migrate/20220714052827_create_ledger_book_routings.rb
  engines/ledger/db/migrate/20220714052843_create_ledger_rates.rb
  engines/ledger/db/migrate/20220714052853_create_ledger_conflicts.rb
  engines/ledger/spec/models/ledger/book_spec.rb
Labels: migrations

fix enum values for conflict
  db/structure.sql
Labels: migrations

.github/labeler.yml:

migrations:
  - '**/db/migrate/*'
  - 'db/structure.sql'

translations:
  - '**/config/locales/*'
  - 'config/locales/*'
