Repository romikoops/polaris_clone, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, translations

.github/labeler.yml:

migrations:
  - '**/db/migrate/*'
  - 'db/structure.sql'

translations:
  - '**/config/locales/*'
  - 'config/locales/*'

POL-2891: Invalid Offer created an issue in generating the OfferCreated Event (#2342)
  app/controllers/shipments/booking_process_controller.rb
  engines/api/app/decorators/api/v2/query_decorator.rb
  engines/journey/app/models/journey/offer.rb
  engines/wheelhouse/app/services/wheelhouse/offer_builder.rb
  engines/wheelhouse/spec/services/wheelhouse/offer_builder_spec.rb
  spec/controllers/shipments/booking_process_controller_spec.rb
  spec/workers/backfill_offer_line_item_sets_worker_spec.rb
Labels: none

POL-2819: client delegation issue from null object pattern (#2345)
  engines/api/app/controllers/api/api_controller.rb
  engines/api/app/controllers/api/v2/profiles_controller.rb
  engines/api/spec/controllers/api/v2/profiles_controller_spec.rb
  engines/users/app/models/users/client_profile.rb
Labels: none

POL-2853: returning the key needed by dipper to return to normal functionality (#2344)
  engines/api/app/decorators/api/v1/legacy_result_decorator.rb
  engines/api/spec/decorators/api/v1/legacy_result_decorator_spec.rb
Labels: none

POL-2929: Edge case in legacy Date overlap Handler (#2349)
  engines/excel_data_services/app/services/excel_data_services/inserters/date_overlap_handler.rb
  engines/excel_data_services/app/services/excel_data_services/inserters/local_charges.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/local_charges_spec.rb
  engines/legacy/app/models/legacy/local_charge.rb
Labels: none

POL-2927: removed not null on transit time for RouteSection (#2348)
  db/structure.sql
  engines/journey/app/models/journey/route_section.rb
  engines/journey/db/migrate/20211027083408_remove_constraints_on_transit_time.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/base.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/carriage.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/freight.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/relay.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/routing/freight_spec.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
Labels: migrations

[POL-2827] Creating backfill to clean up dangling company membership (#2347)
  app/controllers/admin/companies_controller.rb
  app/workers/backfill_non_member_clients_to_default_company_membership_worker.rb
  db/data/20211026111541_backfill_non_member_clients_to_default_company_membership.rb
  engines/companies/app/services/companies/company_services.rb
  engines/companies/spec/services/companies/company_services_spec.rb
  spec/workers/backfill_non_member_clients_to_default_company_membership_worker_spec.rb
Labels: none

POL-2931: resolution to transit time discussion (#2351)
  db/data_schema.rb
  db/structure.sql
  engines/journey/app/models/journey/route_section.rb
  engines/journey/db/migrate/20211028140008_correct_route_section_transit_time_default.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/carriage.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/freight.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/routing/relay.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_creators/routing/freight_spec.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
Labels: migrations

POL-2935: removed faulty version of transit time logic (#2357)
  doc/api/swagger.json
  engines/api/app/decorators/api/v1/legacy_result_decorator.rb
  engines/journey/factories/journey/route_sections.rb
  engines/offer_calculator/app/services/offer_calculator/service/offer_creators/rate_overview.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
  spec/swagger_helper.rb
Labels: none

POL-2938: Enable cargoReadyDate on V2::Queries#create (#2358)
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/queries_controller.rb
  engines/api/app/serializers/api/v2/query_serializer.rb
  engines/api/spec/api/api/queries_spec.rb
  engines/api/spec/controllers/api/v2/queries_controller_spec.rb
  engines/api/spec/serializers/api/v2/query_serializer_spec.rb
  engines/wheelhouse/app/services/wheelhouse/query_service.rb
  engines/wheelhouse/spec/services/wheelhouse/query_service_spec.rb
Labels: none

POL-2917 shipment request notification (#2352)
  engines/api/app/services/api/shipment_request_creation_service.rb
  engines/api/spec/services/api/shipment_request_creation_service_spec.rb
  engines/journey/app/events/journey/shipment_request_created.rb
  engines/journey/app/models/journey/shipment_request.rb
  engines/journey/factories/journey/shipment_requests.rb
  engines/notifications/app/decorators/notifications/result_decorator.rb
  engines/notifications/app/jobs/notifications/offer_created/admin_notifier_job.rb
  engines/notifications/app/jobs/notifications/shipment_request_created_job.rb
  engines/notifications/app/mailers/notifications/admin_mailer.rb
  engines/notifications/app/mailers/notifications/client_mailer.rb
  engines/notifications/app/services/notifications/filter_builder.rb
  engines/notifications/app/services/notifications/subject_line.rb
  engines/notifications/app/services/notifications/subscription_filter.rb
  engines/notifications/app/views/notifications/admin_mailer/shipment_request_created.de.html.erb
  engines/notifications/app/views/notifications/admin_mailer/shipment_request_created.de.text.erb
  engines/notifications/app/views/notifications/admin_mailer/shipment_request_created.en.html.erb
  engines/notifications/app/views/notifications/admin_mailer/shipment_request_created.en.text.erb
  engines/notifications/config/locales/de.yml
  engines/notifications/config/locales/en.yml
  engines/notifications/lib/notifications/engine.rb
  engines/notifications/spec/decorators/notifications/result_decorator_spec.rb
  engines/notifications/spec/jobs/notifications/shipment_request_created_job_spec.rb
  engines/notifications/spec/mailers/notifications/admin_mailer_spec.rb
  engines/notifications/spec/mailers/previews/notifications/admin_preview.rb
  engines/notifications/spec/services/notifications/filter_builder_spec.rb
  engines/notifications/spec/services/notifications/subject_line_spec.rb
  engines/notifications/spec/services/notifications/subscription_filter_spec.rb
  engines/result_formatter/app/decorators/result_formatter/application_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/query_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
Labels: translations

chore: fix typo for alias task (#2360)
  lib/tasks/db/reload.rake
Labels: none

POL-2924 - Backfill Users::Clients that have no Settings or Profiles with default records. (#2361)
  app/workers/backfill_users_clients_with_no_settings_or_profiles_worker.rb
  db/data/20211104161644_backfill_users_clients_with_no_settings_or_profiles.rb
  db/data_schema.rb
  spec/workers/backfill_users_clients_with_no_settings_or_profiles_worker_spec.rb
Labels: none

[POL-2953] Reassign Users from invalid Company's to Default Company and prevent them from being created. (#2359)
  app/workers/backfill_invalid_company_users_to_default_worker.rb
  db/data/20211105075555_backfill_invalid_company_users_to_default.rb
  engines/idp/app/services/idp/saml_data_builder.rb
  engines/idp/spec/services/idp/saml_data_builder_spec.rb
  spec/workers/backfill_invalid_company_users_to_default_worker_spec.rb
Labels: none

[POL-2848] Support for nested hash scopes in admiralty (#2353)
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/organizations/app/models/concerns/content_setter.rb
  engines/organizations/app/models/organizations/scope.rb
  engines/organizations/spec/models/organizations/scope_spec.rb
  guides/admiralty/scope.rst
Labels: none

[POL-2806] SACO FCL Uploader Documentation (#2339)
  doc/conf.py
  doc/engines/excel_data_services/Column/index.rst
  doc/engines/excel_data_services/Conflicts/index.rst
  doc/engines/excel_data_services/Extractors/index.rst
  doc/engines/excel_data_services/Formatters/index.rst
  doc/engines/excel_data_services/Operations/index.rst
  doc/engines/excel_data_services/Overlaps/index.rst
  doc/engines/excel_data_services/Section/index.rst
  doc/engines/excel_data_services/Upload/index.rst
  doc/engines/excel_data_services/Validators/index.rst
  doc/engines/excel_data_services/cell_parser/index.rst
  doc/engines/excel_data_services/dynamic_columns/index.rst
  doc/engines/excel_data_services/dynamic_fees/index.rst
  doc/engines/excel_data_services/index.rst
  doc/engines/excel_data_services/model_initializer/index.rst
  doc/engines/excel_data_services/row_validation/index.rst
  doc/engines/excel_data_services/schemas/carrier/index.rst
  doc/engines/excel_data_services/schemas/charge_category/index.rst
  doc/engines/excel_data_services/schemas/index.rst
  doc/engines/excel_data_services/schemas/itinerary/index.rst
  doc/engines/excel_data_services/schemas/pricings/index.rst
  doc/engines/excel_data_services/schemas/routing_carrier/index.rst
  doc/engines/excel_data_services/schemas/saco_pricings/index.rst
  doc/engines/excel_data_services/schemas/tenant_vehicle/index.rst
  doc/engines/excel_data_services/sheet_type/index.rst
  doc/engines/excel_data_services/workflow/index.rst
  doc/engines/index.rst
Labels: none

POL-2936: Transit Time, the final pr. (#2365)
  doc/api/swagger.json
  engines/admiralty/app/admin/admiralty/organizations_admin.rb
  engines/api/app/decorators/api/v1/legacy_result_decorator.rb
  engines/api/spec/decorators/api/v1/legacy_result_decorator_spec.rb
  engines/organizations/data/default_scope.yaml
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/spec/decorators/result_formatter/result_decorator_spec.rb
  guides/admiralty/scope.rst
Labels: none

POL-2934 - Freight remarks aren't showing on quote (#2368)
  engines/excel_data_services/app/services/excel_data_services/inserters/pricing.rb
  engines/excel_data_services/factories/excel_data_restructured.rb
  engines/excel_data_services/spec/services/excel_data_services/inserters/pricing_edge_cases_spec.rb
Labels: none

POL-2942: inital commit (#2369)
  engines/legacy/app/models/legacy/address.rb
  engines/legacy/spec/models/legacy/address_spec.rb
Labels: none

POL-2928: ShipmentRequest PDF (#2362)
  app/assets/stylesheets/pdfs.scss.erb
  engines/api/app/services/api/shipment_request_creation_service.rb
  engines/api/spec/api/api/shipment_requests_spec.rb
  engines/api/spec/controllers/api/v2/shipment_requests_controller_spec.rb
  engines/api/spec/services/api/shipment_request_creation_service_spec.rb
  engines/journey/app/models/journey/shipment_request.rb
  engines/journey/factories/fixtures/example_pdf.pdf
  engines/journey/factories/journey/shipment_requests.rb
  engines/journey/spec/models/journey/shipment_request_spec.rb
  engines/notifications/app/mailers/notifications/admin_mailer.rb
  engines/notifications/spec/mailers/previews/notifications/admin_preview.rb
  engines/pdf/app/services/pdf/base.rb
  engines/pdf/app/services/pdf/quotation/admin.rb
  engines/pdf/app/services/pdf/quotation/client.rb
  engines/pdf/app/services/pdf/shipment/request.rb
  engines/pdf/app/views/pdf/partials/_notes_and_remarks.html.erb
  engines/pdf/app/views/pdf/partials/cargo/cargo_item.erb
  engines/pdf/app/views/pdf/partials/cargo/commodity_info_table.html.erb
  engines/pdf/app/views/pdf/partials/cargo/container.erb
  engines/pdf/app/views/pdf/partials/general/grand_total.html.erb
  engines/pdf/app/views/pdf/partials/notes.html.erb
  engines/pdf/app/views/shipments/pdfs/shipment_request.pdf.erb
  engines/pdf/spec/services/pdf/shipment/request_spec.rb
  engines/result_formatter/app/decorators/result_formatter/cargo_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/client_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/line_item_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/result_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/route_point_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/route_section_decorator.rb
  engines/result_formatter/app/decorators/result_formatter/shipment_request_decorator.rb
  engines/result_formatter/app/services/result_formatter/fee_table_service.rb
  engines/result_formatter/spec/decorators/result_formatter/line_item_decorator_spec.rb
  engines/result_formatter/spec/decorators/result_formatter/route_point_decorator_spec.rb
  engines/result_formatter/spec/decorators/result_formatter/route_section_decorator_spec.rb
  engines/result_formatter/spec/decorators/result_formatter/shipment_request_decorator_spec.rb
  engines/result_formatter/spec/services/result_formatter/fee_table_service_spec.rb
Labels: none

[POL-2952] Backfill invalid hub types with valid mot (#2370)
  app/workers/backfill_hub_type_with_valid_mot_worker.rb
  db/data/20211116105030_backfill_hub_type_with_valid_mot.rb
  spec/workers/backfill_hub_type_with_valid_mot_worker_spec.rb
Labels: none

This is not required (#2372)
  spec/workers/backfill_hub_type_with_valid_mot_worker_spec.rb
Labels: none

POL-2951: fix for transit time on siren (#2371)
  engines/api/app/controllers/api/v2/results_controller.rb
  engines/api/spec/controllers/api/v2/results_controller_spec.rb
  engines/offer_calculator/spec/services/offer_calculator/service/manipulators/pricings_spec.rb
Labels: none

[POL-2946] Limit hub_type attribute to valid modes_of_transport in hubs (#2374)
  app/models/hub.rb
  app/workers/backfill_hub_type_with_valid_mot_worker.rb
  db/data/20211116105030_backfill_hub_type_with_valid_mot.rb
  db/migrate/20211116173501_update_hub_type_with_mot_enum.rb
  db/structure.sql
  doc/engines/legacy/index.rst
  engines/legacy/app/models/legacy/hub.rb
  spec/models/hub_spec.rb
  spec/workers/backfill_hub_type_with_valid_mot_worker_spec.rb
Labels: migrations

POL-2949: cargo_item_types method retuns CargoItemTypes indexed by id (#2373)
  app/controllers/shipments_controller.rb
  spec/controllers/shipments_controller_spec.rb
Labels: none

[POL-2909] Endpoint for providing correct colli types (#2375)
  doc/api/swagger.json
  doc/engines/api/index.rst
  engines/api/app/controllers/api/v2/colli_types_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/colli_type_spec.rb
  engines/api/spec/controllers/api/v2/colli_types_controller_spec.rb
Labels: none

POL-2962: return cell value when Money parsing fails (#2377)
  engines/excel_data_services/factories/section_data.rb
  engines/excel_data_services/lib/roo/sheet_money.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/sheet_type_spec.rb
  spec/fixtures/files/excel/example_pricings.xlsx
Labels: none

POL-2963: fix for mandatory local charges (#2379)
  engines/offer_calculator/app/services/offer_calculator/service/offer_sorter.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter_spec.rb
Labels: none

POL-2963: Pt2 - first pr did not meet ops requirements (#2380)
  engines/offer_calculator/app/services/offer_calculator/service/offer_sorter.rb
  engines/offer_calculator/spec/services/offer_calculator/service/offer_sorter_spec.rb
Labels: none

POL-2860: Hub Uploader (#2376)
  Gemfile.lock
  config/initializers/01-ext.rb
  db/data_schema.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/address.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/base.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/carta_locode_data.rb
  engines/excel_data_services/app/services/excel_data_services/v2/extractors/mandatory_charge.rb
  engines/excel_data_services/app/services/excel_data_services/v2/files/file_data/hubs
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/hubs
  engines/excel_data_services/app/services/excel_data_services/v2/files/section_data/nexus
  engines/excel_data_services/app/services/excel_data_services/v2/files/tables/column.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/hub.rb
  engines/excel_data_services/app/services/excel_data_services/v2/formatters/nexus.rb
  engines/excel_data_services/app/services/excel_data_services/v2/operations/dynamic/data_column.rb
  engines/excel_data_services/app/services/excel_data_services/v2/upload.rb
  engines/excel_data_services/app/services/excel_data_services/v2/validators/carta_locode_data.rb
  engines/excel_data_services/app/services/excel_data_services/v2/validators/mandatory_charge.rb
  engines/excel_data_services/app/services/excel_data_services/validators/header_checker.rb
  engines/excel_data_services/excel_data_services.gemspec
  engines/excel_data_services/factories/section_data.rb
  engines/excel_data_services/spec/services/excel_data_services/data_frames/combinators/truckings/rates_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/address_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/extractors/mandatory_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/files/section_hubs_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/hub_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/formatters/nexus_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/validators/carta_locode_data_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/v2/validators/mandatory_charge_spec.rb
  engines/excel_data_services/spec/services/excel_data_services/validators/type_validity/types/mode_of_transport_type_spec.rb
  engines/legacy/app/models/legacy/hub.rb
  engines/legacy/factories/legacy/hubs.rb
  engines/legacy/factories/legacy/mandatory_charges.rb
  guides/data/hubs.rst
  spec/fixtures/files/excel/example_hubs_slim.xlsx
Labels: none

POL-2966: only apply aggregated MaxDimensions to CargoUnits with cargo_class 'aggregated_lcl' (#2383)
  engines/offer_calculator/app/services/offer_calculator/service/measurements/cargo.rb
  engines/offer_calculator/app/services/offer_calculator/service/validations/cargo_item_validation_service.rb
  engines/offer_calculator/spec/services/offer_calculator/service/validations/cargo_item_validation_service_spec.rb
Labels: none

[POL-2957] Email Recognition endpoint (#2382)
  Gemfile
  Gemfile.lock
  config.ru
  config/initializers/rack_attack.rb
  doc/api/swagger.json
  doc/engines/api/index.rst
  engines/api/app/controllers/api/v2/users_controller.rb
  engines/api/app/decorators/api/v2/user_decorator.rb
  engines/api/app/serializers/api/v2/user_serializer.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/users_spec.rb
  engines/api/spec/controllers/api/v2/users_controller_spec.rb
  engines/api/spec/decorators/api/v2/user_decorator_spec.rb
  engines/organizations/app/models/organizations/organization.rb
  engines/users/app/models/users/user.rb
  spec/config/initializers/rack_attack_spec.rb
Labels: none

POL-2967: Only return Agg lcl in aggregatedCargo attribute for dipper. (#2384)
  engines/api/app/decorators/api/v1/legacy_cargo_unit_decorator.rb
  engines/api/app/decorators/api/v1/legacy_query_decorator.rb
  engines/api/spec/decorators/api/v1/legacy_cargo_unit_decorator_spec.rb
  engines/api/spec/decorators/api/v1/legacy_query_decorator_spec.rb
Labels: none

[POL-2968] Fix for committee::invalidresponse with route v2/users/validate (#2386)
  doc/api/swagger.json
  engines/api/spec/api/api/users_spec.rb
Labels: none

POL-2903: Auth Results Controller (#2385)
  engines/api/app/controllers/api/v2/results_controller.rb
  engines/api/spec/api/api/results_spec.rb
  engines/api/spec/controllers/api/v2/results_controller_spec.rb
Labels: none

[POL-2959] Password Reset endpoint (#2389)
  Gemfile
  Gemfile.lock
  doc/api/swagger.json
  engines/api/app/controllers/api/v2/passwords_controller.rb
  engines/api/app/controllers/api/v2/users_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/passwords_spec.rb
  engines/api/spec/controllers/api/v2/passwords_controller_spec.rb
  engines/api/spec/controllers/api/v2/users_controller_spec.rb
Labels: none

POL-2969: fixed creation service to update restored profiles and downcase email (#2388)
  engines/api/app/services/api/client_creation_service.rb
  engines/api/spec/services/api/client_creation_service_spec.rb
Labels: none

POL-2970: Hub Writer not writing terminal info (#2390)
  engines/excel_data_services/app/services/excel_data_services/file_writers/hubs.rb
  engines/excel_data_services/spec/services/excel_data_services/file_writers/hubs_spec.rb
Labels: none

[POL-2965] Adding a after create method to create org specific defaults (#2395)
  engines/admiralty/app/models/admiralty/organization.rb
  engines/admiralty/factories/admiralty/organization.rb
  engines/admiralty/lib/admiralty/engine.rb
  engines/admiralty/spec/services/admiralty/organization_spec.rb
  engines/organization_manager/app/services/organization_manager/auxilliary_setup_service.rb
  engines/organization_manager/spec/services/organization_manager/auxilliary_setup_service_spec.rb
Labels: none

[POL-2958] V2 Endpoint for request password reset (#2391)
  doc/api/swagger.json
  engines/api/app/controllers/api/api_controller.rb
  engines/api/app/controllers/api/v2/passwords_controller.rb
  engines/api/app/controllers/api/v2/users_controller.rb
  engines/api/config/routes.rb
  engines/api/spec/api/api/passwords_spec.rb
  engines/api/spec/api/api/users_spec.rb
  engines/api/spec/controllers/api/api_controller_spec.rb
  engines/api/spec/controllers/api/v2/passwords_controller_spec.rb
  engines/api/spec/controllers/api/v2/users_controller_spec.rb
  engines/notifications/app/mailers/notifications/application_mailer.rb
  engines/notifications/app/mailers/notifications/user_mailer.rb
  engines/notifications/app/views/notifications/partials/_reset_password_email.en.text.erb
Labels: none

[POL-2985] Support Referer with trailing slash for reset password endpoint (#2396)
  engines/api/app/controllers/api/api_controller.rb
  engines/api/spec/controllers/api/api_controller_spec.rb
Labels: none
